script(src="js/plugins/jquery-3.4.1.min.js")
script(src="js/plugins/popper.min.js")
script(src="js/plugins/bootstrap.js")
  
script(src='js/plugins/datepicker.min.js')

script(src="js/plugins/jquery.formstyler.min.js")
script(src="js/plugins/jquery.maskedinput.js")
script(src="js/plugins/slick.js")
script(src="js/plugins/jquery.magnific-popup.js")
script(src="js/plugins/jquery.nanoscroller.min.js")
script(src="js/plugins/readmore.min.js")
script(src="js/plugins/select2.min.js")
  
script(src="js/plugins/jquery.mCustomScrollbar.js")
script(src="js/plugins/jquery.mCustomScrollbar.concat.min.js")
  

script(src="./js/index.js")
  
script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=103ba73d-586f-49f7-9662-c26f48f3fcee"  type="text/javascript")
script(src="js/map.js" type="text/javascript")

