@import 'mixins';


@import 'global-fonts';


$color-white: #FFFFFF;
$color-black: #000000;
$color-grayLight:#F2F3F7;
$color-gray1: #333333;
$color-gray2: #4F4F4F;
$color-gray3: #828282;
$color-red: #b54949;



$TahomaRegular:'Tahoma-Regular';
$MontserratMedium:"Montserrat-Medium";




@function rem($px) {
  @return $px / 16px + 0rem;
}



@function size-w($size, $vw) {
  @return (100 / ($vw / $size)) * 1vw;
}




*{
  box-sizing: border-box;
}

html{
  font-size: 16px;
  overflow-x: hidden;
}

body {
  font-family: $TahomaRegular, Arial, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  color:  #555555;
  overflow-x: hidden;
  font-size: rem(16px);
  text-rendering: auto;
  line-height: 19px;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  outline: none !important;
}





h1, h2, h3, h4,
.h1, .h2, .h3, .h4{
  margin: 0;
  padding: 0;
}


ul, li{
  padding: 0;
  margin: 0;
  list-style: none;
}

p{
  color:  #555555;
  margin: 0;
}


button, a, input{
  outline: none;
  &:focus, &:visited{
    text-decoration: none;
    outline: none;
  }
}

a{
  color:  #555555;
  &:hover{
    text-decoration: none;
    color: inherit;
  }
}

label{
  margin: 0;
}
body,html{
  width: 100vw;
  max-width: 100vw;
}

.price{
  white-space: nowrap;
}

