@font-face {
  font-family: 'Tahoma-Regular';
  src: url('../fonts/Tahoma-Regular.eot');
  src: url('../fonts/Tahoma-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Tahoma-Regular.woff2') format('woff2'),
  url('../fonts/Tahoma-Regular.woff') format('woff'),
  url('../fonts/Tahoma-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../fonts/Montserrat-Medium.eot');
  src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-Medium.woff2') format('woff2'),
  url('../fonts/Montserrat-Medium.woff') format('woff'),
  url('../fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


//@font-face {
//  font-family: 'Raleway-Regular';
//  src: url('../fonts/Raleway-Regular.eot');
//  src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/Raleway-Regular.woff2') format('woff2'),
//  url('../fonts/Raleway-Regular.woff') format('woff'),
//  url('../fonts/Raleway-Regular.ttf') format('truetype'),
//  url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
//  font-weight: normal;
//  font-style: normal;
//  font-display: swap;
//}





//@font-face {
//  font-family: 'Raleway-Bold';
//  src: url('../fonts/Raleway-Bold.eot');
//  src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/Raleway-Bold.woff2') format('woff2'),
//  url('../fonts/Raleway-Bold.woff') format('woff'),
//  url('../fonts/Raleway-Bold.ttf') format('truetype');
//  font-weight: bold;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Raleway-SemiBold';
//  src: url('../fonts/Raleway-SemiBold.eot');
//  src: url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
//  url('../fonts/Raleway-SemiBold.woff') format('woff'),
//  url('../fonts/Raleway-SemiBold.ttf') format('truetype');
//  font-weight: 600;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Raleway-Medium';
//  src: url('../fonts/Raleway-Medium.eot');
//  src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/Raleway-Medium.woff2') format('woff2'),
//  url('../fonts/Raleway-Medium.woff') format('woff'),
//  url('../fonts/Raleway-Medium.ttf') format('truetype');
//  font-weight: 500;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Raleway-Regular';
//  src: url('../fonts/Raleway-Regular.eot');
//  src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/Raleway-Regular.woff2') format('woff2'),
//  url('../fonts/Raleway-Regular.woff') format('woff'),
//  url('../fonts/Raleway-Regular.ttf') format('truetype'),
//  url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
//  font-weight: normal;
//  font-style: normal;
//  font-display: swap;
//}
//
//
//
//@font-face {
//  font-family: 'Montserrat-SemiBold';
//  src: url('../fonts/Montserrat-SemiBold.eot');
//  src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
//  url('../fonts/Montserrat-SemiBold.woff') format('woff'),
//  url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
//  font-weight: 600;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Montserrat-Regular';
//  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
//  url('../fonts/Montserrat-Regular.woff') format('woff'),
//  url('../fonts/Montserrat-Regular.ttf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//  font-display: swap;
//}

