@media (min-width: 320px) and (max-width: 1200px) {


}

@media screen and (max-width: 1400px) {

  #upbutton{
    right: 50px;
  }

}


@media screen and (max-width: 1300px) {
  html {
    font-size: 14px;
  }



}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1140px) {
  html {
    font-size: 13px;
  }
  .header-person{
    margin-right: 30px;
  }

  .header-menu__item{
    margin-right: 22px;
  }
}


@media screen and (max-width: 991px) {
  html {
    font-size: 16px;
  }
  body {
    font-size: 12px;
    line-height: 14px;
  }


  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .slider__wrap-contacts,
  .banner-slider__wrap,
  .slider-popular__wrap,
  .slider-brands__wrap,
  .slider-about__wrap,
  .slider-team__wrap
  {
    margin-right: calc((-100% - 61.938rem) / 2);
    border-radius: 4px;
    overflow: hidden;
  }

  .banner-slider__wrap{
    height: auto;
  }

  .header-mob__wrap{
    margin-bottom: 12px;
  }

  .logo-img{
    @include width-flex(155px)
  }

  .header-mob__top{
    padding: 20px 0 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-mob__left{
    display: flex;
    align-items: center;
  }
  .header-login{
    font-size: 13px;
    line-height: 16px;
  }

  .header-mob__middle{
    padding: 10px 0 9px;
  }

  .header-mob__bottom{
    padding: 10px 0 31px;
  }

  .header-mob__catalog{
    display: flex;
    align-items: center;
    padding: 16px 0;
  }
  
  .header-mob__info{
    font-size: 10px;
    line-height: 12px;
    color: #B8B8B8;
  }
  
  .header-bottom-menu__link{
    font-size: 16px;
    line-height: 19px;
    color: #555555;
  }

  .header-person{
    font-size: 12px;
    line-height: 14px;
    margin-right: 0;
  }
  .header-person__block{
    justify-content: space-between;
    margin-right: 0;
  }
  
  .basket-sum{
    font-size: 12px;
    line-height: 14px;
    bottom: -21px;
  }

  .icon-basket:before{
    @include width-flex(25px)
    height: 23px;
  }
  .icon-heart:before{
    @include width-flex(25px)
    height: 23px;
  }
  .count-round{
    top: -12px;
  }
  
  .search-input{
    border: 1px solid #C4C4C4;
    border-radius: 7px;
    font-size: 12px;
    line-height: 14px;
    color: #4C4C4C;
    @include placeholder(#878787, 12px)
  }
  .header-search__wrap{
    margin-left: 26px;
    width: 100%;
  }

  .search-link{
    top: 9px;
  }
  
  .search-link .icon-search{
    width: 17px;
    height: 17px;
  }

  .banner-slider__item{
    width: 241px;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    
  }
  .banner{
    padding: 14px 14px;
    height: 92px;
  }

  .banner-slider__title{
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
  }
  
  .banner-slider__text{
    font-size: 10px;
    line-height: 12px;
    .span-br{
      display: inline;
    }
  }

  .section-banner-slider{
    margin-bottom: 27px;
  }
  
  .main-title{
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 25px;
  }

  .button-text{
    font-size: 14px;
    line-height: 17px;
  }

  .button{
    height: 50px;
  }

  .button-green{
    font-size: 14px;
    line-height: 17px;
  }
  .section-feedback .button-green{
    width: 100%;
    max-width: 100%;
    margin-top: 17px;
  }

  .slider-popular__item{
    width: 240px;
    margin: 10px 5px;
  }

  .slider-popular__wrap{
    margin-left: 0;
  }

  .slider-popular-img__wrap{
    height: 230px;
  }
  
  .footer-mob{
    margin-top: 50px;
    background: #E2E2E2;
    padding: 28px 0;
  }

  .footer-mob__wrap{
    margin-left: 20px;
  }

  .footer-menu__link{
    font-size: 12px;
    line-height: 14px;
  }

  .footer-menu__item{
    margin-bottom: 15px;
  }

  .footer-menu__list{
    margin-bottom: 28px;
  }
  
  .footer-logo__wrap{
    margin-top: 0;
    margin-bottom: 8px;
  }

  .footer-info__text{
    font-size: 12px;
    line-height: 14px;
  }

  .brands__wrap{
    margin-left: 0;
  }


  .product-items__wrap,
  .news-main-items__wrap,
  .feedback-items__wrap{
    margin-right: calc((-100% - 61.938rem) / 2);
  }

  .product-items__wrap.test{
    overflow-x: auto;
  }

  .product-item__block,
  .news-main-item__block,
  .feedback-item__block{
    @include width-flex(240px)
    margin-right: 10px;
  }
  
  .product-item,
  .news-main__item,
  .feedback-item{
    &:hover{
      box-shadow: none;
    }
  }

  
  .product-item__block{
    &:hover{
      .product-item{
        position: relative;
        box-shadow: none;
      }
      .product-add{
        display: none;
      }

      .product-img__wrap{
        margin-bottom: 4px;
      }
      .product-category{
        margin-bottom: 3px;
      }
      .product-title{
        line-height: 14px;
        margin-bottom: 13px;
      }
      .product-comment{
        display: block;
      }
      .product-desc{
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 13px;
      }
      .product-price{
        font-size: 12px;
        line-height: 14px;
      }
      .price-count{
        font-size: 14px;
        line-height: 14px;
      }
    }
  }

  .product-item{
    padding: 7px 12px 22px;
  }
  
  .news-main__item{
    padding: 16px 14px 22px;
  }
  
  
  
  .product-category{
    font-size: 12px;
    line-height: 14px;
  }

  .product-title{
    font-size: 11px;
    line-height: 14px;
    margin-bottom: 13px;
  }

  .product-desc{
    font-size: 12px;
    line-height: 14px;
  }
  
  .product-price{
    font-size: 12px;
    line-height: 14px;
  }
  .price-count{
    font-size: 14px;
    line-height: 14px;
  }

  .product-img__wrap{
    height: 180px;
  }

  .section-product{
    margin-bottom: 32px;
  }

  .section-sliders{
    margin-bottom: 27px;
  }

  .product-date,
  .news-main__date,
  .feedback-date{
    font-size: 12px;
    line-height: 14px;
  }

  .news-main__title{
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 14px;
  }
  
  .feedback-title{
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 14px;
  }

  .feedback-subtitle{
    font-size: 14px;
    line-height: 17px;
  }

  .feedback-desc{
    font-size: 14px;
    line-height: 17px;
  }

  .news-main__desc{
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 27px;
  }

  .news-main__item .button-text{
    font-size: 12px;
    line-height: 14px;
  }
  
  .feedback-item .button-text{
    font-size: 14px;
    line-height: 17px;
  }
  

  .section-news{
    margin-bottom: 32px;
  }

  .banner-main__wrap{
    margin-right: calc((-100% - 61.938rem) / 2);
    .banner-main{
      width: 241px;
      margin-right: 10px;
      @include last-mr-0
    }
  }

  .section-feedback{
    margin-bottom: 32px;
  }

  .section-brands{
    margin-bottom: 27px;
  }

  .brand-item {
    margin-left: 0;
    margin-right: 10px;
    &:hover{
      box-shadow: none;
    }
  }

  .slider-popular__item{
    &:hover{
      box-shadow: none;
    }
  }

  .product-info__block{
    margin-bottom: 16px;
  }

  .product-info__desc{
    font-size: 12px;
    line-height: 14px;
  }

  .product-info__block.product-link .button-text{
    font-size: 12px;
    line-height: 14px;
  }

  .product-view__wrap{
    .product-price{
      font-size: 16px;
      line-height: 19px;
    }
    .price-count{
      font-size: 18px;
      line-height: 19px;
    }
  }

  .product-price__add{
    font-size: 12px;
    line-height: 14px;
    color: #4C4C4C;
    margin-bottom: 16px;
  }

  .product-add .button-green{
    width: 189px;
  }
  
  .product-add{
    .buttons-line__wrap{
      justify-content: flex-start;
    }
  }

  .button-favor{
    @include width-flex(50px)
    margin-left: 10px;
    svg{
      width: 28px;
      height: 24px;
    }
  }

  .product-info__block.product-rating{
    margin-top: 17px;
    
  }
  .product-rating__wrap{
    margin-top: 1px;
    margin-bottom: 20px;
  }
  
  .product-rating__value{
    font-size: 14px;
    line-height: 14px;
  }
  .product-rating__stars-wrap .feedback-rating__text{
    font-size: 12px;
    line-height: 14px;
  }
  .product-list__item{
    margin-bottom: 20px;
  }
  .catalog-product__wrap{
    margin-bottom: 20px;
  }
  .product-info__subtitle{
    font-size: 12px;
    line-height: 14px;
  }
  
  .product-info__block.product-brand {
    .product-info__desc{
      font-size: 12px;
      line-height: 14px;
    }
    
  }
  
  .page-product{
    .product-info__subtitle{
      margin-top: 6px;
    }
  }
  .page-product .product-list__item{
    padding-bottom: 10px;
  }
  
  .feedback-head__title{
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
  }
  .feedback-head__wrap .feedback-rating__text{
    font-size: 12px;
    line-height: 14px;
  }
  .feedback-head__wrap .product-rating__value{
    font-size: 16px;
    line-height: 14px;
  }

  .feedback-head__wrap .feedback-rating__wrap{
    margin-left: 4px;
    margin-right: 5px;
  }
  
  .feedback-head__wrap .product-rating__value{
    margin-right: 0;
  }
  
  .feedback-head__wrap .button-green{
    margin-top: 20px;
    width: 100%;
  }
  
  .feedback-head__wrap{
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
  
  .feedback-detail__title{
    font-size: 16px;
    line-height: 19px;
    color: #4C4C4C;
    margin-bottom: 8px;
  }

  .feedback-rating__text{
    font-size: 14px;
    line-height: 17px;
  }

  .text-block__wrap{
    padding-right: 30px;
  }
  
  .text-block__title{
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 5px;
  }
  .text-block__desc{
    font-size: 12px;
    line-height: 14px;
  }

  .feedback-detail__date{
    font-size: 14px;
    line-height: 17px;
  }

  .feedback-reply__arrow{
    top: -15px;
    left: 45px;
  }
  
  .feedback-reply__wrap{
    margin-top: 50px;
    padding-top: 20px;
  }

  .section-feedback-detail{
    margin-bottom: 20px;
  }

  .humb-block{
    margin-right: 8px;
  }

  .humb-img{
    @include width-flex(32px)
    height: 32px;
  }

  
  .humb-red-img{
    @include width-flex(44px)
    height: 40px;
  }

  .section-banners{
    margin-bottom: 27px;
  }

  .img-error.error1{
    width: 104px;
  }
  .img-error.error2{
    width: 279px;
  }
  .img-error.error3{
    width: 294px;
  }
  
  .not-found__right{
    margin-left: 0;
    margin-top: 30px;
  }
  .not-found__title{
    font-size: 16px;
    line-height: 19px;
    text-transform: lowercase;
    margin-bottom: 16px;
  }

  .not-found__info{
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 30px;
  }

  .h1{
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 40px;
  }
  

  .page{
    padding-top: 30px;
  }

  .page-working .desc{
    margin-bottom: 26px;
  }

  .page-working .desc .p{
    font-size: 16px;
    line-height: 19px;
  }

  .working-type__title{
    font-size: 16px;
    line-height: 19px;
  }

  .working-type__item{
    padding-top: 30px;
    padding-left: 0;
    @include last-mb-0
  }

  .working-type__text{
    font-size: 12px;
    line-height: 14px;
    
  }

  .page-info{
    .h1{
      color: #4C4C4C;
    }
  }

  .news-list__date{
    font-size: 12px;
    line-height: 14px;
    color: #4C4C4C;
  }

  .news-list__title{
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 14px;
  }
  
  .news-list__text{
    font-size: 12px;
    line-height: 14px;
    color: #4C4C4C;
    margin-bottom: 14px;
  }

  .news-list__item{
    box-shadow: none;
    padding: 0 0 30px 0;
    margin-bottom: 30px;
    border-bottom: 1px solid #C4C4C4;
    border-radius: 0;
    &:last-child{
      border-bottom: none;
    }
  }

  .news-list__item .button-text.button-black{
    font-size: 12px;
    line-height: 14px;
    color: #4C4C4C;
  }

  .news-list__wrap{
    margin-bottom: 0;
  }
  
  .catalog-bottom__wrap .button-text, 
  .news-list-bottom__wrap .button-text{
    font-size: 14px;
    line-height: 17px;
    color: #4C4C4C;
  }

  .paginator-link{
    font-size: 14px;
    line-height: 17px;
    width: 32px;
    min-width: 32px;
    padding: 7px 0;
  }

  .paginator li{
    width: 32px;
    min-width: 32px;
  }

  .paginator li svg{
    height: 10px;
  }
  
  .paginator-item{
    margin-right: 5px;
  }

  .paginator-arrow-left, .paginator-arrow-right{
    margin-left: 0;
    margin-right: 0;
  }
  
  .paginator-wrap{
    margin-top: 20px;
  }

  .h3{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
  }

  .page-public .desc{
    margin-bottom: 30px;
    line-height: 21px;
  }
  
  

  .page-pk,
  .page-rules{
    .desc{
      margin-bottom: 0;
    }
    .desc .p{
      color: #4C4C4C;
      margin-bottom: 30px;
      @include last-mb-0
    }
  }


  .h4{
    font-size: 14px;
    line-height: 17px;
  }

  .page-sizes .desc{
    margin-bottom: 30px;
  }
  
  .page-sizes .button-text{
    font-size: 12px;
    line-height: 14px;
  }

  .page-partnership{
    .p .button-text{
      font-size: 12px;
      line-height: 14px;
    }
  }

  .contact-block__title{
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 30px;
  }

  .contact-block__info{
    padding-top: 30px;
  }

  .contact-block__item{
    padding: 20px;
    .text-big{
      font-size: 16px;
      line-height: 19px;
    }
  }
  
  .contact-block__text{
    font-size: 12px;
    line-height: 14px;
    .span-br-mob{
      display: block;
    }
    .contact-subtitle{
      font-size: 16px;
      line-height: 19px;
    }
  }

  .contact-block__wrap{
    margin-bottom: 30px;
  }
  
  .contact-block__text-title{
    font-size: 16px;
    line-height: 19px;
  }

  .maps__wrap{
    height: 220px;
  }
  
  
  
  .contact-block__title{
    display: flex;
    &:after{
      margin-right: 30px;
    }
  }

  .slider-contacts-img__wrap{
    border-radius: 0;
  }

  .slider-contacts__item{
    
    margin-right: 10px;
  }

  .slider-contacts-img__wrap{
    width: 139px;
  }

  .table__wrap{
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 30px;
    padding-right: 0;
  }

  .page-favorite,
  .page-cart{
    .buttons-line__wrap{
      width: 250px;
      display: block;
      .button-text{
        display: inline-block;
        margin-bottom: 20px;
        @include last-mb-0
      }
    }
  }

  .page-favorite .button-text,
  .page-cart .button-text{
    font-size: 12px;
    line-height: 14px;
  }

  .page-favorite .button-green, 
  .page-cart .button-green{
    margin-top: 30px;
    width: 335px;
  }

  .attention__wrap{
    margin: 30px 0;
  }

  .attention-text.title{
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
  }

  .attention-text{
    font-size: 12px;
    line-height: 14px;
  }

  .pay-list__title{
    font-size: 16px;
    line-height: 19px;
  }

  .pay-list__text{
    font-size: 12px;
    line-height: 14px;
  }

  .info-accord__title{
    font-size: 16px;
    line-height: 19px;
  }

  .info-accord__block{
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 0;
    margin-left: 0;
  }

  .info-accord__block .p{
    margin-bottom: 20px;
  }

  .page-pay .info-accord__item{
    margin-bottom: 0;
  }

  .page-pay .info-accord__wrap{
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #E6E6E6;
  }

  .page-delivery .desc .p{
    font-size: 12px;
    line-height: 14px;
    color: #4C4C4C;
  }

  .info-accord__wrap{
    margin: 30px 0;
  }
  
  .info-accord__item{
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .h2{
    font-size: 16px;
    line-height: 19px;
  }
  .list-marker__item{
    font-size: 12px;
    line-height: 14px;
  }

  .block-gray{
    padding: 24px 10px 32px;
    font-size: 12px;
    line-height: 14px;
  }

  .news-item__date{
    font-size: 14px;
    line-height: 17px;
  }
  .news-item__title{
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 44px;
  }
  
  .page-news{
    .p{
      font-size: 12px;
      line-height: 22px;
    }
    .button-text{
      font-size: 12px;
    }
  }
  
  .table-news{
    font-size: 12px;
    line-height: 22px;
    .td-name{
      width: auto;
    }
    td.td {
      padding: 0 0 0 10px;
    }
    
  }
  
  .news-img__text{
    font-size: 12px;
    line-height: 22px;
  }

  .news-img__block{
    display: block;
  }

  .article-item__wrap .p{
    font-size: 12px;
    line-height: 14px;
  }
  .page-article .button-text{
    font-size: 12px;
    line-height: 14px;
  }

  .article-item__wrap{
    margin-bottom: 30px;
  }

  .menu-left__wrap{
    display: none;
  }
  
  .page-feedback-list .button-green{
    width: 100%;
  }
  .page-feedback-list .buttons__wrap{
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .feedback-list__item{
    border: 1px solid #E5E5E5;
    border-radius: 6px;
    padding: 20px 25px;
  }

  .page-feedback{
    .feedback-list__rating-block{
      display: block;
    }

    .feedback-rating__block{
      display: block;
    }

    .feedback-detail__method{
      margin-left: 0;
      margin-bottom: 18px;
      font-size: 12px;
      line-height: 14px;
    }

    .feedback-rating__wrap{
      margin-bottom: 18px;
      width: 70px;
    }

    .feedback-rating__empty,
    .feedback-rating__full{
      height: rem(14px);
      background-size: rem(14px) rem(14px);
    }
    .input-block{
      margin-bottom: 30px;
    }
    .textarea{
      height: 80px;
      padding: 10px 20px;
    }
  }

  .page-feedback .feedback-rating__text{
    font-size: 12px;
    line-height: 14px;
  }

  .page-feedback .text-block__title{
    font-size: 12px;
    line-height: 14px;
  }
  .page-feedback .text-block__desc{
    font-size: 12px;
    line-height: 14px;
  }
  .page-feedback .feedback-detail__date{
    font-size: 12px;
    line-height: 14px;
    color: #A9AEB2;
  }

  .feedback-item__title{
    font-size: 16px;
    line-height: 19px;
    color: #4C4C4C;
  }
  
  .feedback-send__title{
    font-size: 16px;
    line-height: 19px;
    color: #4C4C4C;
    margin-bottom: 23px;
  }

  .feedback-send__wrap .text-block__title{
    font-size: 16px;
    line-height: 19px;
  }

  .feedback-send__inputs .text-block__title{
    margin-bottom: 10px;
  }

  .page-feedback .button-green{
    width: 100%;
  }
  .page-feedback .text-block__wrap{
    padding-right: 0;
    margin-bottom: 30px;
  }
  
  

  .page-discount{
    .desc{
      line-height: 20px;
    }
  }

  .discount-level{
    min-height: 150px;
  }

  .discount-level__left{
    padding-right: 29px;
    border-right: 2px solid #4C4C4C;
    @include width-flex(250px)
    &:before {
      right: -21px;
      @include width-flex(40px)
      height: 40px;
    }
  }

  .discount-level__right{
    padding-left: 42px;
    @include width-flex(350px)
  }
  

  .discount-level__left,
  .discount-level__right{
    .span-br-mob{
      display: block;
    }
  }

  .discount__wrap{
    overflow-x: auto;
    margin-right: -20px;
  }

  .discount-level__title{
    margin-bottom: 0;
  }

  .discount-value{
    font-size: 30px;
    line-height: 36px;
  }

  .input__wrap{
    height: 45px;
  }

  .input-block__title{
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 8px;
    margin-left: 0;
    text-transform: none;
  }

  .input-block{
    margin-bottom: 20px;
  }

  .lk-info__block{
    margin-bottom: 30px;
  }

  .lk-address__wrap{
    padding-left: 0;
  }

  .lk-address__info-title{
    font-size: 14px;
    line-height: 17px;
  }
  

  .lk-address__item{
    display: block;
  }

  .lk-address__item .input-text{
    font-size: 12px;
    line-height: 14px;
    height: 33px;
  }

  .lk-address__info{
    @include width-flex(70%)
  }
  
  .edit-block{
    margin-top: 10px;
    margin-bottom: 39px;
  }

  .edit-block .button-text{
    margin-left: 48px;
    font-size: 12px;
    line-height: 14px;
  }
  
  .edit-block .button-text:first-child{
    margin-left: 0;
    font-size: 12px;
    line-height: 14px;
  }

  .agreement__block{
    margin-bottom: 30px;
  }
  
  .agreement__block .checkbox-text{
    font-size: 12px;
    line-height: 14px;
  }

  .page-profile .button-text,
  .page-registration .button-text{
    font-size: 12px;
    line-height: 14px;
  }
  
  .page-profile .button-green{
    width: 100%;
  }

  .lk-status__wrap .p{
    font-size: 12px;
    line-height: 14px;
    .span-br-mob{
      display: block;
    }
  }

  .span-status{
    font-size: 16px;
    line-height: 19px;
  }

  .lk-status__wrap .button-text{
    font-size: 12px;
    line-height: 14px;
  }

  .page-profile .buttons-line__wrap{
    margin-bottom: 30px;
  }

  .input__wrap.input-big{
    width: 100%;
  }
  


  .input__wrap.input-little{
    width: 100%;
  }

  .page-registration .button-green{
    width: 100%;
  }

  .step-title{
    font-size: 16px;
    line-height: 19px;
    .span-br-mob{
      display: block;
      margin-bottom: 8px;
    }
  }

  .input-comment{
    text-align: left;
    margin-bottom: 20px;
  }

  .promo-info{
    padding-left: 0;
    display: block;
    .button-text{
      display: inline-block;
      margin-bottom: 20px;
      @include last-mb-0
      font-size: 12px;
      line-height: 14px;
    }
  }

  .step__wrap{
    margin-bottom: 30px;
  }

  .step-1 .button-green{
    width: 100%;
    margin-top: 30px;
  }

  .select2-container--default .select2-selection--single{
    height: 45px;
    padding: 8px 24px;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 10px;
  }

  .select2-container--open .select2-dropdown--below, .select2-container--open .select2-dropdown--above{
    padding: 6px 14px;
  }

  .select2-results__option{
    font-size: 12px;
    line-height: 14px;
    
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-top: 7px solid #ACACAC;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
  }


  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
    border-bottom: 7px solid #ACACAC;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow b{
    left: 100%;
  }


  .radio-block__item{
    width: 158px;
  }

  .tabs__item{
    margin-bottom: 14px;
  }
  
  .tabs__wrap{
    .radio-block__wrap{
      margin-bottom: 6px;
    }
  }

  .radio-block__check{
    height: 10px;
  }

  .step__wrap .desc .button-text{
    font-size: 12px;
    line-height: 14px;
  }

  .jq-selectbox{
    height: 45px;
  }

  .jq-selectbox__trigger-arrow{
    top: 19px;
  }

  .jq-selectbox__trigger-arrow{
    border-top: 7px solid #ACACAC;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
  }

  .jq-selectbox__select:hover .jq-selectbox__trigger-arrow{
    border-top: 7px solid #ACACAC;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
  }

  .jq-selectbox__dropdown{
    top: 43px;
    padding: 6px 14px;
  }
  .jq-selectbox li{
    font-size: 14px;
    line-height: 17px;
  }

  .result-block__wrap{
    margin-top: 0;
  }
  
  .sum-description{
    font-size: 16px;
    line-height: 19px;
    width: 178px;
  }
  
  .sum-value{
    font-size: 16px;
    line-height: 19px;
  }
  
  .sum__wrap{
    margin-bottom: 23px;
  }

  .sum-total{
    margin-top: 30px;
    padding-top: 30px;
    margin-bottom: 30px;
  }

  .result-block__wrap .button-green{
    width: 100%;
  }

  .agreement-button{
    display: flex;
    flex-direction: column-reverse;
  }

  .agreement{
    margin-top: 14px;
    margin-bottom: 0;
    .button-text{
      font-size: 12px;
      line-height: 14px;
      
    }
  }

  .step__wrap .maps__wrap{
    border-radius: 0;
    height: 220px;
    margin-left: -20px;
    width: calc(100% + 40px);
    iframe{
      width: 100%;
    }
  }

  .post-address__wrap .input-block__title{
    font-size: 12px;
    line-height: 14px;
  }

  .post-address{
    margin-left: 0;
    margin-bottom: 46px;
    padding-right: 50px;
  }

  .slider-about__item{
    width: 193px;
    margin-right: 10px;
  }

  .slider-about-img__wrap{
    height: 130px;
  }

  .slider-about__wrap .container-arrows{
    top: 123%;
  }

  
  .slider-about__wrap,
  .slider-team__wrap{
    margin-bottom: 40px;
    .slick-dots,
    .container-arrows{
      width: 35%;
    }
    .prev-button, .next-button{
      @include width-flex(10px)
      height: 20px;
    }
    .prev-button{
      margin-left: 100px;
    }
    .next-button{
      margin-right: 100px;
    }
  }

  .slider-about__wrap{
    margin-bottom: 60px;
  }
  
  .slider-team__item{
    width: 193px;
  }
  
  .slider-team-img__wrap{
    height: 130px;
    margin-bottom: 5px;
  }
  .slider-team__title{
    font-size: 14px;
    line-height: 17px;
  }
  .slider-team__subtitle{
    font-size: 12px;
    line-height: 14px;
  }
  .slider-team__wrap .container-arrows{
    top: 117%;
  }

  .page-about .button-text{
    font-size: 12px;
    line-height: 14px;
  }

  .table-ext{
    table-layout: fixed;
    margin-bottom: 24px;
    td.td.text-left{
      width: 90%;
      padding-right: 0;
      font-size: 16px;
      line-height: 19px;
    }
    .head-ext{
      display: none;
    }
  }

  .overflow-block{
    width: 100%;
    overflow-x: auto;
  }


  .table-in{
    margin-left: 1px;
    margin-right: 0;
    td.td{
      min-width: 88px;
      &:first-child{
        min-width: 192px;
      }
    }
  }

  .table-in-fl{
    width: 100%;
    white-space: nowrap;
  }


  .td-add{
    display: none;
  }

  .cell-bootom__mob{
    margin-top: 30px;
  }
  
  .cell-bootom__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;
    @include last-mb-0
  }


  .sum-discount{
    font-size: 12px;
    line-height: 14px;
    width: 170px;
  }

  .sum-count__wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  

  .modal-content{
    padding: 40px 25px 30px;
    
  }

  .modal-body{
    .button-text{
      font-size: 12px;
      line-height: 14px;
    }

    .input-checkbox{
      margin-right: 10px;
    }
  }

  .modal-body .button-green{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .modal-title{
    margin-bottom: 24px;
  }

  .modal-inputs__wrap{
    width: 100%;
  }

  .modal-body .checkbox-text{
    font-size: 12px;
    line-height: 14px;
  }

  .modal-body .input__wrap{
    margin-bottom: 24px;
  }

  .text-table__cell{
    &:first-child{
      @include width-flex(100px)
    }
  }

  .modal-body .feedback-send__wrap .text-block__title{
    margin-left: 0;
  }

  .modal-orders__wrap{
    padding-bottom: 10px;
  }

  .input-small{
    min-width: 60px;
    width: 60px;
  }

  .modal-orders td.td-first{
    padding-right: 10px;
  }
  
  

  .close-modal{
    top: 14px;
    right: 14px;
  }

  .modal-body .feedback-send__wrap{
    margin: 0;
  }

  .page-order-detail .buttons__wrap{
    width: 100%;
  }
  
  .page-order-detail .button-green{
    width: 100%;
  }

  .table-ext tr.tr:last-child{
    border-bottom: 1px solid #E6E6E6;
  }

  .page-orders .button-green{
    width: 100%;
  }

  .table-orders{
    width: 680px;
  }

  .table-orders td.td{
    padding: 0 10px 42px;
    font-size: 12px;
    line-height: 14px;
  }

  .table-orders td.td .button-text{
    font-size: 12px;
    line-height: 14px;
  }

  .table-orders tr.tr.tr-line td.td:first-child{
    font-size: 16px;
    line-height: 19px;
    padding-left: 20px;
  }
  

  .page-orders .h1 .span-br-mob{
    display: block;
  }

  .page-feedback-list .feedback-detail__title{
    font-size: 16px;
    line-height: 19px;
  }

  .page-feedback-list .feedback-rating__text{
    font-size: 12px;
    line-height: 14px;
  }

  .header-login__wrap{
    margin-right: 0;
    margin-left: 12px;
  }

  .body.menu-mob-open {
    .header-wrap{
      z-index: 10;
    }
    .bg-fixed{
      display: block;
    }
    .menu-mob__wrap {
      left: 0;
      transition: 0.5s;
    }
  }
  
  .body.catalog-mob-open {
    .header-wrap{
      z-index: 10;
    }
    .bg-fixed{
      display: block;
    }
    .catalog-mob__wrap {
      left: 0;
      transition: 0.5s;
    }
  }


  .menu-mob__wrap,
  .catalog-mob__wrap{
    position: fixed;
    z-index: 90;
    display: block;
    top: 0;
    left: -999px;
    background: #FFFFFF;
    height: 100vh;
    width: 100%;
    transition: 0.5s;
    overflow-y: scroll;
  }

  

  .menu-mob__head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 20px 24px;
    border-bottom: 1px solid #4F4F4F;
    margin-bottom: 23px;
  }

  .menu-mob__head-left,
  .menu-mob__head-right{
    display: flex;
    align-items: center;
  }
  
  .button-close{
    margin-right: 12px;
    @include background-cover('icon-close.svg')
    @include width-flex(21px)
    height: 21px;
  }

  .logo-mini-img{
    @include width-flex(165px)
    height: auto;
  }
  

  .menu-mob__icon-wrap{
    @include width-flex(21px)
    margin-right: 18px;
    @include last-mr-0
  }

  .menu-mob__icon{
    display: flex;
    align-items: center;
    @include width-flex(21px)
    height: 21px;
  }

  .icon-login-mob{
    @include background-contain('icon-login-mob.svg')
  }

  .icon-heart-mob{
    @include background-contain('icon-heart-mob.svg')
  }

  .icon-basket-mob{
    @include background-contain('icon-basket-mob.svg')
  }
  
  
  .menu-mob__catalog{
    padding: 0 20px;
    .header-search__wrap{
      margin-left: 0;
      height: 42px;
      margin-bottom: 24px;
    }
    .search-input{
      border-radius: 4px;
    }
    .search-link{
      top: 12px;
    }
  }

  .menu-mob__block{
    padding-bottom: 27px;
    border-bottom: 1px solid #B8B8B8;
    margin-bottom: 30px;
    &:last-child{
      border-bottom: none;
    }
  }

  .menu-mob__title{
    font-size: 16px;
    line-height: 19px;
    color: $color-red;
    margin-bottom: 24px;
  }

  .menu-mob__item{
    margin-bottom: 24px;
    @include last-mb-0
  }

  .menu-mob__link{
    font-size: 13px;
    line-height: 16px;
    &:hover{
      color: $color-red;
    }
  }

  .menu-mob__tel{
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 24px;
  }

  .content-right__wrap{
    padding-left: 0;
  }

  .modal-orders__block{
    position: relative;
    margin-bottom: 10px;
  }
  

  .header-user{
    text-align: right;
    font-size: 10px;
    line-height: 12px;
    &:after{
      height: 15px;
      margin-left: 0;
    }
  }

  .user-status{
    font-size: 8px;
    right: 24px;
    bottom: -12px;
    color: #A0A0A0;
  }

  .filter-accord__title{
    font-size: 12px;
    line-height: 14px;
  }

  .info-accord__wrap .accord-wrap--js > .accord-title--js:before, 
  .filter__wrap .accord-wrap--js > .accord-title--js:before{
    @include width-flex(18px)
    height: 10px;
    margin-right: 10px;
  }

  .checkbox-text,
  .checkbox-count{
    font-size: 12px;
    line-height: 14px;
  }

  .checkbox__block-nano-content{
    margin: 10px 0 10px;
  }

  .filter-accord__item{
    margin-bottom: 15px;
  }

  #upbutton {
    bottom: 20px;
    right: 10px;
  }

  .upbutton {
    width: 35px;
    height: 35px;

  }

  .slider-single .slick-slider{
    border: none;
  }


  .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail{
    height: 4px;
    background-color: #ccc;
  }

  .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{
    height: 4px;
    background-color: rgba(0, 0, 0, .5);
  }

  .mCSB_horizontal.mCSB_inside > .mCSB_container{
    margin-bottom: 20px;
  }

  .accord-wrap--js > .accord-title--js:after{
    @include width-flex(18px)
    height: 10px;
  }

  button.mfp-close{
    top: -23px;
    left: 87%;
    &:active{
      top: -23px;
    }
  }


}




@media screen and (max-width: 768px) {

  .mfp-arrow-left {
    left: 28%;
    top: auto;
    bottom: -50px;
  }
  .mfp-arrow-right {
    right: 28%;
    top: auto;
    bottom: -50px;
  }
}

@media screen and (max-width: 576px) {

}



@media screen and (max-width: 375px) {

}
