@import '_misc/adjustment';

@media (min-width: 991px) {
  .container {
    max-width: 1386px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto,
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  margin-bottom: rem(24px);
}

.header-info__block {
  background: #EAEAEA;
  color: #A0A0A0;
  padding: rem(7px) 0;
  text-align: center;
  border-top: 1px solid #A0A0A0;
  border-bottom: 1px solid #A0A0A0;
  margin-top: rem(5px);
}

.header-info {
  font-size: rem(18px);
  line-height: rem(22px);
}

.header-top__block {
  padding: rem(13px) 0 rem(14px);

}

.header-top__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu__list {
  display: flex;
}

.header-menu__item {
  margin-right: rem(30px);
  @include last-mr-0
}

.header-menu__link {
  font-family: $TahomaRegular;
  font-size: rem(18px);
  line-height: rem(22px);
  color: #4C4C4C;
  &:hover {
    color: $color-red;
  }
}

.header-login__wrap {
  margin-left: rem(20px);
  margin-right: rem(20px);
}

.header-login__wrap.active {
  display: block;
}

.header-user {
  position: relative;
  color: #3B3B3B;
  display: flex;
  align-items: center;
  font-size: rem(18px);
  line-height: rem(22px);
  &:after {
    content: '';
    @include background-contain('icon-user-logout.svg')
    @include width-flex(rem(24px))
    height: rem(24px);
    margin-left: rem(7px);
  }
  &:hover {
    color: $color-red;
  }
}

.user-status {
  position: absolute;
  font-size: rem(12px);
  right: rem(31px);
  left: auto;
  bottom: rem(-20px);
  color: #A0A0A0;
  white-space: nowrap;
}

.header-login {
  font-family: $TahomaRegular;
  font-size: rem(18px);
  line-height: rem(22px);
  color: #3B3B3B;
  display: flex;
  align-items: center;
  &:before {
    content: '';
    @include background-contain('icon-user.svg')
    @include width-flex(rem(20px))
    height: rem(23px);
    margin-right: rem(13px);
  }
  &:hover {
    color: $color-red;
  }
}

.header-logo__wrap {
  display: flex;
  justify-content: center;
}

.logo-img {
  @include width-flex(rem(252px))
  height: auto;
}

.header-bottom__block {
  padding: rem(16px) 0 rem(40px);
}

.header-bottom__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-bottom-menu__list {
  display: flex;
  align-items: baseline;
}

.header-bottom-menu__item {
  margin-right: rem(28px);
  @include last-mr-0
}

.header-bottom-menu__link {
  font-family: $TahomaRegular;
  font-size: rem(18px);
  line-height: rem(22px);
  color: #4C4C4C;
  &:hover {
    color: $color-red;
  }
}

.header-person__block {
  display: flex;
  align-items: center;
  margin-right: rem(20px);
}

.header-person {
  position: relative;
  font-family: $TahomaRegular;
  font-size: rem(18px);
  line-height: rem(22px);
  color: #A0A0A0;
  display: flex;
  align-items: center;
  margin-right: rem(64px);
  @include last-mr-0
  &:hover {
    color: $color-red;
  }
}

.icon-heart {
  &:before {
    content: '';
    @include background-contain('icon-heart-gray.svg')
    @include width-flex(rem(36px))
    height: rem(31px);
    margin-right: rem(10px);
  }
}

.icon-basket {
  &:before {
    content: '';
    @include background-contain('icon-basket.svg')
    @include width-flex(rem(29px))
    height: rem(33px);
    margin-right: rem(10px);
  }
}

.basket-sum {
  position: absolute;
  bottom: rem(-28px);
  right: 0;
  font-family: $TahomaRegular;
  font-size: rem(18px);
  line-height: rem(22px);
  color: #4C4C4C;
}

.header-catalog__block {
  background: linear-gradient(180deg, #c77373 51.28%, rgba(255, 255, 255, 0) 51.28%), #b54949;
}

.header-catalog__link {
  font-family: $TahomaRegular;
  font-size: rem(20px);
  line-height: rem(24px);
  color: #FFFFFF;
}

.header-catalog__wrap {
  height: rem(58px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-catalog__list {
  display: flex;
  align-items: center;
}

.header-catalog__item {
  &:hover {
    background: linear-gradient(180deg, #b36868 51.28%, rgba(255, 255, 255, 0) 51.28%), #a34242;
    .header-catalog__link {
      color: $color-white;
    }
    .menu-dropdown {
      display: block;
    }
  }

}

.header-catalog__item.active {
  background: linear-gradient(180deg, #9FC76D 51.28%, rgba(255, 255, 255, 0) 51.28%), #80B63D;
}

.header-catalog__link {
  height: 100%;
  padding: rem(17px) rem(28px);
  display: block;
}

.header-search__wrap {
  position: relative;
  width: rem(325px);
  height: rem(35px);

}

.header-float {
  display: none;
  background-color: #FFFFFF;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #A0A0A0;
  transition: 500ms;
  opacity: 0;
  .header-middle__block {
    padding: 0;
  }
  .header-bottom__block {
    padding-top: 0;
  }
  &:after {
    position: absolute;
    bottom: rem(-5px);
    left: 0;
    display: block;
    width: 100%;
    height: rem(4px);
    content: "";
    background: #fff;
  }
}

.header-float.active {
  display: block;
  transition: 500ms;
  opacity: 1;
  z-index: 100;
}

.search-input {
  width: 100%;
  height: 100%;
  padding: 0 rem(45px) 0 rem(17px);
  background: #FFFFFF;
  border-radius: rem(3px);
  border: none;
  @include placeholder(#B8B8B8, rem(20px))

}

.search-link {
  position: absolute;
  right: rem(15px);
  top: rem(4px);
  .icon-search {
    width: rem(24px);
    height: rem(24px);
  }
}

.banner-slider__wrap {
  height: rem(412px);
  .slick-dots li button {
    border-radius: 50%;
    border: rem(2px) solid #4C4C4C;
    background: #FFFFFF;
    width: rem(14px);
    height: rem(14px);
  }
  .slick-dots li.slick-active button {
    background: #4C4C4C;
    width: rem(16px);
    height: rem(16px);
  }
  .slick-dots li button:before {
    content: '';
    width: rem(14px);
    height: rem(14px);
  }
}

.slider-popular__wrap {
  margin-left: rem(-10px);
  margin-right: rem(-10px);
  .slick-dots {
    bottom: rem(-42px);
  }
  .slick-dots li button {
    border-radius: 50%;
    border: rem(2px) solid #4C4C4C;
    background: #FFFFFF;
    width: rem(14px);
    height: rem(14px);
  }
  .slick-dots li.slick-active button {
    background: #4C4C4C;
    width: rem(16px);
    height: rem(16px);
  }
  .slick-dots li button:before {
    content: '';
    width: rem(14px);
    height: rem(14px);
  }
}

.banner-top {
  .banner-slider__text {
    color: $color-black;
  }
}

.banner-first {
  .banner-slider__wrap {
    overflow: hidden;
  }
}

.banner-big {
  .slick-dots {
    bottom: rem(10px);
  }
}

.banner-little {
  .slick-dots {
    bottom: rem(-30px);
  }
}

.banner-slider__item {
  border-radius: rem(4px);
  overflow: hidden;
}

.section-feedback-detail {
  margin-bottom: rem(78px);
}

.section-banner-slider {
  margin-bottom: rem(61px);
}

.section-sliders {
  margin-bottom: rem(71px);
}

.banner {
  width: 100%;
  height: rem(408px);
  padding: rem(35px) rem(31px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.span-br {
  display: block;
}

.span-red {
  color: $color-red;
}

.span-gray2 {
  color: $color-gray2;
}

.banner-slider__title {
  font-family: $TahomaRegular;
  font-size: rem(24px);
  line-height: rem(29px);
  color: #000000;
  margin-bottom: rem(27px);
}

.banner-slider__text {
  font-family: $TahomaRegular;
  font-size: rem(16px);
  line-height: rem(19px);
  color: #737373;
}

.banner-main__wrap {
  display: flex;
  justify-content: space-between;
  .banner-main {
    display: block;
    width: 100%;
    margin-right: rem(20px);
    @include last-mr-0
    overflow: hidden;
    border-radius: rem(4px);
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.main-title {
  font-family: $TahomaRegular;
  font-size: rem(24px);
  line-height: rem(29px);
  text-align: center;
  margin-bottom: rem(39px);
}

.product-items__wrap,
.news-main-items__wrap,
.feedback-items__wrap {
  display: flex;
  margin-bottom: rem(22px);
  margin-right: rem(-20px);
}

.product-item,
.news-main__item,
.feedback-item {
  border: 1px solid #E6E6E6;
  border-radius: rem(4px);
  padding: rem(9px) rem(15px) rem(19px);
  background: $color-white;
  &:hover {
    box-shadow: 0px rem(4px) rem(16px) rgba(0, 0, 0, 0.18);
  }
}

.news-main__item,
.feedback-item {
  .button-text {
    font-size: rem(16px);
    line-height: rem(19px);
    color: #A0A0A0;
    border-bottom: 1px solid #A0A0A0;
    &:hover {
      color: $color-red;
      border-bottom: 1px solid $color-red;
    }
  }
}

.product-date__wrap {
  min-height: rem(32px);
}

.product-date,
.news-main__date,
.feedback-date {
  font-family: $TahomaRegular;
  font-size: rem(16px);
  line-height: rem(19px);
  color: #A0A0A0;
  margin-bottom: rem(13px);
}

.product-img__wrap {
  @include width-flex(100%)
  display: flex;
  justify-content: center;
  padding: rem(13px) 0 rem(17px);
  height: rem(238px);
  margin-bottom: rem(4px);
}

.product-img {
  width: auto;
  height: 100%;

}

.product-category {
  font-family: $TahomaRegular;
  font-size: rem(16px);
  line-height: rem(19px);
  margin-bottom: rem(3px);
}

.product-title {
  font-family: $TahomaRegular;
  font-size: rem(16px);
  line-height: rem(25px);
  color: #3B3B3B;
  margin-bottom: rem(19px);
}

.news-main__title,
.feedback-title {
  font-family: $TahomaRegular;
  font-size: rem(16px);
  line-height: rem(19px);
  color: #3B3B3B;
  margin-bottom: rem(20px);
}

.product-desc {
  font-family: $TahomaRegular;
  font-size: rem(16px);
  line-height: rem(24px);
  color: #6F6F6F;
  margin-bottom: rem(13px);
}

.news-main__desc {
  font-family: $TahomaRegular;
  font-size: rem(16px);
  line-height: rem(19px);
  color: #6F6F6F;
  margin-bottom: rem(39px);
}

.feedback-desc__block {
  margin-bottom: rem(20px);
  &:last-child {
    margin-bottom: rem(39px);
  }
}

.feedback-subtitle {
  font-family: $TahomaRegular;
  font-size: rem(16px);
  line-height: rem(19px);
  color: #A0A0A0;
}

.feedback-desc {
  font-family: $TahomaRegular;
  font-size: rem(16px);
  line-height: rem(19px);
  color: #3B3B3B;
}

.product-price {
  display: flex;
  font-family: $TahomaRegular;
  font-size: rem(16px);
  line-height: rem(19px);
  color: $color-red;

}

.price-count {
  font-size: rem(18px);
  margin: 0 rem(5px) 0 rem(5px);
}

.buttons__wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.buttons-line__wrap {
  display: flex;
  justify-content: space-between;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: rem(4px);
  height: rem(58px);
  border: 1px solid $color-white;
  &:hover {
    border-bottom: rem(2px) solid $color-white;
    border-top: rem(2px) solid $color-white;
  }
  &:active {
    border: none;
  }

}

.button-green {
  padding: 0 rem(25px);
  font-family: $TahomaRegular;
  font-size: rem(18px);
  line-height: rem(22px);
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(180deg, #9FC76D 51.28%, rgba(255, 255, 255, 0) 51.28%), #80B63D;
  &:hover {
    color: #FFFFFF;
    background: linear-gradient(180deg, #95BA66 51.28%, rgba(255, 255, 255, 0) 51.28%), #73A436;
  }
  &:active {
    color: #FFFFFF;
    background: linear-gradient(180deg, #B4E17B 51.28%, rgba(255, 255, 255, 0) 51.28%), #8CC744;
  }
}

.button-favor {
  background: linear-gradient(180deg, rgba(166, 166, 166, 0.2) 0%, rgba(235, 233, 233, 0.2) 48.18%, rgba(161, 161, 161, 0.2) 50%), #A8A8A8;
  @include width-flex(rem(60px))
  margin-left: rem(6px);
  &:hover {
    background: #A6A6A6;
  }
  &:active {
    background: #B4B4B4;
  }
}

.button-favor.add {
  svg {
    path {
      fill: #D8D8D8;
    }
  }
}

.button-text {
  font-family: $TahomaRegular;
  color: #6F6F6F;
  border-bottom: 1px solid #6F6F6F;
  text-transform: lowercase;
  &:hover {
    color: $color-red;
    border-bottom: 1px solid $color-red;
  }
}

.button-gray {
  color: #6F6F6F;
  border-bottom: 1px solid #6F6F6F;
  text-transform: lowercase;
  &:hover {
    color: $color-red;
    border-bottom: 1px solid $color-red;
  }
}

.button-black {
  color: #555555;
  border-bottom: 1px solid #555555;
  &:hover {
    color: $color-red;
    border-bottom: 1px solid $color-red;
  }
}

.button-red {
  color: $color-red;
  border-bottom: 1px solid $color-red;
  text-transform: lowercase;
  &:hover {
    color: #6F6F6F;
    border-bottom: 1px solid #6F6F6F;
  }
}

.product-add {
  display: none;
  .button-green {
    width: 100%;
  }
}

.product-price__add {
  font-family: $TahomaRegular;
  font-size: rem(16px);
  line-height: rem(19px);
  color: #A0A0A0;
  margin-bottom: rem(29px);

}

.product-item__block,
.news-main-item__block,
.feedback-item__block {
  margin-right: rem(20px);
  @include width-flex(rem(326px))
}

.product-item__block {
  position: relative;
  &:hover {
    .product-item {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 9;
      box-shadow: 0 rem(4px) rem(24px) rgba(218, 224, 232, 0.6);
    }
    .product-add {
      display: block;
    }

    .product-img__wrap {
      margin-bottom: rem(35px);
    }
    .product-category {
      margin-bottom: 0;
    }
    .product-title {
      line-height: rem(20px);
    }
    .product-comment {
      display: none;
    }
    .product-desc {
      line-height: rem(19px);
      margin-bottom: rem(22px);
    }
  }
}

.section-product {
  margin-bottom: rem(83px);
}

.section-news {
  margin-bottom: rem(76px);
}

.section-banners {
  margin-bottom: rem(68px);
}

.section-feedback {
  margin-bottom: rem(88px);
  .button-green {
    margin-top: rem(27px);
    max-width: rem(395px);
  }
}

.brands__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: rem(-10px);
  margin-right: rem(-10px);
}

.brand-item {
  @include width-flex(rem(154px))
  height: rem(90px);
  margin: 0 rem(9px) rem(19px) rem(9px);
  border-radius: rem(4px);
  overflow: hidden;
  &:hover {
    box-shadow: 0 rem(4px) rem(16px) rgba(0, 0, 0, 0.18);
  }
}

.section-brands {
  margin-bottom: rem(55px);
}

.slider-popular__item {
  border: 1px solid #C4C4C4;
  border-radius: rem(6px);
  padding: rem(28px);
  margin: rem(20px) rem(10px);
  &:hover {
    box-shadow: 0 rem(4px) rem(16px) rgba(0, 0, 0, 0.18);
  }
}

.slider-popular-img__wrap {
  width: 100%;
  height: rem(312px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: rem(25px);
}

.slider-popular-img {
  max-width: 100%;
  max-height: 100%;
}

.slider-popular-title {
  font-family: $TahomaRegular;
  font-size: rem(22px);
  line-height: rem(27px);
  text-align: center;
  color: #3B3B3B;
}

.section-slider-popular {
  margin-bottom: rem(70px);
}

.feedback-rating__block {
  display: flex;
  align-items: center;
  margin-bottom: rem(19px);
}

.feedback-rating__wrap {
  margin-top: rem(2px);
  display: flex;
  position: relative;
  width: rem(55px);
  height: rem(11px);
  margin-right: rem(11px);
}

.feedback-rating__empty,
.feedback-rating__full {
  position: absolute;
  top: 0;
  left: 0;
  height: rem(10px);
  background-size: rem(11px) rem(10px);
  background-repeat: repeat-x;
}

.feedback-rating__empty {
  width: 100%;
  background-image: url('../img/icon-star-gray.png');
}

.feedback-rating__full {
  background-image: url('../img/icon-star-red.png');
}

.feedback-rating__text {
  font-family: $TahomaRegular;
  font-size: rem(16px);
  line-height: rem(19px);
  color: #3B3B3B;
}

.breadcrumb-wrap {
  padding-bottom: rem(22px);
  border-bottom: 1px solid #E6E6E6;
}

.breadcrumb__list {
  display: flex;
  align-items: center;
}

.breadcrumb__item {
  margin-right: rem(12px);
}

.breadcrumb__link {
  font-size: rem(14px);
  line-height: rem(17px);
  color: $color-gray3;
  &:after {
    content: '|';
    margin-left: rem(12px);

  }
  &:hover {
    color: $color-red;
    &:after {
      color: $color-gray3;
    }
  }
}

.breadcrumb__span {
  font-size: rem(14px);
  line-height: rem(17px);
  color: #A0A0A0;
  text-transform: lowercase;
}

.page {
  padding-top: rem(56px);
}

.page-catalog,
.page-product {
  padding-top: rem(24px);
}

.page-product {
  .product-list__item {
    padding-bottom: rem(124px);
  }
}

.h1 {
  font-size: rem(24px);
  line-height: rem(29px);
  color: $color-red;
  margin-bottom: rem(32px);
}

.h2 {
  font-size: rem(22px);
  line-height: rem(27px);
  color: $color-red;
  margin-bottom: rem(20px);
}

.h3 {
  font-size: rem(24px);
  line-height: rem(29px);
  color: #565440;
  margin-bottom: rem(22px);
}

.h4 {
  font-size: rem(18px);
  line-height: rem(22px);
  color: $color-red;
  opacity: 0.9;
  margin-bottom: rem(20px);
}

.step-title {
  font-size: rem(24px);
  line-height: rem(29px);
  color: #555555;
  margin-bottom: rem(32px);
}

.input-block,
.radio-block__wrap {
  margin-bottom: rem(24px);
}

.star {
  margin-left: rem(5px);
  color: #AAAAAA;
}

.input__wrap {
  position: relative;
  width: 100%;
  height: rem(56px);
  .icon-search {
    width: rem(20px);
    height: rem(20px);
  }
  .search-link {
    right: rem(16px);
    top: rem(16px);
  }
}

.input__wrap.input-big {
  width: rem(634px);
}

.input__wrap.input-little {
  width: rem(403px);
}

.input-block__title {
  color: #AAAAAA;
  margin-bottom: rem(12px);
  margin-left: rem(24px);
}

.input,
.textarea {
  padding: rem(10px) rem(24px);
  width: 100%;
  height: 100%;
  border: 1px solid #DBDBDB;
  border-radius: rem(4px);
  color: #555555;
  background: #FFFFFF;
  @include placeholder(#AAAAAA, rem(16px))

}

.tooltip-error {
  display: none;
  font-style: italic;
  color: $color-red;
  font-size: rem(12px);
}

.input__wrap.input-textarea__wrap {
  height: 100%;
}

.textarea {
  height: rem(112px);
  outline: none;
}

.input-comment {
  text-align: right;
}

.promo-info {
  display: flex;
  justify-content: space-between;
  padding-left: rem(60px);

}

.step__wrap {
  margin-bottom: rem(64px);

  .maps__wrap {
    height: rem(506px);
  }
}

.step-1 {
  .button-green {
    width: rem(230px);
  }
}

.jq-selectbox {
  width: 100%;
  height: rem(56px);
}

.jq-selectbox__select {
  padding: rem(10px) rem(34px) rem(10px) rem(24px);
  width: 100%;
  height: 100%;
  border: 1px solid #DBDBDB;
  border-radius: rem(4px);
  color: #555555;
  background: $color-white;
  box-shadow: none;
}

.jq-selectbox__select:active {
  background: $color-white;
  box-shadow: none;
}

.jq-selectbox__select-text {
  padding-top: rem(5px);
}

.jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid #DBDBDB;
}

.jq-selectbox__select:hover {
  background: $color-white;
  .jq-selectbox__trigger-arrow {
    border-top: rem(10px) solid #ACACAC;
    border-right: rem(10px) solid transparent;
    border-left: rem(10px) solid transparent;
  }

}

.jq-selectbox__trigger {
  border-left: none;
}

.jq-selectbox__trigger-arrow {
  top: rem(22px);
  right: rem(20px);
  border-top: rem(10px) solid #ACACAC;
  border-right: rem(10px) solid transparent;
  border-left: rem(10px) solid transparent;
}

.jq-selectbox.opened {
  .jq-selectbox__trigger-arrow {
    transform: rotate(180deg);
    border-top: rem(10px) solid #ACACAC;
  }
}

.jq-selectbox__dropdown {
  padding: rem(24px);
  max-height: rem(373px);
  background: #FFFFFF;
  box-shadow: rem(2px) rem(4px) rem(23px) rgba(183, 183, 183, 0.2);
  border-radius: rem(4px);
  overflow: hidden;
}

.jq-selectbox li {
  margin-right: rem(24px);
  font-family: $TahomaRegular;
  font-size: rem(16px);
  line-height: rem(19px);
  text-decoration-line: underline;
  color: #555555;
  border-bottom: 1px solid #DBDBDB;
}

.jq-selectbox li.option {
  padding: rem(16px) 0;
}

.jq-selectbox li:hover {
  background-color: white;
  color: $color-red;
}

.jq-selectbox li.selected {
  background-color: white;
  color: $color-red;
}

.jq-selectbox li.disabled {
  color: #AAAAAA;
  background-color: white;
  text-decoration: none;
  border-bottom: none;
}

.jq-selectbox li.disabled:hover {
  color: #AAAAAA;
}

.jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #ACACAC;
}

.radio-block__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(210px);
  overflow: hidden;
  flex-wrap: wrap;
  border-radius: rem(4px);
  cursor: pointer;
  &:hover {
    box-shadow: 0px rem(4px) rem(16px) rgba(0, 0, 0, 0.18);
  }
}

.radio-block__img {
  width: 100%;
  height: auto;
}

.input-radio {
  display: none;
}

.radio-block__check {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #8cc865;
  height: rem(20px);
}

.jq-checkbox.focused {
  border: 1px solid #C8C8C8;
}

.jq-checkbox.checked {
  border: 1px solid #4C4C4C;
}

.jq-checkbox.checked .jq-checkbox__div {
  width: rem(13px);
  height: rem(8px);
  border-bottom: 1px solid #4C4C4C;
  border-left: 1px solid #4C4C4C;
}

.result-block__wrap {
  margin-top: rem(64px);
  .button-green {
    width: rem(230px);
  }

}

.sum__wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-size: rem(18px);
  line-height: rem(28px);
  margin-bottom: rem(5px);
}

.sum-value {
  margin-left: rem(80px);
}

.sum-total {
  border-top: 1px dashed #555555;
}

.agreement {
  margin-top: rem(32px);
  margin-bottom: rem(32px);
}

.catalog-head {
  border-bottom: 1px solid #E6E6E6;
  padding: rem(22px) 0 rem(19px);
}

.catalog-sort__wrap {
  display: flex;
  align-items: center;
}

.catalog-sort {
  display: flex;
  align-items: center;
}

.catalog-sort__title {
  font-size: rem(16px);
  line-height: rem(19px);
  color: #ADAEAD;
  margin-right: rem(38px);
}

.catalog-sort__list {
  display: flex;
  align-items: center;
}

.catalog-sort__item {
  margin-right: rem(38px);
}

.catalog-sort__item.active {
  .catalog-sort__link {
    color: $color-red;
  }

}

.catalog-sort__link {
  font-size: rem(16px);
  line-height: rem(19px);
  color: #ADAEAD;
  &:hover {
    color: $color-red;
  }
}

.catalog-view {
  display: flex;
  align-items: flex-end;
}

.icons-sort {
  display: flex;
  align-items: center;

}

.icon-sort {
  @include width-flex(rem(27px))
  height: rem(20px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: rem(39px);
  @include last-mr-0
  &:hover {
    cursor: pointer;
  }
}

.icon-tiles {
  background-image: url('../img/icon-sort-tiles.svg')
}

.icon-tiles.active {
  background-image: url('../img/icon-sort-tiles-active.svg')
}

.icon-list {
  background-image: url('../img/icon-sort-list.svg')
}

.icon-list.active {
  background-image: url('../img/icon-sort-list-active.svg')
}

.filter__left {
  .buttons__wrap {
    display: block;
  }
  .button-green {
    width: rem(237px);
    margin-bottom: rem(38px);
  }
  .button-text {
    border-bottom: none;
    margin-left: rem(25px);
  }
}

.filter__wrap {
  margin-bottom: rem(52px);
  .label-checkbox {
    padding-right: rem(20px);
  }
}

.accord-block--js {
  display: none;
}

.accord-wrap--js > .accord-title--js {
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  &:after {
    content: '';
    @include background-contain('icon-arrow-top.svg')
    @include width-flex(rem(28px))
    height: rem(14px);
    margin-left: rem(17px);
    transition: 0.5s;
    transform: rotate(180deg);
  }
}

.accord-wrap--js.active {
  .accord-block--js {
    display: block;
  }
}

.accord-wrap--js.active > .accord-title--js:after {
  transform: rotate(0deg);
}

.info-accord__wrap,
.filter__wrap {
  .accord-wrap--js > .accord-title--js {
    &:after {
      display: none;
    }

    &:before {
      content: '';
      @include background-contain('icon-arrow-top.svg')
      @include width-flex(rem(28px))
      height: rem(14px);
      margin-right: rem(17px);
      transition: 0.5s;
      transform: rotate(180deg);
    }
  }
  .accord-wrap--js.active > .accord-title--js:before {
    transform: rotate(0deg);
  }
}

.checkbox__block-wrap {
  max-height: rem(400px);
  overflow: hidden;

}

.checkbox__block-nano.nano {
  height: rem(400px);

}

.filter-accord__item {
  margin-bottom: rem(28px);
}

.filter-accord__title {
  font-size: rem(16px);
  line-height: rem(19px);
  color: $color-red;
}

.info-accord__title {
  color: $color-red;
}

.checkbox__block {
  margin-left: rem(45px);
}

.checkbox__block-nano-content {
  margin: rem(20px) 0 rem(10px);
  overflow-x: hidden;
}

.nano > .nano-content:focus {
  outline: none;
}

.nano > .nano-pane {
  background: #EEEEEE;
  left: auto;
  right: 0;
}

.nano > .nano-pane > .nano-slider {
  background: #5C5C5C;
  width: rem(14px);
  border-radius: 0;
}

.label-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: rem(11px);
  @include last-mb-0
}

.input-checkbox {
  @include width-flex(rem(21px))
  height: rem(21px);
  border: 1px solid #C8C8C8;
  border-radius: rem(3px);
  margin-right: rem(15px);
}

.checkbox-text {
  font-size: rem(16px);
  line-height: rem(19px);
  color: #4C4C4C;
  margin-right: rem(8px);
  span {
    margin-right: rem(8px);
  }
}

.checkbox-count {
  display: inline-flex;
  font-size: rem(16px);
  line-height: rem(19px);
  color: #ADAEAD;

}

.checkbox-img__wrap {
  @include width-flex(rem(98px))
  height: rem(26px);
  display: flex;
  align-items: center;
  margin-right: rem(8px);
}

.checkbox-img {
  width: auto;
  height: 100%;
}

.catalog-text__wrap {
  margin-bottom: rem(39px);
  @include last-mb-0
  .button-text {
    font-size: rem(16px);
    line-height: rem(14px);
    color: #000000;
    &:hover {
      color: $color-red;
    }
  }
}

.catalog-text {
  position: relative;
  font-size: rem(16px);
  line-height: rem(19px);
  color: #4C4C4C;
  padding-right: rem(50px);
}

.catalog-product__wrap {
  margin-bottom: rem(45px);
  .product-item__block {
    margin-bottom: rem(24px);
  }
}

.catalog-bottom__wrap,
.news-list-bottom__wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.paginator-wrap {
  margin-top: rem(22px);
  height: rem(45px);
  display: flex;
  align-items: center;
}

.paginator {
  display: flex;
  align-items: center;
  li {
    min-width: rem(46px);
    text-align: center;
  }
}

.paginator-arrow-left,
.paginator-arrow-right {
  display: block;
  svg {
    @include width-flex(rem(20px))
    height: rem(20px);
  }

  &:hover {
    svg {
      path {
        stroke: #3B3B3B;
      }
    }
  }
}

.paginator-arrow-left {
  margin-right: rem(43px);
}

.paginator-arrow-right {
  margin-left: rem(43px);
}

.paginator-item {
  margin-right: rem(10px);
  text-align: center;
  &:hover {
    .paginator-link {
      color: $color-red;
    }
  }
}

.paginator-link {
  display: inline-block;
  font-size: rem(16px);
  padding: rem(11px) 0;
  min-width: rem(44px);
}

.paginator-item.active {
  border: 1px solid #C8C8C8;
  box-shadow: 0px 0px rem(10px) 1px rgba(0, 0, 0, 0.28);
  border-radius: rem(3px);
  .paginator-link {
    color: #555555;
  }
}

.paginator-item.last {
  margin-right: 0;
}

.product-list__item {
  border-bottom: 1px solid #B9B9B9;
  margin-bottom: rem(30px);
}

.product-info__block {
  margin-bottom: rem(23px);
}

.product-info__title {
  font-size: rem(16px);
  line-height: rem(19px);
  color: $color-red;
}

.product-info__subtitle {
  font-size: rem(16px);
  line-height: rem(19px);
  margin-bottom: rem(5px);
}

.product-info__desc {
  font-size: rem(16px);
  line-height: rem(17px);
  color: #4C4C4C;
}

.product-info__block.product-brand {
  .product-info__desc {
    line-height: rem(14px);
    color: #4C4C4C;
  }
}

.product-info__block.product-color {
  .button-text {
    font-size: rem(16px);
    line-height: rem(14px);
  }
}

.product-colors__wrap {
  margin-top: rem(15px);
  margin-bottom: rem(19px);
}

.product-color__item {
  display: flex;
  align-items: center;
  margin-bottom: rem(4px);
  @include last-mb-0
}

.product-color__value {
  @include width-flex(rem(42px))
  height: rem(26px);
  margin-right: rem(17px);
  border: 1px solid #C1C1C0;
  border-radius: rem(5px);
}

.product-color__name {
  font-size: rem(16px);
  line-height: rem(14px);
  color: #4C4C4C;
  text-transform: uppercase;
}

.product-view__wrap {
  .product-add {
    display: block;
  }
}

.product-slider__block {
  margin-bottom: rem(42px);
}

.product-item__slider-item {
  height: rem(435px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-item__slider-img {
  height: 90%;
}

.product-item__slider-nav {
  padding-top: rem(20px);
}

.product-item__slider-nav--item-wrap {
  padding: 0 rem(6px);
  height: rem(97px);
}

.product-item__slider-nav--item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #C8C8C8;
  border-radius: rem(3px);
  height: 70%;
}

.product-item__slider-nav--item-wrap.slick-current {
  .product-item__slider-nav--item {
    box-shadow: 0px 0px rem(10px) 1px rgba(0, 0, 0, 0.28);
  }
}

.slider__wrap-item-nav {
  position: relative;
  margin: 0 auto;
  width: 60%;

}

.container-arrows {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 9;
  height: 0;

}

.prev-button,
.next-button {
  display: block;
  @include width-flex(rem(18px))
  height: rem(36px);
}

.next-button {
  @include background-contain('icon-arrow-right.svg')
  margin-right: rem(-52px);
}

.prev-button {
  @include background-contain('icon-arrow-left.svg')
  margin-left: rem(-52px);
}

.product-info__block.product-rating {
  margin-top: rem(31px);
  .button-text {
    font-size: rem(16px);
    line-height: rem(14px);
  }
}

.product-rating__wrap {
  display: flex;
  align-items: center;
  margin-top: rem(15px);
  margin-bottom: rem(25px);
}

.product-rating__stars-wrap {
  .feedback-rating__block {
    margin-bottom: rem(5px);
    @include last-mb-0
  }

  .feedback-rating__text {
    font-size: rem(16px);
    line-height: rem(14px);
    color: #6F706F;
  }
}

.product-rating__value {
  font-size: rem(18px);
  line-height: rem(14px);
  color: #4C4C4C;
  margin-right: rem(19px);
}

.catalog__block.list,
.catalog__block.tiles {
  display: none;
}

.catalog__block.list.active,
.catalog__block.tiles.active {
  display: block;
}

.feedback-head__wrap {
  padding-bottom: rem(43px);
  margin-bottom: rem(37px);
  border-bottom: 1px solid #B9B9B9;
  .feedback-rating__wrap {
    margin-right: rem(8px);
    margin-left: rem(16px);
  }
  .product-rating__value {
    font-size: rem(24px);
    line-height: rem(14px);
  }
  .feedback-rating__block {
    margin-bottom: 0;
  }
  .button-green {
    margin-top: rem(33px);
    width: rem(238px);
  }
}

.feedback-head__title {
  font-size: rem(24px);
  line-height: rem(29px);
  color: #4C4C4C;
  margin-bottom: rem(27px);
}

.product-info__block.product-link {
  .button-text {
    font-size: rem(16px);
    line-height: rem(14px);
  }
}

.feedback-detail__wrap {
  padding-bottom: rem(38px);
  border-bottom: 1px solid #B9B9B9;
}

.feedback-detail__title {
  font-size: rem(24px);
  line-height: rem(14px);
  color: #6F706F;
  margin-bottom: rem(29px);
}

.text-block__wrap {
  margin-bottom: rem(22px);
  @include last-mb-0
}

.text-block__title {
  color: $color-red;
}

.text-block__desc {
  line-height: rem(20px);
  color: #4C4C4C;

}

.feedback-detail__date {
  color: #4C4C4C;
}

.feedback-reply__wrap {
  position: relative;
  margin-top: rem(35px);
  padding-top: rem(30px);
  border-top: 1px solid #E6E6E6;

}

.feedback-reply__arrow {
  position: absolute;
  top: rem(-18px);
  left: rem(114px);
  @include width-flex(rem(34px))
  height: rem(13px);
}

.img-reply-arrow {
  height: 100%;
  width: auto;
}

.table__wrap {
  margin-top: rem(80px);
  margin-bottom: rem(70px);
  padding-left: rem(15px);
  padding-right: rem(50px);
}

.table-ext {
  width: 100%;
  margin-bottom: rem(68px);
  .tr-head {
    border-bottom: 1px solid #E6E6E6;
  }
  tr.tr {
    border-bottom: 1px solid #E6E6E6;
    &:last-child {
      border-bottom: none;
    }
  }
  th.th {
    white-space: nowrap;
    color: #B9B9B9;
    padding: rem(19px) rem(13px);
    font-weight: 400;

  }
  td.td {
    padding: rem(27px) rem(13px) rem(31px);
    vertical-align: top;
    text-align: right;
    &:last-child {
      position: relative;
    }
  }
  td.td.text-left {
    max-width: 100%;
  }
  .td-br {
    border-right: 1px solid #E6E6E6;
  }
}

.td-title {
  &:hover {
    color: $color-red;
  }
}

.table-in {
  margin-left: rem(-13px);
  margin-right: rem(-13px);
  font-size: rem(14px);
  line-height: rem(14px);
  color: #4C4C4C;

  th.th {
    font-size: rem(12px);
    color: #4C4C4C;
    padding: rem(11px) rem(10px);
    text-align: center;
  }
  td.td {
    padding: rem(9px) rem(10px);
    border: 1px solid #E6E6E6;
    width: rem(51px);
    text-align: center;
    &:first-child {
      width: rem(226px);
      text-align: left;
    }
  }
}

.sum-discount {
  margin-top: rem(21px);
  color: #B8B8B8;
  text-transform: lowercase;
}

.td-link {
  position: absolute;
  top: rem(27px);
  right: rem(-320px);
}

.page-favorite,
.page-cart {
  .button-green {
    width: rem(360px);
    margin-top: rem(65px);
  }
}

.attention__wrap {
  margin: rem(65px) 0 rem(61px);
}

.attention-text {
  font-size: rem(24px);
  line-height: rem(29px);
  color: #4C4C4C;
}

.menu-left__wrap {
  width: 100%;
  border-right: 1px solid #E6E6E6;
  height: 100%;
  padding-right: rem(50px);
}

.menu-left__title {
  font-size: rem(16px);
  line-height: rem(19px);
  color: #B8B8B8;
  margin-bottom: rem(33px);
  padding-right: rem(50px);
}

.menu-left__item {
  margin-bottom: rem(32px);
  @include last-mb-0
  &:hover {
    color: $color-red;
  }
}

.menu-left__link {
  font-size: rem(16px);
  line-height: rem(19px);
  color: #4F4F4F;
}

.menu-left__item.active {
  .menu-left__link {
    color: $color-red;
  }
}

.info-accord__wrap {
  margin: rem(70px) 0;
}

.info-accord__item {
  border-bottom: 1px solid #E6E6E6;
  margin-bottom: rem(24px);
  padding-bottom: rem(24px);
}

.info-accord__block {
  padding-top: rem(24px);
  margin-left: rem(45px);
  color: #4F4F4F;
  .p {
    margin-bottom: rem(14px);
    @include last-mb-0
  }

}

.list-marker__item {
  display: flex;
  align-items: center;
  margin-bottom: rem(8px);
  @include last-mb-0
  &:before {
    content: '';
    @include width-flex(rem(5px))
    height: rem(5px);
    margin-right: rem(25px);
    background: #4F4F4F;
    margin-top: rem(3px);
  }
}

.list-marker {
  margin-bottom: rem(20px);
  font-size: rem(16px);
  line-height: rem(19px);
}

.block-gray {
  padding: rem(24px) rem(30px);
  background: #F2F3F7;
}

.desc {
  .p {
    margin-bottom: rem(16px);
    @include last-mb-0
  }
}

.news-list__wrap {
  margin-bottom: rem(32px);
}

.news-list__item {
  box-shadow: rem(2px) rem(4px) rem(23px) rgba(183, 183, 183, 0.14);
  border-radius: rem(4px);
  padding: rem(32px) rem(40px);
  margin-bottom: rem(20px);
  @include last-mb-0

  .button-text {
    font-size: rem(16px);
    line-height: rem(19px);

  }
}

.news-list__date {
  color: $color-gray3;
  margin-bottom: rem(24px);
}

.news-list__title {
  text-transform: lowercase;
  color: $color-red;
  margin-bottom: rem(32px);
}

.news-list__text {
  color: #4F4F4F;
  margin-bottom: rem(40px);
}

.news-item__date {
  color: #4C4C4C;
}

.news-item__title {
  font-size: rem(24px);
  line-height: rem(29px);
  color: $color-red;
  margin-bottom: rem(42px);
}

.table-news {
  margin: rem(50px) 0;
  td.td {
    white-space: nowrap;
    padding: 0 rem(15px) 0 rem(60px);
  }
  .td-name {
    width: 40%;
  }
  td.td.td-col {
    white-space: normal;
    padding-left: 0;
  }
}

.news-img__block {
  margin-bottom: rem(32px);
  display: flex;
}

.news-img__wrap {
  @include width-flex(rem(150px))
  margin-left: rem(20px);
}

.news-img {
  width: 100%;
  height: auto;
}

.news-img__text {
  color: #4C4C4C;
  .button-text {
    text-transform: none;
  }
}

.page-about {
  .info-accord__wrap {
    margin: rem(32px) 0 rem(57px) 0;
  }
}

.slider-about__wrap {
  margin-bottom: rem(129px);
  .container-arrows {
    top: 115%;
  }
  .prev-button, .next-button {
    @include width-flex(rem(16px))
    height: rem(33px);
  }
  .prev-button {
    margin-left: rem(350px);
  }
  .next-button {
    margin-right: rem(350px);
  }

}

.slider-team__wrap {
  margin-bottom: rem(97px);
  .container-arrows {
    top: 111%;
  }
  .prev-button, .next-button {
    @include width-flex(rem(16px))
    height: rem(33px);
  }

  .prev-button {
    margin-left: rem(350px);
  }
  .next-button {
    margin-right: rem(350px);
  }
}

.slider-about__wrap,
.slider-team__wrap {
  position: relative;
  margin-right: rem(-20px);
  .slick-dots {
    bottom: rem(-42px);
  }
  .slick-dots li button {
    border-radius: 50%;
    border: rem(2px) solid #4C4C4C;
    background: #FFFFFF;
    width: rem(14px);
    height: rem(14px);
  }
  .slick-dots li.slick-active button {
    background: #4C4C4C;
    width: rem(16px);
    height: rem(16px);
  }
  .slick-dots li button:before {
    content: '';
    width: rem(14px);
    height: rem(14px);
  }

}

.slider-about__item {
  border-radius: rem(4px);
  overflow: hidden;
}

.slider-about__item,
.slider-team__item {
  margin-right: rem(20px);
}

.slider-about-img__wrap {
  height: rem(206px);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.slider-about-img {
  height: 100%;

}

.slider-team-img__wrap {
  height: rem(211px);
  margin-bottom: rem(40px);
  border-radius: rem(4px);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.slider-team-img {
  height: 100%;
}

.slider-team__title {
  color: #90949A;

}

.slider-team__subtitle {
  color: #90949A;
}

.article-item__wrap {
  .p {
    color: $color-gray1;
    margin-bottom: rem(16px);
  }
  .button-text {
    text-transform: none;
    font-size: inherit;
    line-height: inherit;

  }
}

.pay-list__wrap {
  margin-top: rem(24px);
}

.pay-list__item {
  padding-top: rem(25px);
  border-top: 1px solid #E6E6E6;
  margin-bottom: rem(25px);
  @include last-mb-0
}

.pay-list__title {
  color: $color-red;
  margin-bottom: rem(12px);
}

.pay-list__text {
  color: $color-gray2;
}

.pay-list__img-block {
  margin-top: rem(20px);
  display: flex;
  align-items: center;
}

.pay-card {
  margin-right: rem(16px);
  @include last-mr-0
}

.pay-card-mc {
  @include width-flex(rem(44px))
  height: rem(28px);
}

.pay-card-vs {
  @include width-flex(rem(51px))
  height: rem(14px);
}

.pay-card-mir {
  @include width-flex(rem(60px))
  height: rem(17px);
}

.pay-bank {
  @include width-flex(rem(121px))
  height: rem(44px);
}

.page-pay {
  .info-accord__wrap {
    margin-bottom: 0;
  }
  .info-accord__item {
    &:last-child {
      border-bottom: none;
    }
  }
  .desc {
    .p {
      font-size: rem(16px);
      line-height: rem(19px);
    }
  }
}

.page-feedback-list {
  .button-green {
    width: rem(310px);
  }
  .buttons__wrap {
    margin-top: rem(31px);
    flex-direction: row;
    margin-bottom: rem(62px);
  }
  .feedback-detail__title {
    color: #90949A;

  }

  .feedback-rating__text {
    text-transform: lowercase;
    color: #90949A;
  }

}

.page-feedback {
  .button-green {
    width: rem(233px);
  }
  .buttons__wrap {
    flex-direction: row;
  }

  .feedback-detail__title {
    font-size: rem(22px);
    line-height: rem(27px);
    color: $color-gray1;
  }
  .desc {
    .p {
      color: #333333;
    }
  }

  .feedback-detail__date {
    color: $color-gray3;
  }
  .feedback-rating__text {
    text-transform: lowercase;
    color: $color-gray2;
  }
  .text-block__desc {
    color: $color-gray2;
  }
  .text-block__title {
  }
  .text-block__wrap {
    margin-bottom: rem(20px);
  }
}

.feedback-item__title {
  font-size: rem(28px);
  line-height: rem(34px);
  color: $color-gray1;
  margin-bottom: rem(22px);
}

.feedback-list__item {
  padding: rem(38px) rem(25px) rem(31px);
  box-shadow: 0px 0px rem(15px) rgba(0, 0, 0, 0.05);
  border-radius: rem(2px);
  margin-bottom: rem(18px);
  @include last-mb-0

  .text-block__desc {
    color: #90949A;
  }
  .feedback-detail__date {
    color: #90949A;
  }
}

.feedback-comment {
  line-height: rem(21px);
  color: $color-gray2;
}

.feedback-list__rating-block {
  display: flex;

}

.feedback-detail__method {
  text-transform: lowercase;
  color: $color-gray2;
  margin-left: rem(20px);
}

.feedback-send__wrap {
  position: relative;
  padding-top: rem(35px);
  border-top: 1px solid #E6E6E6;
  .text-block__title {
    margin-right: rem(33px);
  }
}

.feedback-send__title {
  font-size: rem(22px);
  line-height: rem(27px);
  color: $color-gray1;
  margin-bottom: rem(32px);
}

.feedback-send__stars {
  display: flex;
  margin-bottom: rem(32px);
}

.feedback-send__inputs {
  .text-block__title {
    margin-bottom: rem(12px);
  }
}

// Stars start

.review_stars_wrap {
  overflow: hidden;
}

#review_stars {
  overflow: hidden;
  position: relative;
}

#review_stars input {
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}

.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.fa-star {
  width: rem(20px);
  height: rem(19px);
}

#review_stars input ~ label i {
  background-image: url('../img/icon-star-gray.svg');
}

#review_stars input:checked ~ label i {
  background-image: url('../img/icon-star-red.svg');
}

#review_stars label {
  float: right;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

#review_stars label:hover i, #review_stars label:hover ~ label i {
  background-image: url('../img/icon-star-red.svg');
}

// Stars end

.page-orders {
  .table__wrap {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
  }
  .button-green {
    width: rem(318px);
  }
  .buttons-line__wrap {
    margin-top: rem(64px);
  }

}

.table-orders {
  width: 100%;

  th.th {
    color: #B8B8B8;
    padding: 0 rem(10px) rem(46px);
    font-weight: normal;
    text-align: center;
  }

  tr.tr.tr-line {
    td.td {
      padding-top: rem(42px);
    }
    td.td:nth-child(n+2) {
      border-top: 1px solid #B8B8B8;
    }
    td.td:first-child {
      position: relative;
      top: rem(-35px);
      left: 0;
      text-align: left;
      padding-left: 0;
      padding-top: 0;
      font-size: rem(22px);
      line-height: rem(27px);
      color: #000000;
    }
  }

  tr.tr.tr-total {
    border-top: 1px solid #B8B8B8;
    td.td {
      padding: rem(24px) rem(10px) rem(86px);
      color: $color-red;
    }
  }

  td.td {
    padding: 0 rem(10px) rem(42px);
    text-align: center;
    font-size: rem(16px);
    line-height: rem(19px);
    color: #4F4F4F;
    .button-text {
      font-size: rem(16px);
      line-height: rem(19px);

    }
  }
}

.page-order-detail {
  .table-ext {
    margin-bottom: rem(32px);
  }
  .table__wrap {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .button-green {
    width: rem(340px);
    margin-bottom: rem(34px);
  }
}

.order-info__item {
  display: flex;
}

.order-info__title {
  color: #B8B8B8;
  margin-right: rem(10px);
}

.discount__wrap {
  margin-top: rem(85px);
}

.discount-level__head {
  display: flex;
}

.discount-level {
  display: flex;
  min-height: rem(200px);
}

.discount-level__title {
  color: $color-red;
  margin-bottom: rem(32px);
}

.discount-level__left {
  position: relative;
  @include width-flex(rem(450px))
  border-right: rem(4px) solid #4C4C4C;
  padding-right: rem(110px);
  &:before {
    position: absolute;
    top: rem(60px);
    right: rem(-32px);
    content: '';
    background: $color-red;
    @include width-flex(rem(60px))
    height: rem(60px);
    border-radius: 50%;
  }
}

.discount-level__right {
  padding-left: rem(90px);
}

.discount-level__head {
  .discount-level__left {
    border-right: none;
    &:before {
      display: none;
    }
  }
}

.discount-level__info {
  padding-top: rem(20px);
  padding-bottom: rem(32px);
  color: #4C4C4C;
}

.discount-value {
  font-size: rem(36px);
  line-height: rem(43px);
  color: $color-red;
}

.lk-info__block {
  margin-bottom: rem(72px);
}

.lk-address__info {
  @include width-flex(50%)
}

.lk-address__info-title {
  color: #AAAAAA;
  margin-bottom: rem(12px);
}

.input-text {
  @include width-flex(100%)
  color: #555555;
  border: none;
  @include last-mb-0
  @include placeholder(#EAEAEA, rem(16px))
  resize: none;
  opacity: 1;

  &:disabled {
    background: none;
  }

  &:focus-visible {
    border: none;
    outline: none;
  }
}

.lk-address__item {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: rem(10px);
  .input-text {
    background: #F5F5F5;
    border-radius: rem(4px);
    height: rem(48px);
  }
  .input-text:disabled {
    background: none;
  }

}

.edit-block {
  margin-bottom: rem(32px);
  .button-text {
    white-space: nowrap;
    margin-left: rem(28px);
  }
}

.edit-buttons {
  display: inline-block;
  .save-button {
    display: none;
  }

}

.edit-buttons.save {
  .save-button {
    display: inline;
    color: $color-red;
    border-bottom: 1px solid $color-red;
  }

  .edit-button {
    display: none;
  }

}

.lk-address__wrap {
  padding-left: rem(24px);
}

.agreement__block {
  margin-bottom: rem(75px);
  .input-checkbox {
    border: 1px solid #B8B8B8;
    border-radius: rem(4px);
    margin-right: rem(8px);
  }
  .checkbox-text {
    font-size: rem(16px);
    line-height: rem(19px);
    color: #4F4F4F;
  }
  .button-text {
    font-size: inherit;
  }

}

.page-profile {
  .button-green {
    width: rem(238px);
  }
  .buttons-line__wrap {
    margin-bottom: rem(75px);
  }
}

.lk-status__wrap {
  .desc {
    margin-bottom: rem(24px);
  }

  .p {
    font-size: rem(16px);
    line-height: rem(19px);
    color: #4F4F4F;
    margin-bottom: rem(24px);
  }

  .button-text {
    font-size: rem(16px);
    line-height: rem(19px);
  }
}

.span-status {
  font-size: rem(22px);
  line-height: rem(27px);
  color: inherit;
}

.page-registration {
  .menu-left__wrap {
    padding-right: rem(20px);
  }
  .button-green {
    width: rem(238px);
  }
}

.p {
  .button-text {
    text-transform: none;
    cursor: pointer;
  }
}

.page-delivery {
  .desc {
    .p {
      .button-text {
        &:hover {
          color: $color-red;
          border-bottom: 1px solid $color-red;
        }
      }
    }
  }
  .info-accord__block .p {
    .button-text {
      border-bottom: 1px solid #E5E6E9;
      text-transform: none;
      font-size: inherit;
      cursor: pointer;
      &:hover {
        color: $color-red;
        border-bottom: 1px solid $color-red;
      }
    }
  }
  .list-marker__item {
    &:before {
      background: #4C4C4C;
    }
  }
}

.not-found__title {
  font-size: rem(24px);
  line-height: rem(29px);
  color: #4C4C4C;
  margin-bottom: rem(27px);
}

.not-found__info {
  color: #4C4C4C;
  margin-bottom: rem(61px);
}

.not-found__right {
  margin-top: rem(207px);
  margin-left: rem(30px);
}

.page-404 {
  .button-green {
    width: rem(316px);
    margin-right: rem(70px);
  }
}

.page-text {
  .p {
    margin-bottom: rem(20px);
  }
}

.page-working {
  .desc {
    margin-bottom: rem(14px);
    .p {
      font-size: rem(22px);
      line-height: rem(27px);
      color: $color-gray1;
    }
  }
}

.working-type__item {
  padding-top: rem(20px);
  border-top: 1px solid #E6E6E6;
  padding-left: rem(50px);
  margin-bottom: rem(20px);
}

.working-type__title {
  text-transform: lowercase;
  color: $color-red;
  margin-bottom: rem(12px);
}

.working-type__text {
  color: $color-gray1;
}

.page-info {
  .news-list__date {
    display: none;
  }
}

.page-public,
.page-pk {
  .desc {
    margin-bottom: rem(22px);
    .p {
      margin-bottom: 0;
    }
  }
}

.page-sizes {
  .desc {
    margin-bottom: rem(22px);
    @include last-mb-0
  }
}

.contact-block__wrap {
  margin-bottom: rem(48px);
}

.contact-block__wrap.accord-wrap--js {
  .p {
    @include last-mb-0
  }
}

.contact-block__title {
  font-size: rem(24px);
  line-height: rem(29px);
  color: $color-red;
  margin-bottom: rem(42px);
}

.contact-block__title.accord-title--js {
  margin-bottom: 0;
}

.contact-block__info {
  padding-top: rem(42px);
}

.contact-block__item {
  padding: rem(40px) rem(30px);
  border: 1px solid #DBDBDB;
  border-radius: rem(6px);
}

.contact-block__text {
  color: #4C4C4C;
  margin-bottom: rem(22px);
  @include last-mb-0
}

.contact-block__wrap.accord-wrap--js > .accord-title--js {
  &:after {
    display: none;
  }

  &:before {
    content: '';
    @include background-contain('icon-arrow-top.svg')
    @include width-flex(rem(28px))
    height: rem(14px);
    margin-right: rem(17px);
    transition: 0.5s;
    transform: rotate(180deg);
  }
}

.accord-wrap--js.active > .accord-title--js:before {
  transform: rotate(0deg);
}

.text-big {
  font-size: rem(24px);
  line-height: rem(29px);
  color: #4C4C4C;
}

.maps__wrap {
  width: 100%;
  height: rem(321px);
  border: 1px solid #DBDBDB;
  border-radius: rem(6px);
  overflow: hidden;
}

.map {
  width: 100%;
  height: 100%;
}

.slider__wrap-contacts {
  cursor: pointer;
  margin-right: rem(-20px);
  margin-bottom: rem(53px);
}

.slider-contacts__item {
  margin-right: rem(20px);
}

.slider-contacts-img__wrap {
  width: rem(329px);
  border-radius: rem(6px);
  overflow: hidden;
}

.slider-contacts-img {
  width: 100%;
  height: auto;
}

.select2-container {
  width: 100% !important;
  background: #FFFFFF;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #DBDBDB;
  border-radius: rem(4px);
  padding: rem(13px) rem(24px);
  height: rem(56px);
  outline: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: rem(14px);
  right: rem(26px);
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-top: rem(10px) solid #ACACAC;
  border-right: rem(10px) solid transparent;
  border-left: rem(10px) solid transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-bottom: rem(10px) solid #ACACAC;
  border-right: rem(10px) solid transparent;
  border-left: rem(10px) solid transparent;
}

.select2-container--open .select2-dropdown--below,
.select2-container--open .select2-dropdown--above {
  padding: rem(24px);
  max-height: rem(373px);
  background: #FFFFFF;
  border: none;
  box-shadow: rem(2px) rem(4px) rem(23px) rgba(183, 183, 183, 0.2);
  border-radius: rem(4px);
  overflow: hidden;
}

.select2-results__option {
  margin-right: rem(24px);
  font-family: $TahomaRegular;
  font-size: rem(16px);
  line-height: rem(19px);
  text-decoration-line: underline;
  color: #555555;
  border-bottom: 1px solid #DBDBDB;
  padding: rem(16px) 0;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: white;
  color: $color-red;
}

.select2-container--default .select2-results__option--selected {
  background-color: white;
  color: $color-red;
}

.select2-search--dropdown {
  height: 0;
  padding: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: none;
  height: 0;
  padding: 0;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #AAAAAA;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: rem(325px);
  scrollbar-width: thin;
  scrollbar-color: #555555 #DBDBDB;
  &::-webkit-scrollbar {
    height: auto;
    width: rem(6px);
  }
  &::-webkit-scrollbar-track {
    background: #DBDBDB;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #555555;
    border: rem(6px) solid #555555;
  }
}

.tabs__wrap {
  .radio-block__wrap {
    margin-bottom: rem(4px);
  }
}

.tabs__block--js {
  display: none;
}

.tabs__block--js.active {
  display: block;
}

.tabs__wrap {
  .radio-block__list {
    display: flex;
    width: calc(100% + 1.5rem);
    flex-wrap: wrap;
  }

}

.tabs__item {
  margin-right: rem(20px);
  margin-bottom: rem(20px);
}

.tabs__item.active {
  .radio-block__check {
    display: block;
  }
}

.post-address__wrap {
  margin-top: rem(24px);
  .input-block__title {
    margin-left: 0;
    text-transform: none;
  }
}

.post-address {
  margin-left: rem(24px);
}

.button-address__wrap {
  display: inline-flex;
  align-items: center;
  position: relative;
  &:after {
    content: '';
    @include background-contain('icon-arrow-tb.svg')
    @include width-flex(rem(9px))
    height: rem(22px);
    margin-left: rem(8px);
  }
}

.address-list {
  display: none;
  position: absolute;
  z-index: 10;
  top: rem(40px);
  right: 0;
  background: #FFFFFF;
  box-shadow: rem(2px) rem(4px) rem(123px) rgba(183, 183, 183, 0.5);
  border-radius: rem(4px);
  padding: rem(20px) rem(20px);
  &:before {
    position: absolute;
    top: rem(-10px);
    right: 0;
    content: '';
    width: rem(20px);
    height: rem(10px);
    border-top: rem(10px) solid transparent;
    border-bottom: rem(10px) solid transparent;
    border-right: rem(20px) solid $color-white;
    border-left: rem(20px) solid transparent;
  }
}

.address-list.active {
  display: block;

}

.address-item {
  border-bottom: 1px solid #DBDBDB;
  padding-bottom: rem(18px);
  margin-bottom: rem(18px);
  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .button-text {
    text-transform: none;
  }
}

.datepicker {
  width: rem(320px);
}

.datepicker--day-name,
.datepicker--cell.-current- {
  color: $color-red;

}

.datepicker--cell.-selected-,
.datepicker--cell.-selected-.-current-,
.datepicker--cell.-selected-.-focus- {
  background: $color-red;
}

// footer desktop

.footer__bg {
  @include background-contain('footer-bg.png')
  padding-top: rem(111px);
  margin: rem(24px) 0 rem(45px);
}

.footer__wrap {
  background: rgba(59, 59, 59, 0.12);
  border: 1px solid #888888;
  padding: rem(48px) 0 rem(45px);
}

.footer-left__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.footer-logo__wrap {
  margin-top: rem(4px);
  width: rem(250px);
  height: auto;
  margin-bottom: rem(27px);
}

.footer-info__block {
  margin-bottom: rem(21px);
  margin-left: rem(10px);
}

.footer-left__bottom {
  margin-left: rem(10px);
}

.footer-info__title {
  color: $color-red;
}

.footer-info__text {
  color: #3B3B3B;
}

.footer-menu__item {
  margin-bottom: rem(21px);
  @include last-mb-0
}

.footer-menu__link {
  color: #3B3B3B;
  &:hover {
    color: $color-red;
  }
}

.footer-bottom {
  margin-top: rem(54px);
}

.footer-bottom__text {
  color: #B8B8B8;
  text-align: center;
  margin-bottom: rem(21px);
  @include last-mb-0
  a {
    color: inherit;
    &:hover {
      color: $color-red;
    }
  }
}

/* Модальные окна */

.modal-dialog {
  border-radius: rem(6px);
  border: 1px solid #1E1E1E;
}

.modal-content {
  border: none;
  padding: rem(40px) rem(50px) rem(50px) rem(60px);
  background: #F4F4F4;
}

.close-modal {
  position: absolute;
  right: rem(22px);
  top: rem(21px);
  @include background-contain('icon-close.svg')
  @include width-flex(rem(21px))
  height: rem(21px);
  border: none;
  border-radius: 0;
  background-color: transparent;
  z-index: 10;
}

.modal-small {
  .modal-dialog {
    max-width: rem(698px);
  }
}

.modal-middle {
  .modal-dialog {
    max-width: rem(873px);
  }
}

.modal-big {
  .modal-dialog {
    max-width: rem(902px);
  }
}

.modal-body {
  padding: 0;
  .input__wrap {
    height: rem(42px);
    margin-bottom: rem(40px);
    &:last-child {
      margin-bottom: 0;
    }
  }
  .button-green {
    padding-left: rem(57px);
    padding-right: rem(57px);
    height: rem(48px);
  }
  .buttons__wrap {
    margin-top: rem(45px);
  }
  .input__wrap.input-textarea__wrap {
    height: 100%;
  }
  .desc {
    margin-bottom: rem(46px);
    .button-text {
      text-transform: none;
    }
  }
  .label-checkbox {
    margin-bottom: 0;
  }
  .checkbox-text {
    color: #B7B7B7;
  }
  .feedback-send__wrap {
    margin: 0 auto;
    width: rem(491px);
    padding-top: 0;
    border: none;
    .text-block__title {
      color: #AAAAAA;
      margin-left: rem(24px);
    }
  }
}

.modal-inputs__wrap {
  margin: 0 auto;
  width: rem(491px);
}

.modal-title {
  text-align: center;
  font-size: rem(24px);
  line-height: rem(29px);
  color: #545454;
  margin-bottom: rem(44px);
}

.modal-text {
  color: #545454;
}

.modal-check__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-table__row {
  display: flex;
  margin-bottom: rem(20px);
  @include last-mb-0
}

.text-table__cell {
  &:first-child {
    @include width-flex(rem(150px))
  }
}

.modal-big__title {
  font-size: rem(24px);
  line-height: rem(29px);
  text-transform: uppercase;
  color: #565656;
}

.modal-big__subtitle {
  color: #565656;
  margin-bottom: rem(20px);
}

.modal-big {
  .p {
    color: #B8B8B8;
  }
}

.modal-orders {
  width: 100%;
  th.th {
    width: 10%;
    text-align: center;
    padding-bottom: rem(18px);
    text-transform: uppercase;
    color: #555555;
    font-weight: normal;
  }
  th.th.active {
    color: $color-red;
  }

  td.td-first {
    width: 30%;
    max-width: 30%;
  }
  td.td-first.active {
    .product-color__name {
      color: $color-red;
    }
  }

  td.td {
    position: relative;
    width: 10%;
    max-width: 10%;
  }
  td.td.active {
    .input-small {
      border: 1px solid $color-red;
    }
  }

  tr.tr-bottom {
    td.td {
      padding-top: rem(55px);
    }
    .td-block {
      top: rem(55px);
    }
  }

  .product-color__value {
    @include width-flex(rem(31px))
    height: rem(25px);
  }
}

.input-small {
  width: 100%;
  max-width: 100%;
  height: rem(27px);
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #B8B8B8;
  outline: none;
  border-radius: rem(4px);
  -moz-appearance: textfield;
  &::-webkit-inner-spin-button {
    display: none;
  }
  &:focus {
    border: 1px solid $color-red;
  }
}

.input-small.input-red {
  border: 1px solid $color-red;
}

input.input-small[disabled] {
  background: #F4F4F4;
  @include background-contain('img-disabled.svg')
}

.img-error {
  height: auto;
}

.img-error.error1 {
  width: rem(312px);
}

.img-error.error2 {
  width: rem(780px);
}

.img-error.error3 {
  width: rem(880px);
}

.ul-easy {
  margin-left: rem(10px);
}

.li-easy {
  display: flex;
  &:before {
    content: '-';
    margin-right: rem(5px);
  }
}

.content-right__wrap {
  padding-left: rem(40px);
}

#upbutton {
  position: fixed;
  bottom: rem(40px);
  right: rem(100px);
  z-index: 10000;
}

.upbutton {
  border-radius: 50%;
  width: rem(50px);
  height: rem(50px);
  box-shadow: 0px 0px rem(18px) 0px rgba(50, 50, 50, 0.08);
  cursor: pointer;
}

.slider-single .slick-slider {
  opacity: 0;
  border-radius: rem(4px);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.slider-single .slick-slider.slick-initialized {
  opacity: 1;
}

.show-more {
  font-size: rem(16px);
  margin-top: rem(15px);
  align-items: center;
  position: relative;
  span {
    display: inline-block;
    text-decoration: underline;
  }
  &:hover {
    color: $color-red;
    cursor: pointer;
  }
  &:after {
    display: block;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: rem(23px);
    height: rem(76px);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%);
    transition: 1s;

  }
}

.readmore-js-expanded + .show-more {
  &:after {
    display: none;
  }
}

.menu-dropdown {
  padding: rem(20px) rem(28px) rem(10px);
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  top: rem(58px);
  width: 100%;
  background: $color-white;
  min-height: rem(150px);
  display: none;
  box-shadow: 0px 0px rem(10px) 1px rgba(0, 0, 0, 0.28);
  border: 1px solid #C8C8C8;
  border-radius: 0.1875rem;
}

.menu-dropdown__list {
  display: flex;
  flex-wrap: wrap;
}

.menu-dropdown__item {
  margin-bottom: rem(20px);
  padding-right: rem(20px);
  @include width-flex(20%)
}

.menu-dropdown__link {
  display: inline-block;
  margin-bottom: rem(10px);
  color: $color-red;
  &:hover {
    color: $color-red;
  }
}

.menu-dropdown__sublist {
  font-size: rem(14px);
  line-height: rem(17px);
}

.menu-dropdown__sublist-item {
  margin-bottom: rem(5px);
  display: flex;
  &:before {
    content: '-';
    margin-right: rem(5px);
  }
}

.menu-dropdown__sublist-link {
  &:hover {
    color: $color-red;
  }
}

.mfp-bg {
  background: $color-white;
  opacity: 1;
}

.body.mfp-zoom-out-cur {
  .upbutton {
    display: none;
  }
}

button.mfp-close {
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url('/img/gallery-close.png');
  position: absolute;
  top: -23px;
  right: auto;
  left: 102%;
  display: block;
  width: 48px;
  height: 48px;
  content: "";
  border-radius: 23px;
  cursor: pointer;
  opacity: .3;
  &:hover {
    opacity: 1;
  }
  &:active {
    top: -23px;
  }
}

.mfp-close:active {
  top: 10px;
}

.mfp-arrow:before,
.mfp-arrow:after {

}

.mfp-arrow-right:before,
.mfp-arrow-left:before {
  content: '';
  border: none;
  background-color: transparent;
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}

.mfp-arrow-right:before {
  background-image: url('/img/icon-arrow-right.svg');
}

.mfp-arrow-left:before {
  background-image: url('/img/icon-arrow-left.svg');
}

.mfp-arrow-left:after,
.mfp-arrow-right:after {
  border: none;
}

.mfp-s-loading .mfp-arrow {
  display: none;
}

.mfp-arrow-left {
  left: -80px;
}

.mfp-arrow-right {
  right: -80px;
}

@import '_misc/media';

