extends ../templates/template.pug
block content

  .page.page-404
    .container
      
      .not-found__block
        .row
          .col-lg-8
            .not-found__left
              img(src='../img/img-error-1.jpg' alt='', title='', loading="lazy").img-error.error1
              img(src='../img/img-error-2.jpg' alt='', title='', loading="lazy").img-error.error2
              .text-right
                img(src='../img/img-error-3.jpg' alt='', title='', loading="lazy").img-error.error3
          .col-lg-4
            .not-found__right
              .not-found__title Что-то пошло не так?
              .not-found__info 
                | Пока давайте вернемся на главную страницу
                | или в любой другой раздел...
              +button-green('вернуться на главную') 
          
          
