extends ../templates/template.pug
block content
  +breadcrumb('о компании')

  .page.page-about
    .container
      .row
        .col-lg-3
          .menu-left__wrap
            .menu-left__item.active
              a(href="javascript:void(0);").menu-left__link О компании
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Новости
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Информация
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Обзоры
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Производители и бренды
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Прайс лист и бланк заказа
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Система скидок
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Отзывы о компании
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Политика конфиденциальности
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Публичная оферта


        .col-lg-9
          .content-right__wrap
            h1.h1 О компании
            .decs.mb-4.mb-lg-5
              p.p.mb-3
                | Торговая компания «<span class="span-red">Про</span>Колготки» занимается профессиональной продажей оптом и в розницу 
                | чулочно-носочных изделий и нижнего белья с 1996 года. 
              p.p.mb-3
                | Мы являемся действующими дистрибуторами компаний: «Единая Европа Элит» (портфель брендов: MINIMI, 
                | GOLDEN LADY, OMSA, SISI, FILODORO, PHILIPPE MATIGNON), «Альфа Текстайлз» (портфель брендов: INNAMORE, INCANTO, GLAMOUR), «Арст» (портфель брендов: CONTE, LEVANTE), а также партнёром: «ДжиЭс Групп» 
                | (представитель бренда GIULIA), «Мирей» (представитель брендов ELLEDUE, MIREY, MY), «Ори-Рус» 
                | (представитель бренда ORI), «Катерина групп» (представитель бренда FALKE), «ИталФарм» (представитель 
                | бренда RELAXSAN), «Весса» (представитель бренда INTIMIDEA), «А-Маркет» (представитель бренда ALLA BUONE) 
                | и многих других компаний поставщиков-импортеров.
              p.p
                | Торговая компания «<span class="span-red">Про</span>Колготки» является вторым звеном в цепочке распространения товаров в нашей стране 
                | (первым после импортера). Мы сотрудничаем только с официальными импортерами и гарантируем подлинность 
                | происхождения всей предлагаемой продукции. Статус дистрибутора, позволяет нам предлагать товары, по тем 
                | же ценам, что и у непосредственного импортера.
  
            h2.h2 Для кого мы работаем
            .decs.mb-4.mb-lg-5
              p.p
                | Приоритетное направление работы компании «<span class="span-red">Про</span>Колготки» - оптовая продажа колготок и чулок, женского и 
                | мужского нижнего белья, женских и мужских носков. Клиентов, которые закупают товар с целью дальнейшей 
                | продажи (B2B), мы называем - профессиональные партнеры.
              p.p
                .span-red Для профессиональных партнеров мы предлагаем:
              ul.ul-easy 
                li.li-easy
                  p.p оптовая цена такая же, как и у непосредственных импортеров;
                li.li-easy
                  p.p оптовая цена на все товары из нашего ассортимента (вне зависимости от бренда или группы брендов от определенного поставщика);
                li.li-easy
                  p.p большой выбор товаров в реальном наличии, собранных от разных импортёров в одном месте;
                li.li-easy
                  p.p высокий процент выполнения заказов;
                li.li-easy
                  p.p продажа без ограничений по количеству (от 1 шт. любой модели любого бренда/размера/цвета);
                li.li-easy
                  p.p возможность самовывоза или отправки операторам доставки в день поступления заказа;
                li.li-easy
                  p.p ответственная помощь и консультации в формировании стартового или в коррекции рабочего ассортимента;
                li.li-easy
                  p.p доставка заказов по России;
                li.li-easy
                  p.p возможность участия в акционных программах, проводимыми импортерами.
            
            .decs.mb-4.mb-lg-5
              p.p
                | Также наша компания предлагает покупку товаров из нашего ассортимента в розницу для потребителей (B2C).
              p.p
                .span-red Для потребителей (физ. лиц) мы предлагаем:
              ul.ul-easy
                li.li-easy
                  p.p покупка в нашем шоуруме по адресу: Москва, Коломенский проезд, 13А (в рабочее время компании ПН-ПТ с 8:00 до 17:00, в СБ с 8:00 до 16:00);
                li.li-easy
                  p.p покупка в нашем интернет-магазине www.prokolgotki.ru с доставкой по России;
                li.li-easy
                  p.p онлайн заказы, принятые до 15:00, отправляем операторам доставки в день получения (доставка заказа: для Москвы на следующий рабочий день, для Санкт-Петербурга на второй рабочий день, города России в зависимости от работы служб доставки);
                li.li-easy
                  p.p профессиональные консультации и помощь по выбору (у нас есть знания, понимание и опыт работы с этими товарами уже более 25 лет);
                li.li-easy
                  p.p прозрачность ценообразования (прайс-лист и система скидок опубликованы на сайте);
                li.li-easy
                  p.p начальную цену ниже средне розничной (мнение компании), с возможностью её уменьшения;
                li.li-easy
                  p.p система скидок от 7,5% до 30%, в зависимости от суммы разовой покупки;
                li.li-easy
                  p.p накопительные скидки от 7,5% до 20% (программа лояльности для постоянных покупателей);
                li.li-easy
                  p.p возможность формирования коллективных заказов (несколько заказов с общей скидкой для всех участников).
  
  
            h2.h2.mb-0 Галерея нашей компании
            .decs.mb-2
              p.p
                | Торговая компания «<span class="span-red">Про</span>Колготки» работает в формате шоурум/офис/склад:
            .slider__wrap.slider-about__wrap
              .container-arrows
              .slider-about
                - for(var i=0; i<4; i++)
                  a(href="javascript:void(0);").slider-about__item
                    .slider-about-img__wrap
                      img(src=`../img/contact-img-${i + 1}.jpg` alt='', title='', loading="lazy").slider-about-img
  
            h2.h2.mb-0 Наша команда
            .decs.mb-2
              p.p
                | Рабочий штат компании «<span class="span-red">Про</span>Колготки» состоит из 10 сотрудников (8 в постоянном штате и 2 приходящих):
            .slider__wrap.slider-team__wrap
              .container-arrows
              .slider-team
                -for(var j=0; j<2; j++)
                  a(href="javascript:void(0);").slider-team__item
                    .slider-team-img__wrap
                      img(src=`img/team-img-0.png` alt='', title='', loading="lazy").slider-team-img
                    .slider-team__title Гарцуева Ольга
                    .slider-team__subtitle директор, главный менеджер по продажам
                  a(href="javascript:void(0);").slider-team__item
                    .slider-team-img__wrap
                      img(src=`img/team-img-0.png` alt='', title='', loading="lazy").slider-team-img
                    .slider-team__title Молчанов Сергей
                    .slider-team__subtitle управляющий менеджер, менеджер по сайту 
                  a(href="javascript:void(0);").slider-team__item
                    .slider-team-img__wrap
                      img(src=`img/team-img-0.png` alt='', title='', loading="lazy").slider-team-img
                    .slider-team__title Акопян Анастасия
                    .slider-team__subtitle менеджер по работе с нижним бельем
            
            h2.h2 История развития нашей компании
            .decs.mb-4.mb-lg-5
              p.p
                | В 1996 году мы начали работу в розничном формате с товарной группой ЧНИ (колготки и чулки).
              p.p  
                | В 1999 году мы начали работать в роли оптового оператора.
              p.p  
                | В 2000 году мы начали работу с группой товаров - женское нижнее бельё.
              p.p  
                | В 2004 году получили статус дистрибутора у компании импротера «Единая Европа Элит» (портфель брендов: 
                | MINIMI, GOLDEN LADY, OMSA, SISI, FILODORO, PHILIPPE MATIGNON).
              p.p  
                | В 2005 году получили статус дистрибутора у компании импротера «Альфа Текстайлз» (портфель брендов: 
                | INNAMORE, INCANTO, GLAMOUR).
              p.p  
                | С 2005 года мы работаем только с непосредственными импортерами (без посредников).
              p.p  
                | В 2006 году мы выбрали своё название - «ПроКолготки», и свой слоган «профессиональная продажа».
              p.p  
                | В 2010 году мы начали работу с группой товаров - мужское нижнее бельё.
              p.p  
                | В 2012 году мы начали работу с группой товаров - мужские и женские носки.
              p.p  
                | В 2013 году начал работать наш сайт и интернет-магазин www.prokolgotki.ru.
              p.p  
                | В 2018 году получили статус дистрибутора у компании импротера «Арст» (портфель брендов: CONTE, LEVANTE).
              p.p  
                | В 2021 году 25 лет нашей работы...
  
            h2.h2 История развития нашено ассортимента (портфель брендов ЧНИ)
            .decs.mb-4.mb-lg-5
              p.p
                | В 1996 году мы начали работу с брендом LEVANTE.
              p.p  
                | В 1996 году мы начали работу с брендом GOLDEN LADY.
              p.p  
                | В 1998 году мы начали работу с брендами OMSA и SANPELLEGRINO.
              p.p  
                | В 1999 году мы начали работу с брендами FILODORO и PHILIPPE MATIGNON.
              p.p  
                | В 2000 году мы начали работу с брендами SISI и GLAMOUR.
              p.p  
                | В 2000 году мы начали работу с брендом OROBLU.
              p.p  
                | В 2004 году мы начали работать с брендом ORI.
              p.p  
                | В 2005 году мы начали работать с брендом INNAMORE.
              p.p  
                | В 2012 году мы начали работу с брендом FRANZONI (вышел из нашего портфеля в 2017 году из-за банкротства 
                | компании производителя бренда).
              p.p  
                | В 2013 году мы начали работу с брендом MINIMI.
              p.p  
                | В 2014 году мы начали работу с брендом OMERO.
              p.p  
                | В 2015 году мы начали работу с брендами INCANTO и GIULIA.
              p.p  
                | В 2016 году мы начали работу с брендами FALKE и RELAXSAN.
              p.p  
                | В 2017 году мы начали работу с брендом VOGUE.
              p.p  
                | В 2017 году мы начали работу с брендами GRINSTON, SERGIO di CALZE, Dr. FEET.
              p.p  
                | В 2018 году мы начали работу с брендом СONTE.
              p.p  
                | В 2019 году мы начали работу с брендом TRASPARENZE.
              p.p  
                | В 2020 году мы начали работу с брендом  ELLEDUE...
  
              
            h2.h2 От других оптовых операторов мы отличаемся:
            .decs.mb-4.mb-lg-5
              ul.ul-easy.mb-3
                li.li-easy
                  p.p большим ассортиментом товара (более 40 брендов);
                li.li-easy
                  p.p товарным запасом с реальным наличием (свой склад);
                li.li-easy
                  p.p гибкой политикой ценообразования;
                li.li-easy
                  p.p высоким процентом выполнения заказов;
                li.li-easy
                  p.p возможностью предоставлять профессиональные консультации;
                li.li-easy
                  p.p рабочим графиком компании с рабочей субботой (6 раб. дней в неделю с ПН по СБ, кроме воскресения).
              
            h2.h2 От других интернет-магазинов мы отличаемся:
            .decs.mb-4.mb-lg-5
              ul.ul-easy.mb-3
                li.li-easy
                  p.p не высокой начальной ценой на товары - ниже средней (мнение нашей компании);
                li.li-easy
                  p.p более глубокими скидками от 7,5% до 30% (в зависимости от объёма заказа-покупки);
                li.li-easy
                  p.p уникальной программой лояльности для постоянных клиентов;
                li.li-easy
                  p.p работая с собственным товарным запасом (свой склад), мы уменьшаем время от заказа до его получения;
                li.li-easy
                  p.p гарантией происхождения товара, так как, являемся партнерами (дистрибуторами) многих компаний импортеров;
                li.li-easy
                  p.p возможностью работы с коллективными заказами (несколько заказов с общей скидкой для всех участников);
                li.li-easy
                  p.p реальным опытом работы с этим товаром (более 25 лет) и возможностью профессионального 
                li.li-easy
                  p.p консультирования по товару (выбор модели и ее аналоги, выбор правильного размера, выбор цвета).
  
            h2.h2 От известных онлайн макркетплейсов мы отличаемся:
            .decs
              ul.ul-easy.mb-4.mb-lg-5
                li.li-easy
                  p.p более понятной и прозрачной системой ценообразования (мы не пишем цены в формате 666 руб. скидка 66%);
                li.li-easy
                  p.p одной ценой на товар, а не разной в зависимости от его размера или цвета;
                li.li-easy
                  p.p большой реальной доступностью товаров в наличии (у нас нет принципа интересная цена есть - наличия нет);
                li.li-easy
                  p.p корректностью выполнения заказа (у нас не бывает принципа, заказали одно - привезли совсем другое);
                li.li-easy
                  p.p тем, что вы получите товар в нормальном виде (вам не привезут полу испорченный товар, который уже 10 раз кому-то возили, который 5 раз открывали и.т.д.);
                li.li-easy
                  p.p у нас намного больше полезной и профессионально более правильной информации о самом товаре;
                li.li-easy
                  p.p тем, что мы предлагаем более профессиональные фильтры для поиска именно таких товаров;
                li.li-easy
                  p.p в описание товара мы используем только оригинальные названия моделей/размеров/цветов, что упрощает понятный выбор;
                li.li-easy
                  p.p гораздо проще решаем любые вопросы, связанные с возвратом или обменом приобретенного у нас товара;
                li.li-easy
                  p.p предоставлением внимания (вы не будете разговаривать с роботами и «слушать музыку» в трубке), у вас будет реальная возможность получить профессиональную консультацию и помощь в выборе товара.
                    
              p.p.mb-3.mb-lg-5
                | Будем рады, если вы оцените усилия нашей компании по продаже колготок и чулок, женского и мужского 
                | нижнего белья, женских и мужских носков.
  
              a(href="javascript:void(0);").button-text Читать отзывы покупателей о работе нашей компании


