extends ../templates/template.pug
block content
  +breadcrumb('обзоры')

  .page.page-news
    .container
      .row
        .col-lg-3
          .menu-left__wrap
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link О компании
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Новости
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Информация
            .menu-left__item.active
              a(href="javascript:void(0);").menu-left__link Обзоры
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Производители и бренды
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Прайс лист и бланк заказа
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Система скидок
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Отзывы о компании
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Политика конфиденциальности
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Публичная оферта


        .col-lg-9
          .content-right__wrap
            h1.h1 Обзоры
            .news-list__wrap
              -for(var i=0; i<3; i++)
                +news-list-item({
                  title: 'Nanofibra - новое слово в мире колготок.',
                  text: 'Колготки из Nanofibra (НаноФибра) – это колготки, изготовленные из высокотехнологичной инновационной пряжи от итальянской компании Fulgar S.p.A. Компания Fulgar – является...',
                  button: 'читать обзор полностью'
                })
                +news-list-item({
                  title: 'SUPERLATIVA - новая серия колготок от OMSA.',
                  text: 'Новая серия OMSA SUPERLATIVA - это действительно концептуальная новинка, идейная разработка которой начиналась более десяти лет назад...',
                  button: 'читать обзор полностью'
                })
                +news-list-item({
                  title: 'Колготки и чулки FALKE - отличительно дорого!',
                  text: 'Немецкая торговая марка FALKE – известный представитель класса «ЛЮКС» в сегменте чулочно-носочного ассортимента. FALKE сотрудничает и выпускает колготки и чулки для таких известных домов моды, как: ARMANI, CHRISTIAN DIOR, MOSCHINO, YVES SAINT LAURENT и др...',
                  button: 'читать обзор полностью'
                })
  
            .news-list-bottom__wrap
              a(href="javascript:void(0);").button-text показать ещё  
              +paginator
