extends ../templates/template.pug
block content
  +breadcrumb('Цветные однотонные колготки...')

  .page.page-article
      .container
        .row
          .col-lg-3
            .menu-left__wrap
              .menu-left__item
                a(href="javascript:void(0);").menu-left__link О компании
              .menu-left__item
                a(href="javascript:void(0);").menu-left__link Новости
              .menu-left__item.active
                a(href="javascript:void(0);").menu-left__link Информация
              .menu-left__item
                a(href="javascript:void(0);").menu-left__link Обзоры
              .menu-left__item
                a(href="javascript:void(0);").menu-left__link Производители и бренды
              .menu-left__item
                a(href="javascript:void(0);").menu-left__link Прайс лист и бланк заказа
              .menu-left__item
                a(href="javascript:void(0);").menu-left__link Система скидок
              .menu-left__item
                a(href="javascript:void(0);").menu-left__link Отзывы о компании
              .menu-left__item
                a(href="javascript:void(0);").menu-left__link Политика конфиденциальности
              .menu-left__item
                a(href="javascript:void(0);").menu-left__link Публичная оферта


          .col-lg-9
            .content-right__wrap
              h1.h1 Цветные однотонные колготки...
              .article-item__wrap
                p.p
                  | С каждым годом мы замечаем, что спрос на цветные однотонные колготки растет. 
                  | И как давно известно - спрос рождает предложение. Многие производители колготок стали предлагать свои варианты таких моделей.
                p.p
                  | Наша компания ПроКолготки.ru придерживается консервативным 
                  | взглядам, но устоять увеличивающему спросу даже для нас стало не возможным. Теперь в нашем портфеле уже более 10 моделей цветных однотонных колготок. Но именно с февраля 2020 года выбор по цвету стал действительно большим. Сейчас мы можем предложить колготки не только ставшими уже стандартными – бордового, темно-синего, фиолетового или темно-зеленого цвета, но и ярких оттенков: желтого, розового, оранжевого цвета.
                p.p
                  | Ниже полезные ссылки на наш каталог, возможно которые Вам могут быть полезны:
                p.p
                  | <span class="span-br">Все варианты цветных однотонных колготок представленных в ассортименте компании ПроКолготки.ru…</span>
                  | Ссылка: <a href="#" class="button-text button-black">https://prokolgotki.ru/list/tights/page_count=1000,cat=29,den=,brand=,class=0</a>
                p.p
                  | <span class="span-br">Самый большой выбор по цвету (24 варианта) – колготки TRASPARENZE SOPHIE 70</span>
                  | ссылка: <a href="#" class="button-text button-black">https://prokolgotki.ru/trasparenze_sophie_70</a>
                  | <span class="span-br">Даже за первые полгода продаж бренда TRASPARENZE (в нашем портфеле с конца сентября 2019) модель SOPHIE 70 стала абсолютным хитом…</span>
                p.p
                  | <span class="span-br">Самые доступные доступные (по цене) цветные однотонные колготки – GIULIA BLUES 70</span>
                  | ссылка: <a href="#" class="button-text button-black">https://prokolgotki.ru/giulia_blues_70</a>
                p.p
                  | <span class="span-br">Цветные однотонные колготки эконом класса…</span>
                  | ссылка: <a href="#" class="button-text button-black">https://prokolgotki.ru/list/tights/brand=,class=1,den=,cat=29</a>
                p.p
                  | <span class="span-br">Цветные однотонные колготки класса средний -…</span>
                  | ссылка: <a href="#" class="button-text button-black">https://prokolgotki.ru/list/tights/brand=,class=1,den=,cat=29</a>
                p.p
                  | <span class="span-br">Цветные однотонные колготки среднего класса…</span>
                  | ссылка: <a href="#" class="button-text button-black">https://prokolgotki.ru/list/tights/brand=,class=1,den=,cat=29</a>
                p.p
                  | <span class="span-br">Цветные однотонные колготки класса средний +…</span>
                  | ссылка: <a href="#" class="button-text button-black">https://prokolgotki.ru/list/tights/brand=,class=1,den=,cat=29</a>
                p.p
                  | <span class="span-br">Цветные однотонные колготки класса премиум…</span>
                  | ссылка: <a href="#" class="button-text button-black">https://prokolgotki.ru/list/tights/brand=,class=1,den=,cat=29</a>
                p.p
                  | <span class="span-br">Цветные однотонные колготки класса люкс - FALKE PURE MATT 50…</span>
                  | ссылка: <a href="#" class="button-text button-black">https://prokolgotki.ru/falke_art._40150_pure_matt_50</a>
                p.p
                  | <span class="span-br">Цветные однотонные колготки с лучшим сочетанием – цена/качество (мнение компании ПроКолготки)…</span>
                  | ссылка: <a href="#" class="button-text button-black">https://prokolgotki.ru/conte_elegant_trendy_150_colors</a>
                p.p
                  | <span class="span-br">Самые приятные по тактильным ощущением цветные однотонные колготки – OROBLU ALL COLORS 50…</span>
                  | ссылка: <a href="#" class="button-text button-black">https://prokolgotki.ru/oroblu_all_colors_50</a>
                p.p
                  | <span class="span-br">Цветные однотонные колготки из натуральной шерсти мериноса – TRASPARENZE JENNIFER 100…</span>
                  | ссылка: <a href="#" class="button-text button-black">https://prokolgotki.ru/trasparenze_jennifer_100_lana_merinos</a>
                p.p
                  |Компания ПроКолготки – крупнейший специализированный интернет магазин Колготок и Чулок, работаем в формате офис/шоурум/склад. Продажа Колготок и Чулок с доставкой или самовывоз в Москве по адресу: Коломенский проезд, 13А (ближайшее метро Нахимовский проезд).
  
  
  
  
              a(href="javascript:void(0);").button-text.button-red вернуться на страницу информации
