extends ../templates/template.pug
block content
  +breadcrumb('корзина')

  .page.page-cart
    section.section
      .container
        h1.h1 Моя корзина
        p.p
          | Здесь можно проверить содержимое вашего заказа (количество товаров, цену, примененный уровень скидки и сумму заказа). При необходимости, вы можете отредактировать (уменьшить или добавить) ранее введённые количественные значения. Если вы, редактировали содержимое заказа в корзине, нажмите ссылку «обновить корзину». После просмотра корзины, вы можете продолжить подбор товаров или перейти к оформлению заказа.

        .attention__wrap
          .attention-text.title Внимание, ваша корзина пустая!
          .attention-text Для выбора товаров перейдите в необходимый раздел каталога.

        p.p
          | Обращаем ваше внимание, что компания «<span class="span-red">Про</span>Колготки», предлагает товары по принципу: больше заказ - меньше цена (больше уровень скидки). Ознакомиться со всеми возможными ценами, можно скачав <a href="img/logo.svg" class="button-text" download>прайс-лист</a>. Уровень скидки автоматически применяется при достижении определенной величины суммы заказа. 
          | Ознакомиться с размером скидок и условиями, при которых скидки начинают применяться (от какой суммы заказа), можно на странице <a href="#" class="button-text">«система скидок»</a>.
        
