extends ../templates/template.pug
block content
  +breadcrumb('каталог')
  +sort-catalog
  
  .page-catalog                  
    section.section
      .container
        .row
          .col-lg-3
            .filter__left
              .filter__wrap
                +filter-link('по типу товара:', true)
                +filter-checkbox-img('по бренду:', true)
                +filter-checkbox('по плотности:', true)
                +filter-checkbox('по основному материалу:', true)
                +filter-checkbox('по категории:', true)
                +filter-checkbox('по классу:', true)
                +filter-checkbox('особые категории:')
              .buttons__wrap.d-none.d-lg-block
                +button-green('применить фильтры')
                a(href="javascript:void(0);").button-text сбросить все фильтры
                
          .col-lg-9
            .catalog__block.tiles
              - for(var i=0; i<2; i++)
                .catalog-text__wrap
                  .readmore
                    .catalog-text
                      | Бренд INNAMORE входит в тройку самых продаваемых марок колгот на российском рынке. Продукция сочетает в себе новейшие
                      | тенденции с подиумов, итальянское чувство стиля, европейское качество - и все это по демократичным ценам. Фантазийные и
                      | классические колготки, модели с корректирующими фигуру эффектами, теплые зимние колготки из хлопка и шерсти,
                      | соблазнительные чулки, летние гольфы и носки, базовые коллекции белья для женщин и мужчин - бренд рассчитан на самую...
                      | Бренд INNAMORE входит в тройку самых продаваемых марок колгот на российском рынке. Продукция сочетает в себе новейшие
                      | тенденции с подиумов, итальянское чувство стиля, европейское качество - и все это по демократичным ценам. Фантазийные и
                      | классические колготки, модели с корректирующими фигуру эффектами, теплые зимние колготки из хлопка и шерсти,
                      | соблазнительные чулки, летние гольфы и носки, базовые коллекции белья для женщин и мужчин - бренд рассчитан на самую...
                      | Бренд INNAMORE входит в тройку самых продаваемых марок колгот на российском рынке. Продукция сочетает в себе новейшие
                      | тенденции с подиумов, итальянское чувство стиля, европейское качество - и все это по демократичным ценам. Фантазийные и
                      | классические колготки, модели с корректирующими фигуру эффектами, теплые зимние колготки из хлопка и шерсти,
                      | соблазнительные чулки, летние гольфы и носки, базовые коллекции белья для женщин и мужчин - бренд рассчитан на самую...
              .catalog-product__wrap
                .row
                  - for(var i=0; i<9; i++)
                    .col-lg-4
                      +product-item
                    
                    
            .catalog__block.list.active
              .catalog-product__wrap
                - for(var n=0; n<3; n++)
                  .product-list__item
                    .row
                      .col-lg-8
                        .product-info__wrap
                          .product-info__block.product-brand
                            .product-info__title тип товара | бренд | модель:
                            .product-info__subtitle колготки <span class='product-info__desc'>INNNAMORE EMOTION RETE VISION 40 autoreggente</span>
                          .product-view__wrap.d-block.d-lg-none
                            .product-slider__block
                              .product-item__slider
                                - for(var i=0; i<6; i++)
                                  .product-item__slider-wrap
                                    a.product-item__slider-item(href='https://prokolgotki.ru/upload/img/products/innamore_bella_8_1.jpg')
                                      img(src='img/product-img-big.png' alt='', title='', loading="lazy").product-item__slider-img


                          .product-info__block
                            .product-info__title описание:
                            .product-info__desc 
                              | EMOTION RETE VISION 40 autoreggente - соблазнительные эластичные элегантные
                              | самодержащие чулки в мелкую сетку - тюль, с красивой изысканной кружевной
                              | резинкой-каймой на силиконе
                          .product-info__block
                            .product-info__title конструкция:
                            .product-info__desc 
                              | Чулки с кружевной резинкой-каймой с силиконом внутри для лучшего удерживания и
                              | прилегания, ширина резинки-каймы - 8,0 см. Неформованные по ноге, с прозрачным
                              | мыском.
                          .product-info__block
                            .product-info__title плотность:
                            .product-info__desc 8 DEN
                          .product-info__block
                            .product-info__title состав:
                            .product-info__desc 80% хлопок, 20% вискоза, 10% шерсть, 35% полиамид, 5% эластан
                          .product-info__block
                            .product-info__title технологии и особенности:
                            .product-info__desc 
                              | технология - single covered (эластан обкрученный полиамидом) используется для
                              | создания лучших изделий.
                            .product-info__desc
                              | Oeko-Tex standait 100® - международный сертификат для текстильных товаров.
                          .product-info__block.d-none.d-lg-block
                            .product-info__title размерный ряд:
                            .product-info__desc 2-S. 3-M, 4-L, 5-XL 
                          .product-info__block.product-color.d-none.d-lg-block
                            .product-info__title цветовая гамма:
                            .product-colors__wrap
                              +product-color('#181818', 'NERO')
                              +product-color('#75563F', 'CAPPUCCINO')
                              +product-color('#DDB283', 'CARAMELLO')
                              +product-color('#AB7C4D', 'DAINO')
                              +product-color('#685A5A', 'FUMO')
                              +product-color('#D59F63', 'MIELE')
                              +product-color('#5C462E', 'MOKA')
                              +product-color('#855436', 'VISONE')
                            a(href="javascript:void(0);").button-text показать ещё цвета ...
                          .product-info__block.product-link
                            .product-info__title гид по выбору размера:
                            .product-info__desc
                              a(href="javascript:void(0);").button-text Как правильно выбрать размер в изделиях тм INNAMORE 
                          .product-info__block
                            .product-info__title фабричная упаковка:
                            .product-info__desc 1 шт., блок: 10 шт., короб: 100 шт.
                          .product-info__block
                            .product-info__title бренд | компания | страна производитель:
                            .product-info__desc incanto Fashon group S.r.i. (Италия). Произведено в Сербии.  
                          .product-info__block.d-none.d-lg-block
                            .product-info__title наш комментарий о INNAMORE EMOTION RETE VISION 40 autoreggente :
                            .product-info__desc самая популярная модель бренда с хорошим балансом стоимости и потребительских качеств
                      
                      .col-lg-4
                        .product-view__wrap
                          .product-slider__block.d-none.d-lg-block
                            .slider__wrap
                              .product-item__slider
                                - for(var i=0; i<6; i++)
                                  .product-item__slider-wrap
                                    a.product-item__slider-item(href='https://prokolgotki.ru/upload/img/products/innamore_bella_8_1.jpg')
                                      img(src='img/product-img-big.png' alt='', title='').product-item__slider-img
                              .slider__wrap-item-nav
                                .container-arrows
                                .product-item__slider-nav
                                  - for(var j=0; j<6; j++)
                                    .product-item__slider-nav--item-wrap
                                      .product-item__slider-nav--item
                                        img(src='img/product-img-big.png' alt='', title='').product-item__slider-img


                          +product-price
                        
                          .product-info__block.product-rating
                            .product-info__title наш рейтинг модели
                            .product-rating__wrap
                              .product-rating__value 3.33
                              .product-rating__stars-wrap
                                +feedback-rating('внешний вид')
                                +feedback-rating('конструкция')
                                +feedback-rating('конструкция')
                                
                            a(href="javascript:void(0);").button-text.d-none.d-lg-inline о рейтинге модели ...
                        
            
            
            .catalog-bottom__wrap.d-none.d-lg-flex   
              a(href="javascript:void(0);").button-text показать ещё  
              +paginator
            
            
              
                
                    
                
      
            
              
