extends ../templates/template.pug
block content
  +breadcrumb('консультирование')

  .page.page-text
    .container
      .row
        .col-lg-3
          .menu-left__wrap
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Покупателям и партнёрам
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Личный кабинет
            .menu-left__item.active
              a(href="javascript:void(0);").menu-left__link Консультирование
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Работа с заказами
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Оплата
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Доставка
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Гарантии
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Стать партнёром
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Разрешение проблем
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Правила продажи


        .col-lg-9
          .content-right__wrap
            h1.h1 Консультирование
            .desc
              p.p 
                | Если Вы хотите получить профессиональную консультацию о любом товаре из ассортимента торговой компании "Про-Колготки", например: характеристика товара, выбор размера, выбор цвета, коммерческая оценка, потребительское мнение, соотношение цены и качества, подбор альтернативного варианта - звоните нам по телефону:
              p.p
                | <a href="tel:+74951398079" class="span-red">+7 (495) 139-80-79</a>  в рабочее время (пн - пт с 8-00 до 17-00, сб с 8-00 до 16-00).
              p.p
                | Если Вы потратите своё личное время и готовы приехать к нам. Мы не только подробно расскажем Вам о любом товаре, но сможем показать его, дать характеристику в сравнении с другими аналогичными моделями. А также ответить на любой Ваш вопрос. Сервис доступен только в рабочее время компании (пн - пт с 8-00 до 17-00, сб с 8-00 до 16-00).
              p.p
                | При подборе товаров на нашем сайте, Вы можете выбрать фильтр категории товара: "лидер продаж" или "наш выбор", эти значения, присвоены согласно реальной статистики продаж и нашей профессионально рекомендательной оценки, основанной на опыте и понимании продуктов, с которыми мы работаем.
              p.p
                | Будем рады, если наше мнение и оценки помогут Вам сделать хороший правильный выбор. Мы считаем, что главное искусство продажи, это заслуга доверия у своих покупателей. Мы верим в рекламный слоган из известного советского плаката "наши лучшие показатели - довольные покупатели". Мы также выбрали свой слоган - "профессиональная продажа", мы действительно знаем, какой продукт скрывается за любым фантиком. В этом и есть наш профессионализм, мы знаем коммерческие успехи, потребительские мнения и имеем собственное понимание любой модели из ассортимента компании "Про-Колготки".  Нам помогает многолетний опыт, анализ статистики продаж, профессиональные знания, а также собранные Ваши мнения и оценки 
            
