extends ../templates/template.pug
block content
  +breadcrumb('адрес и контакты')

  .page.page-text
    .container
      h1.h1 Рабочие контакты компании:
      .contact-block__wrap
        .row
          .col-lg-12
            .contact-block__item
              .contact-block__text Консультируем, принимаем заказы, отвечаем на ваши вопросы в рабочее время компании:
              .contact-block__text <span class="contact-block__text-title span-br-mob mb-3 mb-lg-0">телефон:</span> <span class="text-big"><a href="tel:+74951398079">+7 (495) 139-80-79</a></span> (многоканальный)
              .contact-block__text 
                .span-br.mb-3.mb-lg-0 <span class="contact-block__text-title span-br-mob mb-2 mb-lg-0">e-mail 1:</span> <span class="text-big"><a href="mailto:prokolgotki@mail.ru">prokolgotki@mail.ru</a></span>
                | <span class="contact-block__text-title span-br-mob mb-2 mb-lg-0">e-mail 2:</span> <span class="text-big"><a href="mailto:prokolgotki@gmail.com">prokolgotki@gmail.com</a></span>
                
      
      .contact-block__wrap
        .contact-block__title Персональные контакты ответственных лиц:
        .row
          .col-lg-6
            .contact-block__item.mb-4.mb-lg-0
              .contact-block__text.text-big.mb-0.mb-lg-0 Гарцуева Ольга
              .contact-block__text главный менеджер по продажам 
              .contact-block__text <span class="contact-subtitle">телефон:</span> <span class="text-big"><a href="tel:+74993908889">+7 (499) 390-88-89</a></span>
              .contact-block__text <span class="contact-subtitle">e-mail:</span> <span class="text-big"><a href="mailto:olga-prok@mail.ru">olga-prok@mail.ru</a></span>
              .contact-block__text Сотрудничество, консультирование по ассортименту, директор.
          .col-lg-6
            .contact-block__item
              .contact-block__text.text-big.mb-0.mb-lg-0 Молчанов Сергей
              .contact-block__text управляющий менеджер   
              .contact-block__text <span class="contact-subtitle">телефон:</span> <span class="text-big"><a href="tel:+74957906052">+7 (495) 790-60-52</a></span>
              .contact-block__text <span class="contact-subtitle">e-mail:</span> <span class="text-big"><a href="mailto:sergey-prok@mail.ru">sergey-prok@mail.ru</a></span>
              .contact-block__text Сотрудничество, разрешение проблем, менеджер по сайту.
      
      .contact-block__wrap
        .contact-block__title Адрес и рабочее время компании:
        .row
          .col-lg-12
            .contact-block__item
              .contact-block__text Торговая компания «<span class="span-red">Про</span>Колготки» работает в формате шоурум / офис / склад в ЮАО Москвы в офисно-складском бизнес центре по адресу:
              .contact-block__text.text-big Москва, Коломенский проезд, 13А
              .contact-block__text.mt-lg-5
                .span-br Понедельник - Пятница с 8:00 до 17:00, Суббота с 8:00 до 16:00.
                .span-red.mt-3.mt-lg-0 Воскресение и госудаственные праздничные дни - выходные.
                      
      .contact-block__wrap
        .contact-block__title Мы на карте:
        .row
          .col-lg-12
            .maps__wrap
              #map.map              
              
      .contact-block__wrap.accord-wrap--js
        .contact-block__title.accord-title--js Как нас найти в здании:
        .contact-block__info.accord-block--js
          p.p
            | Мы находимся в складской зоне здания (вход со двора), 4 этаж, помещение №4. Чтобы попасть к нам, нужно пройти на внутренний двор через чёрные кованные ворота со шлагбаумом, справа от здания (проход свободный). Войти в здание через чёрные железные двери с козырьком, справа от пандуса разгрузки (на заднем дворе). Подняться на лифте на четвёртый этаж (в лифте кнопка 5). От лифта налево, вы увидите серую дверь с нашей табличкой.
      
      .contact-block__wrap.accord-wrap--js
        .contact-block__title.accord-title--js Как добраться на общественном транспорте:
        .contact-block__info.accord-block--js
          p.p
            | Мы находимся в удобной транспортной доступности от таких городских магистралей как: Каширское шоссе, Варшавское шоссе, Проспект Андропова и Нахимовский  проспект. Для ориентира, в непосредственной близости от нас находятся: 7-я городская больница им. Юдина (200 м.), «Каширской двор 1» (400 м.), торговый комплекс «Гудзон» (1000 м.). 
            | <span class="span-br"> Ближайшие стации метро: «Нахимовский проспект» (2,4 км), «Коломенская» (2,5 км), «Каширская» (2,0 км), «Нагатинская» (3,0 км).</span>
          p.p
            | Проезд общественным транспортом от станций метро до остановки "Каширский двор" или "7-я городская больница им. Юдина", 
            | далее пройти около 200 метров до д. 13А по Коломенскому проезду (отдельно стоящее здание с множеством спутниковых тарелок на крыше):
          ul.ul-text
            li.li
              p.p
                .span-br 1. От станции метро «Нахимовский Проспект» на автобусе № 219 или маршрутке № 87М до остановки «7-я городская больница им. Юдина» (3 остановки). 
                | Время в дороге 10-15 мин.
            li.li
              p.p
                .span-br 2. От станции метро «Каширская» на автобусе № 220 или № 820, на маршрутке № 120М до остановки «7-я городская больница им. Юдина» (5 остановок).
                | Время в дороге 15-20 мин.
            li.li
              p.p
                .span-br  3. От станции метро «Коломенская» на автобусе № 219 или № 820, на маршрутке № 220М до остановки «7-я городская больница» (5 остановок).
                | Время в дороге 15-20 мин.
            li.li
              p.p
                .span-br  4. От станции метро «Кантемировская» на автобусе № 220 до остановки «7-я городская больница им. Юдина» (9 остановок).
                |  Время в дороге 30-35 мин.
            li.li
              p.p
                .span-br  5. От станции метро «Профсоюзная» на автобусе № 219 или маршрутке № 87М до остановки «7-я городская больница им. Юдина» (10 остановок).
                | Время в дороге 35-40 мин.
            li.li
              p.p
                .span-br  6. От станции метро «Университет» на маршрутке № 87М до остановки «7-я городская больница им. Юдина» (16 остановок).
                | Время в дороге 40-45 мин.
          p.p
            .span-br  Расчетное время приведено с учетом проезда на транспорте и прохода пешком расстояния от станции до остановки общественного транспорта и от остановки «7-я городская больница» до адреса: Коломенский проезд, д. 13А.
            | Информация взята с сайта: <a href="http://www.moscowmap.ru" target="_blank">http://www.moscowmap.ru/</a>
          
      .contact-block__wrap.accord-wrap--js
        .contact-block__title.accord-title--js Как добраться на автотранспорте:
        .contact-block__info.accord-block--js
          p.p
            | Проезд на автотранспорте от 3-го транспортного кольца:
          ul.ul-text
            li.li
              p.p
                | 1. Съезд на Варшавское шоссе, проехать до развилки с Каширским шоссе (3,5 км.) далее по Каширскому шоссе до съезда на Коломенский проезд в сторону проспекта Андропова (1,2 км.) далее по Коломенскому проезду до ближайшего разворота (1,1 км.), после разворота проехать (0,4 км.) до конечной цели маршрута. Итого от 3-го кольца около 6,2 км.
              p.p
                | 2. Съезд на Проспект Андропова проехать до поворота на Коломенский проезд в сторону Варшавского шоссе (4,5 км.) далее по Коломенскому проезду (1,4 км.) до конечной цели маршрута. Итого от 3-го кольца около 5,9 км.
          p.p
            | Проезд на автотранспорте от МКАД:
          ul.ul-text
            li.li
              p.p
                | 1. Съезд на Каширское шоссе центр, проехать по шоссе до поворота на Коломенский проезд в сторону проспекта Андропова (10,5 км.) далее по Коломенскому проезду до ближайщего разворота (1,0 км.), после разворота проехать (0,4 км.) до конечной цели маршрута. Итого от МКАД около 11,9 км.
          li.li
              p.p
                | 2. Съезд на Каширское шоссе центр, проехать по шоссе до поворота на Проспект Андропова (8,5 км.) далее по Проспекту Андропова до разворота для поворота на Коломенский проезд в сторону Варшавского шоссе (2,4 км.), далее по Коломенскому проезду (1,4 км.) до конечной цели маршрута. Итого от МКАД около 12,3 км.
          li.li
              p.p
                | 3. Съезд на Варшавское шоссе центр, проехать по шоссе до поворота на Коломенский проезд в сторону Каширского шоссе и проспекта Андропова (9,6 км.) далее по Коломенскому проезду до ближайшего разворота (1,8 км.), после разворота проехать (0,4 км.) до конечной цели маршрута. Итого от МКАД около 11,8 км.
              

      .slider__wrap.slider__wrap-contacts
        .slider-contacts
          -for(var i=0; i<4; i++)
            .slider-contacts__item
              .slider-contacts-img__wrap
                img(src=`../img/contact-img-${i + 1}.jpg` alt='', title='', loading="lazy").slider-contacts-img
          
      
      .contact-block__wrap.accord-wrap--js
        .contact-block__title.accord-title--js Реквизиты компании:
        .contact-block__info.accord-block--js
          p.p.mb-0
            .span-br Полное наименование организации в соответствии с учредительными документами:
            | ИП Гарцуева Ольга Анатольевна
          p.p
            .span-br Юридический адрес:
            | 115408, г. Москва, Борисовские пруды ул., д. 48, корп. 2, кв. 33
          p.p
            .span-br Фактический адрес:
            | 115446, г. Москва, Коломенский проезд, д. 13А
          p.p
            .span-br Идентификационный номер (ИНН):
            | 772457693908
          p.p
            .span-br Регистрационный номер ОГРН:
            | 306770000498088
          p.p
            .span-br Расчетный счет (Р/С):
            | 40802810100030001126  в  ПАО АКБ "Авангард"
          p.p
            .span-br БИК:
            | 044525201
          p.p
            .span-br Корреспондентский счет банка (К/С):
            | 30101810000000000201
