extends ../templates/template.pug
block content
  +breadcrumb('доставка')

  .page.page-delivery
    .container
      .row
        .col-lg-3
          .menu-left__wrap
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Покупателям и партнёрам
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Личный кабинет
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Консультирование
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Работа с заказами
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Оплата
            .menu-left__item.active
              a(href="javascript:void(0);").menu-left__link Доставка
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Гарантии
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Стать партнёром
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Разрешение проблем
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Правила продажи
            
            
        .col-lg-9
          .content-right__wrap
            h1.h1 Доставка
            .desc
              p.p Доставка заказов (покупок) осуществляется курьерской службой, с которой мы сотрудничаем или иными способами. Прежде чем передать Ваш заказ в курьерскую службу наши операторы будут связываться с Вами по контактному телефону для уточнения возможности, стоимости услуги и деталей доставки.
              p.p О возможных вариантах стоимости доставки Ваших заказов (покупок) можно подробно прочитать, перейдя по ссылкам, ниже можно ознакомиться с общими правилами доставки принятыми в торговой компании Про-Колготки:
            
            .info-accord__wrap
              .info-accord__item.accord-wrap--js.active
                .info-accord__title.accord-title--js Адресная доставка по Москве (в пределах МКАД)
                .info-accord__block.accord-block--js  
                  p.p 
                    | заказы с адресной доставкой по Москве (в пределах МКАД), сделанные до 15:00, стараемся доставлять получателю заказа (покупателю) на следующий день!
                  p.p
                    | С понедельника по пятницу доставка по городу Москва (в пределах МКАД) может происходить с 10:00 до 21:00, в четыре возможных интервала времени:
                    .span-br.span-red с 10:00 до 18:00 - в течении раб. дня;
                    .span-br.span-red с 10:00 до 15:00 - первая половина раб. дня;
                    .span-br.span-red с 13:00 до 18:00 - вторая половина раб. дня;
                    .span-br.span-red с 18:00 до 21:00 - вечерний интервал.
                  p.p.mt-3.mb-0
                    | В субботу (по соглашению сторон) в один интервал времени:
                    .span-red с 10:00 до 18:00 - дневное время.   
                  p.p.mt-3
                    | Обращаем внимание заказчиков, что интервалы не делимы (регламент курьерской службы), мы можем только рекомендательно указывать другое время. Например - желательно с другим началом, окончанием или исключающим Ваше обеденное время. Гарантировать доставку в другие интервалы - мы не можем! 
                  p.p
                    | Стоимость услуги доставка по Москве (в пределах МКАД):
                  p.p
                    .span-br <span class="span-red">200.00 руб.</span> – при заказе на сумму от 1 000 до 5 000 руб.
                    .span-br <span class="span-red">250.00 руб.</span> – при заказе на сумму от 5 000 до 10 000 руб.
                    .span-br <span class="span-red">300.00 руб.</span> – при заказе на сумму от 10 000 до 20 000 руб.
                    .span-br <span class="span-red">400.00 руб.</span> – при заказе на сумму от 20 000 до 50 000 руб.
                    .span-br <span class="span-red">600.00 руб.</span> – при заказе на сумму от 50 000 до 100 000 руб.
                    .span-br <span class="span-red">0.00 руб. (бесплатно)</span> – при заказе на сумму свыше 100 000 руб.  
                  p.p.mt-3
                    | Стоимость доставки крупногабаритного заказа (покупки) или заказа весом более 20 кг может дополнительно согласовываться между сторонами.
                  p.p
                    | Доставка Ваших заказов (покупок) происходит по предварительному звонку в день доставки, курьером получателю заказа. Соглашаясь с условиями доставки, получатель обязуется принять заказанный товар по указанному адресу, в указанный интервал времени, а также обеспечить прием звонков на указанный номер телефона. В указанный интервал времени, перед приездом к получателю курьер связывается по телефону для уточнения адреса, его возможных особенностей, время и т.д. При невозможности дозвониться на указанный номер телефона доставка заказа может быть перенесена на следующий день. При не однократной не возможности связаться с получателем, заказ может быть аннулирован!
                  p.p
                    | <span class="span-red">Примерка товаров при получении заказа (покупки) от курьера, а также частичный выкуп заказа - невозможны.</span> Если Вы хотите изменить содержимое заказа, прежде всего, сообщите об этом нам! (<a class="button-text">см. контакты</a>).
                  p.p
                    | Вместе с заказом (покупкой) Вам будут переданы товарная накладная, спецификация заказа и кассовый чек. Вы должны расписаться в получении заказа. Претензии по комплектности (недостача), или любые другие претензии, имеющие отношение непосредственно, к содержимому заказа (товару) могут быть адресованы только к продавцу, то есть к нам - торговой компании Про-Колготки. Курьеры (наемная аутсортинговая компания) данных вопросов решать не имеют полномочий. Если у Вас возникла проблема, сообщите нам об этом по тел. +7 (495) 139-80-79 или другим способом (<a class="button-text">см. контакты</a>). Мы готовы предложить Вам возможные варианты решения проблемы!
                  p.p
                    | Принципы нашей работы - это продажа товаров по честной цене (мнение компании), с возможностью её уменьшения в зависимости от суммы заказа (<a class="button-text">см. прайс-лист</a>). Стоимость услуги по доставке большей частью переносятся на заказчика (покупателя). Курьерская служба рассчитывает стоимость доставки заказов очень дифференцированно в зависимости: от количества заказов доставленных от нас в предыдущем месяце, объёма, веса, суммы и формы оплаты отправления, также дополнительно, с нас может взимается страховая сумма при условии большой стоимости отправлений, в следствии этого мы разработали собственную тарификацию стоимости услуги доставка в зависимости от суммы заказа (покупки). Торговая компания Про-Колготки не стремится зарабатывать на доставке Ваших заказов (покупок), фактически мы берем на себя часть расходов, связанных с работой по доставке посредством курьерской службы.
                  p.p
                    | <span class="span-br">Вы всегда можете оценить возможность забрать свой заказ самостоятельно с нашего склада по адресу:</span>
                    | <a class="button-text">г. Москва, Коломенский проезд, дом 13А.</a>
      
              .info-accord__item.accord-wrap--js
                .info-accord__title.accord-title--js Доставка Адресная доставка по Москве (за МКАД) и ближайшие населённые пункты МО
                .info-accord__block.accord-block--js
                  p.p
                    | Lorem ipsum orci malesuada cursus quisque ligula maecenas vivamus sodales. Vitae lorem ligula sagittis, integer eget tellus bibendum porttitor massa
              .info-accord__item.accord-wrap--js
                .info-accord__title.accord-title--js Адресная доставка в Санкт-Петербург
                .info-accord__block.accord-block--js
                  p.p
                    | Lorem ipsum orci malesuada cursus quisque ligula maecenas vivamus sodales. Vitae lorem ligula sagittis, integer eget tellus bibendum porttitor massa
              .info-accord__item.accord-wrap--js
                .info-accord__title.accord-title--js Доставка в города РФ
                .info-accord__block.accord-block--js
                  p.p
                    | Lorem ipsum orci malesuada cursus quisque ligula maecenas vivamus sodales. Vitae lorem ligula sagittis, integer eget tellus bibendum porttitor massa
              .info-accord__item.accord-wrap--js
                .info-accord__title.accord-title--js Доставка посредством Почты России
                .info-accord__block.accord-block--js
                  p.p
                    | Lorem ipsum orci malesuada cursus quisque ligula maecenas vivamus sodales. Vitae lorem ligula sagittis, integer eget tellus bibendum porttitor massa
              .info-accord__item.accord-wrap--js
                .info-accord__title.accord-title--js Доставка по Москве до ТК (транспортной компании)
                .info-accord__block.accord-block--js
                  p.p
                    | Lorem ipsum orci malesuada cursus quisque ligula maecenas vivamus sodales. Vitae lorem ligula sagittis, integer eget tellus bibendum porttitor massa
  
                    
                    
            h2.h2 Соглашаясь с условиями доставки, получатель обязуется:
            ul.list-marker
              li.list-marker__item принять заказанный товар по указанному адресу;
              li.list-marker__item принять заказанный товар в указанный интервал времени;
              li.list-marker__item обеспечить прием звонков на указанный номер телефона в указанный интервал времени
              li.list-marker__item оплатить заказ (при выборе варианта оплата наличными курьеру).
  
            .block-gray 
              | Доставка осуществляется по рабочим дням и в некоторых случаях (по соглашению сторон) в субботу. В воскресение 
              | и праздничные дни доставка не осуществляется.
             
            .info-accord__wrap.mb-lg-3
              .info-accord__item.accord-wrap--js.active
                .info-accord__title.accord-title--js Как получить заказ завтра? 
                .info-accord__block.accord-block--js
                  p.p
                    | Перед тем, как совершать покупки, необходимо выбрать город вашей локации, чтобы в процессе просмотра вы видели актуальную информацию по наличию товара и свежие новости.
                  p.p
                    | Когда вы определились с выбором, поместите товар в корзину, нажав «В корзину» на его странице.
              .info-accord__item.accord-wrap--js
                .info-accord__title.accord-title--js Доставка курьером
                .info-accord__block.accord-block--js
                  p.p
                    | Lorem ipsum orci malesuada cursus quisque ligula maecenas vivamus sodales. Vitae lorem ligula sagittis, integer eget tellus bibendum porttitor massa
              .info-accord__item.accord-wrap--js
                .info-accord__title.accord-title--js Время ожидания курьера
                .info-accord__block.accord-block--js
                  p.p
                    | Lorem ipsum orci malesuada cursus quisque ligula maecenas vivamus sodales. Vitae lorem ligula sagittis, integer eget tellus bibendum porttitor massa
              .info-accord__item.accord-wrap--js
                .info-accord__title.accord-title--js Получение заказа
                .info-accord__block.accord-block--js
                  p.p
                    | Lorem ipsum orci malesuada cursus quisque ligula maecenas vivamus sodales. Vitae lorem ligula sagittis, integer eget tellus bibendum porttitor massa
              .info-accord__item.accord-wrap--js
                .info-accord__title.accord-title--js Рассчет стоимости доставки
                .info-accord__block.accord-block--js
                  p.p
                    | Lorem ipsum orci malesuada cursus quisque ligula maecenas vivamus sodales. Vitae lorem ligula sagittis, integer eget tellus bibendum porttitor massa
            .block-gray.mb-4.mb-lg-5
              | Примерка товаров при получении заказа (покупки) от курьера, а также частичный выкуп заказа - невозможны.      
                    
            .desc
              p.p
                | Если у Вас возникла проблема, сообщите нам об этом по тел. +7 (495) 139-80-79 (в раб. время) или иным способом 
                | (<a class="button-text">см. контакты</a>). Мы готовы предложить Вам возможные варианты решения проблемы! 
              p.p 
                | Вы всегда можете оценить возможность забрать свой заказ самостоятельно с нашего склада по адресу:
              p.p
                | <a class="button-text">г. Москва, Коломенский проезд, дом 13А.</a>
                    
