extends ../templates/template.pug
block content
  +breadcrumb('избранное')

  .page.page-favorite
    section.section
      .container
        h1.h1 Избранное
        p.p
          | Здесь можно проверить содержимое вашего избранного (количество товаров, цену, примененный уровень скидки и сумму заказа). При необходимости, вы 
          | можете отредактировать (уменьшить или добавить) ранее введённые количественные значения. Если вы, редактировали содержимое избранного, нажмите 
          | ссылку «обновить избранное». После просмотра избранного, вы можете продолжить подбор товаров или перевести избранное в корзину.

        .attention__wrap
          .attention-text.title Внимание, ваше избранное пустое!
          .attention-text Для выбора товаров перейдите в необходимый раздел каталога.
        
        p.p
          | Обращаем ваше внимание, что компания «<span class="span-red">Про</span>Колготки», предлагает товары по принципу: больше заказ - меньше цена (больше уровень скидки). Ознакомиться со всеми возможными ценами, можно скачав <a href="img/logo.svg" class="button-text" download>прайс-лист</a>. Уровень скидки автоматически применяется при достижении определенной величины суммы заказа. 
          | Ознакомиться с размером скидок и условиями, при которых скидки начинают применяться (от какой суммы заказа), можно на странице <a href="#" class="button-text">«система скидок»</a>.
        
