extends ../templates/template.pug
block content
  +breadcrumb('избранное')

  .page.page-favorite
    section.section
      .container
        h1.h1 Избранное
        .d-none.d-lg-block
          p.p 
            | Здесь можно проверить содержимое вашего избранного (количество товаров, цену, примененный уровень скидки и сумму заказа). При необходимости, вы 
            | можете отредактировать (уменьшить или добавить) ранее введённые количественные значения. Если вы, редактировали содержимое избранного, нажмите 
            | ссылку «обновить избранное». После просмотра избранного, вы можете продолжить подбор товаров или перевести избранное в корзину.

        .row
          .col-lg-9
            .table__wrap
              table.table-ext
                tbody.tbody
                  tr.tr-head.head-ext
                    th.th п/п
                    th.th бренд/название модели
                    th.th.td-br кол-во
                    th.th.td-br цена, в руб.
                    th.th сумма, в руб.
                  tr.tr
                    td.td 1
                    td.td.text-left
                      a(href="javascript:void(0);").td-title INNAMORE BELLA 20
                      .overflow-block        
                        table.table-in
                          tbody.tbody
                            tr.tr-head
                              th.th 
                              th.th 2-S
                              th.th 3-M
                              th.th 4-L
                              th.th 5-XL
                              th.th
                              th.th
                              th.th
                            tr.tr
                              td.td CARAMELLO
                              td.td
                              td.td
                              td.td 2
                              td.td
                              td.td
                              td.td
                              td.td
                            tr.tr
                              td.td DAINO
                              td.td
                              td.td
                              td.td 2
                              td.td
                              td.td
                              td.td
                              td.td
                      +cell-bootom-mob('14', '105,40', '1 475,60')
                    td.td.td-add.td-br 4
                    td.td.td-add.td-br.price 99 999.99
                    td.td.td-add.price 999 999.99
                      .td-link
                        a(href="javascript:void(0);").button-text добавить в корзину
                  tr.tr
                    td.td 2
                    td.td.text-left
                      a(href="javascript:void(0);").td-title GUILIA EMOTION RETE VISIONE autoreggente
                      .overflow-block
                        table.table-in
                          tbody.tbody
                            tr.tr-head
                              th.th 
                              th.th 2-S
                              th.th 3-M
                              th.th 4-L
                              th.th 5-XL
                              th.th
                              th.th
                              th.th
                            tr.tr
                              td.td CARAMELLO
                              td.td
                              td.td
                              td.td 3
                              td.td
                              td.td
                              td.td
                              td.td
                            tr.tr
                              td.td DAINO
                              td.td
                              td.td
                              td.td 1
                              td.td
                              td.td
                              td.td
                              td.td
                      +cell-bootom-mob('9', '123,25', '1 109,25')
                    td.td.td-add.td-br 4
                    td.td.td-add.td-br.price 99 999.99
                    td.td.td-add.price 999 999.99
                      .td-link
                        a(href="javascript:void(0);").button-text добавить в корзину
                  tr.tr
                    td.td 3
                    td.td.text-left
                      a(href="javascript:void(0);").td-title PHILIPPE MATIGNON PREMIERE 20 mi-bas
                      .overflow-block    
                        table.table-in
                          tbody.tbody
                            tr.tr-head
                              th.th 
                              th.th UNICA
                              th.th 3-M
                              th.th 4-L
                              th.th 5-XL
                              th.th
                              th.th
                              th.th
                            tr.tr
                              td.td CARAMELLO
                              td.td 2
                              td.td
                              td.td
                              td.td
                              td.td
                              td.td
                              td.td
                            tr.tr
                              td.td DAINO
                              td.td 6
                              td.td
                              td.td 
                              td.td
                              td.td
                              td.td
                              td.td
                      +cell-bootom-mob('9', '123,25', '1 109,25')
                    td.td.td-add.td-br 8
                    td.td.td-add.td-br.price 99 999.99
                    td.td.td-add.price 999 999.99
                      .td-link
                        a(href="javascript:void(0);").button-text добавить в корзину
                  tr.tr
                    td.td 4
                    td.td.text-left
                      a(href="javascript:void(0);").td-title ALLA BUONE 5019 MAXI SLIP
                      .overflow-block
                        table.table-in
                          tbody.tbody
                            tr.tr-head
                              th.th 
                              th.th S(44)
                              th.th M(46)
                              th.th L(48)
                              th.th XL(50)
                              th.th 2XL(52)
                              th.th 3XL(54)
                              th.th 4XL(56)
                            tr.tr
                              td.td CARAMELLO
                              td.td
                              td.td
                              td.td 
                              td.td 6
                              td.td
                              td.td
                              td.td
                            tr.tr
                              td.td DAINO
                              td.td
                              td.td
                              td.td 2
                              td.td
                              td.td
                              td.td
                              td.td
                      +cell-bootom-mob('9', '123,25', '1 109,25')
                    td.td.td-add.td-br 8
                    td.td.td-add.td-br.price 99 999.99
                    td.td.td-add.price 999 999.99
                      .td-link
                        a(href="javascript:void(0);").button-text добавить в корзину
                  tr.tr
                    td.td.td-add
                    td.td.text-left.d-none.d-lg-table-cell всего по заказу:
                      .sum-discount УРОВЕНЬ СКИДКИ ПРИМЕНЕННЫЙ К ЗАКАЗУ - 15%,
                        .span-br ЭКОНОМИЯ ОТ НАЧАЛЬНЫХ ЦЕН СОСТАВИЛА: 2 020.40РУБ.
                    td.td(colspan='2').text-left.d-table-cell.d-lg-none
                      .sum-count__wrap всего по заказу:
                        .sum-count 24
                      .sum-discount УРОВЕНЬ СКИДКИ ПРИМЕНЕННЫЙ К ЗАКАЗУ - 15%,
                        .span-br ЭКОНОМИЯ ОТ НАЧАЛЬНЫХ ЦЕН СОСТАВИЛА: 2 020.40РУБ.
                    td.td.td-add.td-br 24
                    td.td.td-add.td-br
                    td.td.td-add.price 999 999.99
                  
              .buttons-line__wrap
                a(href="javascript:void(0);").button-text ОБНОВИТЬ ИЗБРАННОЕ (ПРИ РЕДАКТИРОВАНИИ)
                a(href="javascript:void(0);").button-text СКАЧАТЬ ИЗБРАННОЕ
                a(href="javascript:void(0);").button-text УДАЛИТЬ СОДЕРЖИМОЕ ИЗБРАННОГО
        p.p
          | Обращаем ваше внимание, что компания «<span class="span-red">Про</span>Колготки», предлагает товары по принципу: больше заказ - меньше цена (больше уровень скидки). Ознакомиться со всеми возможными ценами, можно скачав <a href="img/logo.svg" class="button-text" download>прайс-лист</a>. Уровень скидки автоматически применяется при достижении определенной величины суммы заказа. 
          | Ознакомиться с размером скидок и условиями, при которых скидки начинают применяться (от какой суммы заказа), можно на странице <a href="#" class="button-text">«система скидок»</a>.

        .buttons-line__wrap.justify-content-lg-end
          +button-green('добавить избранное в корзину')   
