extends ../templates/template.pug
block content
  +breadcrumb('отзывы о компании')

  .page.page-feedback
    .container
      .row
        .col-lg-3
          .menu-left__wrap
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link О компании
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Новости
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Информация
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Обзоры
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Производители и бренды
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Прайс лист и бланк заказа
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Система скидок
            .menu-left__item.active
              a(href="javascript:void(0);").menu-left__link Отзывы о компании
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Политика конфиденциальности
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Публичная оферта


        .col-lg-9
          .content-right__wrap
            h1.h1.d-block.d-lg-none Отзывы о компании
            .feedback-item__title Басюк Алексей
            .feedback-list__rating-block
              +feedback-rating('Отличный магазин')
              .feedback-detail__method Способ покупки: Доставка курьером
            +text-block({
              title: 'Достоинства:',
              desc: 'Удобный сайт, вежливый персонал! Оформили заказ на коллектив, хорошая цена, каждый индивидуальный заказ был собран и посчитан отдельно. Доставка на следующий день!'
            })
            +text-block({
              title: 'Недостатки:',
              desc: 'Не обнаружено!'
            })
            +text-block({
              title: 'Комментарий:',
              desc: 'Спасибо магазину!'
            })
            .feedback-detail__date 30 март 2018, Москва
            
            .feedback-reply__wrap
              +feedback-reply-arrow
              .feedback-reply__item
                +text-block({
                  title: 'Ответ от компании ПроКолготки:',
                  desc: 'Спасибо Большое!\n' +
                  'Марина, мы очень рады Вашему отзыву, которые не очень часто оставляют наши покупатели! Все отзывы у нас только честные, мы ни когда не заказывали (покупали) услугу по размещению отзывов! Мы знаем что в онлайн-торговле 70-80% отзывов (положительных) - это отзывы "ненастоящие"! Люди нормальную работу воспринимают, как должное (и это правильно), а чаще пишутся отзывы в случае какого-нибудь "негатива"! Наш слоган - "Профессиональная Продажа", в это понятие мы вкладываем опыт, знания по товару (можем давать советы) и честность ко всем нашим покупателям!\n' +
                  'Честные (фирменные) товары, честная цена (с возможностью уменьшения от величины заказа), честная цена на услугу доставка, честные отзывы!'
                })
              
  
            .feedback-send__wrap
              +feedback-reply-arrow
              .feedback-send__title Оставить отзыв
              +feedback-send-stars('Оценка', 'stars1')
              .row
                .col-lg-8
                  .feedback-send__inputs
                    +textarea-block-red('Достоинства', 'Что понравилось')
                    +textarea-block-red('Недостатки', 'Что не понравилось')
                    +textarea-block-red('Комментарий', 'Общее впечатление')
                        
                      
              
  
            .buttons__wrap
              +button-green('оставить отзыв')
              
              
