extends ../templates/template.pug
block content
  +breadcrumb('отзывы о компании')

  .page.page-feedback-list
    .container
      .row
        .col-lg-3
          .menu-left__wrap
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link О компании
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Новости
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Информация
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Обзоры
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Производители и бренды
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Прайс лист и бланк заказа
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Система скидок
            .menu-left__item.active
              a(href="javascript:void(0);").menu-left__link Отзывы о компании
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Политика конфиденциальности
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Публичная оферта


        .col-lg-9
          .content-right__wrap
            h1.h1 Отзывы о работе компании
            .desc
              p.p 
                | Здесь можно узнать мнения покупателей о работе компании <span class="span-red">Про</span>Колготки. А если вы, совершали покупки в нашей компании, то можете оставить свой отзыв. Ваши отзывы могут помочь сделать нашу работу лучше.         
                | <span class="span-br">Обращаем ваше внимание, что отзывы могут оставлять, только зарегистрированные пользователи.</span>
            .buttons__wrap
              +button-green('оставить свой отзыв') 
            .feedback-list__wrap
              .feedback-list__item
                .feedback-detail__title Романовская Наталья
                .feedback-list__rating-block
                  +feedback-rating('Отличный магазин')
                +text-block({
                  title: 'Достоинства:',
                  desc: 'Мое знакомство с данным магазином началось в 2012 году, с полуподвального помещения на Каширском шоссе и я очень рада, что нашла вас. А с 2016 года начали заказывать всем коллективом с работы, \n' +
                  'девочки оценили скидки в зависимости от суммы заказа и теперь колготки покупаем только тут, \n' +
                  'совершенно забыв о розничных магазинах, цена в которых значительно выше. Заказываем регулярно \n' +
                  'несколько раз в год на весь коллектив, обычно перед осенью и весной, всегда большой выбор на любой вкус и кошелек. Если чего-то нет в наличии, советуют адекватную замену, что не может не радовать. Так же хочется отметить быструю сборку наших коллективных заказов, не знаю как у вас это получается)))). Все заказы отдельно упакованы и подписаны, это очень удобно.'
                })
                +text-block({
                  title: 'Недостатки:',
                  desc: 'Их не нашла.'
                })
                +text-block({
                  title: 'Комментарий:',
                  desc: 'Коллективная покупка. Собираем заказы всем офисом. Заказывем 2-3 раза в год.'
                })
                .feedback-detail__date 30 ноябрь 2018, Москва
              .feedback-list__item
                .feedback-detail__title Никишина Оксана
                .feedback-list__rating-block
                  +feedback-rating('хороший магазин')
                +text-block({
                  title: 'Достоинства:',
                  desc: 'Быстрая доставка, Все в наличии, компактно и аккуратно. Замечательный менеджер. Будем заказывать'
                })
                +text-block({
                  title: 'Недостатки:',
                  desc: 'Не хватает колготок Manzi. Пожалуйста, добавьте их к ассортименту.'
                })
                .feedback-detail__date 07 сентябрь 2018, Москва
              .feedback-list__item
                .feedback-detail__title Смирнова Варвара
                .feedback-list__rating-block
                  +feedback-rating('отличный магазин')
                +text-block({
                  title: 'Достоинства:',
                  desc: 'Большой (огромный выбор), реальное наличие, профессионализм продавцов, комфортная обстановка!\n'
                })
                +text-block({
                  title: 'Комментарий:',
                  desc: 'Поехала, нужно мне было идеально подобрать цвет колготок, чтобы точно попасть в нужный оттенок. \n' +
                  'Смотрю адрес (какой-то Коломенский проезд, складская зона...), предполагаю в голове, что эта \n' +
                  'промышленная зона. Но нет, это большой проспект. Здание на первой линии, парковка на внутренней \n' +
                  'территории (что важно) - удобно! Поднимаюсь, большое современное светлое помещение (хоть и в \n' +
                  'правду склад), очень внимательные продавцы и самое главное, что могут увлекательно рассказать о \n' +
                  'колготках (берегись кошелек), показывать на примерах, тактично убеждать (переспорили меня в выборе размера, я упиралась - теперь не жалею). Супер профессионалы! Два человека потратили на меня более часа (время не жалеют). Ну... потратилась я на месяца три вперед, а то и на полгода. Цену (скидку) считают о суммы (вышло еще и экономно). А потом у них еще и бельё... Резюмирую, для тех кому выбор важен, для тех кто готов потратить время, для тех кому нужна экономичная покупка на несколько \n' +
                  'месяцев вперед (чтобы потом не искать что попало), однозначно для тех кому нужны советы по выбору. Моя оценка 5 и спасибо Вашей компании!'
                })
                +text-block({
                  title: 'Ответ компании ПроКолготки:',
                  desc: 'Варвара, спасибо Вам, что не пожалели столько слов и своего времени для написания отзыва! И спасибо Вам за Вашу высокую оценку. Мы готовы профессионально стараться (свой слоган "профессиональная \n' +
                  'продажа" надо подтверждать)!'
                })
                .feedback-detail__date 13 сентябрь 2017, Москва
              
              .feedback-list__item
                .feedback-detail__title Иванова Лариса
                .feedback-list__rating-block
                  +feedback-rating('плохой магазин')
                +text-block({
                  title: 'Недостатки:',
                  desc: 'Долго не отвечают по заказу.'
                })
                +text-block({
                  title: 'Комментарий:',
                  desc: 'Заказ сделала в субботу, два дня ждала звонка... И перезаказала все в другом месте.\n'
                })
                +text-block({
                  title: 'Ответ компании ПроКолготки:',
                  desc: 'Лариса, Заказ мы получили в субботу вечером, когда наш рабочий день был уже закончен. В воскресение в нашей компании выходной день. В понедельник мы ответили по вашему заказу, но вы от него уже \n' +
                  'отказались.'
                })
                .feedback-detail__date 13 сентябрь 2017, Москва
              
