extends ../templates/template.pug
block content
  +breadcrumb('гарантии')

  .page.page-text
    .container
      .row
        .col-lg-3
          .menu-left__wrap
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link О компании
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Производители и бренды
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Консультирование
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Доставка
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Оплата
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Работа с заказами
            .menu-left__item.active
              a(href="javascript:void(0);").menu-left__link Гарантии
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Правила продажи
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Разрешение проблем


        .col-lg-9
          .content-right__wrap
            h1.h1 Гарантии
            .decs
              p.p
                | Торговая компания «<span class="span-red">Про</span>Колготки» гарантирует свой статус оптового оператора. Мы являемся действующими 
                | дистрибуторами крупных компаний импортеров и предлагаем товары по оптовым ценам, такими же, как у самих импортеров. Что позволяет зарабатывать, тем, кто занимается розничными продажами (формат B2B). Для 
                | розничных покупателей (формат B2C) мы предлагаем товары по ценам ниже средне розничных (мнение нашей компании), что дает реальную возможность для выгодных покупок. Наша система скидок и программа 
                | лояльности для постоянных покупателей предлагает уникальную глубину (размер) скидки от начальных 
                | заявленных цен. Чтобы подробно ознакомиться с нашей ценовой политикой, скачайте наш прайс-лист.
              p.p
                | Торговая компания «<span class="span-red">Про</span>Колготки» гарантирует подлинное происхождение и оригинальность товара. Мы 
                | предлагаем товары, только от непосредственных импортеров - официальных представителей данных торговых марок на территории России. Качество и безопасность потребительских свойств товаров подтверждены 
                | декларациями соответствия и сертификатами (в соответствии с Российским законодательством).
              p.p
                | Торговая компания «<span class="span-red">Про</span>Колготки» гарантирует конфиденциальность и защиту ваших персональных данных. 
                | Оставляя свои данные на нашем web-сайте, мы гарантируем, что мы никогда не будет использовать ваши 
                | контактные данные в рекламных рассылках или звонках с предложением чего-либо купить (так как мы являемся противниками любого спама, в том числе и коммерческого). Также, мы гарантируем, что ваши данные никогда не будут переданы третьим лицам. 
              p.p
                | Торговая компания «<span class="span-red">Про</span>Колготки» гарантирует безопасность онлайн-платежей, которую обеспечивает 
                | ПАО АКБ «Авангард», в котором у нас открыт счёт. При онлайн-оплате на нашем сайте, непосредственно ввод данных банковских карт, производится на сайте банка «Авангард» с использованием современных стандартов безопасности и шифрования данных.
              p.p.mb-0
                | Торговая компания «<span class="span-red">Про</span>Колготки» гарантирует свое профессиональное отношение к продаже чулочно-носочных 
                | изделий. Наш слоган - «профессиональная продажа». Мы занимаемся продажами колготок чулок уже более 25 
                | лет. Наш профессионализм - это наш опыт, наше знание и понимание товара, с которым мы работаем, 
                | качественное представление товара на нашем сайте, наша готовность помогать с выбором - консультировать.
