extends ../templates/template-index


block content
  .container.py-50
    .row.page-list.mt-4
      .col-md-7.mx-auto
        h2.mb-4.pb-10.border-bottom Список страниц
        ul.pl-0.mb-4
          li.mb-2
            a(href="main.html", style="") Главная
          li.mb-2
            a(href="catalog.html", style="") Каталог
          li.mb-2
            a(href="product.html", style="") Карточка товара
          li.mb-2
            a(href="favorite.html", style="") Избранное
          li.mb-2
            a(href="favorite-empty.html", style="") Избранное (пустое)
          li.mb-2
            a(href="cart.html", style="") Корзина
          li.mb-2
            a(href="cart-empty.html", style="") Корзина (пустая)
          li.mb-2
            a(href="delivery.html", style="") Доставка
          li.mb-2
            a(href="news-list.html", style="") Новости (список)
          li.mb-2
            a(href="news-1.html", style="") Новость (вариант 1)
          li.mb-2
            a(href="news-2.html", style="") Новость (вариант 2)
          li.mb-2
            a(href="about.html", style="") О компании
          li.mb-2
            a(href="article-list.html", style="") Обзоры (список)
          li.mb-2
            a(href="article.html", style="") Информация (развернутая) 
          li.mb-2
            a(href="pay.html", style="") Оплата 
          li.mb-2
            a(href="feedback-list.html", style="") Отзывы о работе компании (список)
          li.mb-2
            a(href="feedback.html", style="") Отзыв о работе компании (развернутый)




        h3.mb-4.pb-10.border-bottom Процедура оформления заказа
        ul.pl-0.mb-4
          li.mb-2
            a(href="order.html", style="") Оформление заказа (доставка по Москве и в города России)
        
        h3.mb-4.pb-10.border-bottom ЛК
        ul.pl-0.mb-4
          li.mb-2
            a(href="lk-orders.html", style="") История заказов
          li.mb-2
            a(href="lk-order-detail.html", style="") Заказ подробно (развернутый)
          li.mb-2
            a(href="lk-discount.html", style="") Система скидок  и программа лояльности
          li.mb-2
            a(href="lk-profile-1.html", style="") Кабинет покупателя (уровень 0 начальный)
          li.mb-2
            a(href="lk-profile-2.html", style="") Кабинет покупателя (уровень 2 из 3)
          li.mb-2
            a(href="lk-profile-3.html", style="") Кабинет покупателя (уровень 3 из 3)
          li.mb-2
            a(href="registration-ip.html", style="") Регистрация ИП
          li.mb-2
            a(href="registration-person.html", style="") Регистрация Физлицо
          li.mb-2
            a(href="registration-legal.html", style="") Регистрация Юрлицо
            
        h3.mb-4.pb-10.border-bottom Текстовые страницы
        ul.pl-0.mb-4
          li.mb-2
            a(href="404.html", style="") Страница 404
          li.mb-2
            a(href="problems.html", style="") Разрешение проблем
          li.mb-2
            a(href="working-orders.html", style="") Работа с заказами
          li.mb-2
            a(href="guarantees.html", style="") Гарантии
          li.mb-2
            a(href="information.html", style="") Информация
          li.mb-2
            a(href="consulting.html", style="") Консультирование
          li.mb-2
            a(href="public.html", style="") Публичная оферта
          li.mb-2
            a(href="pk.html", style="") Политика конфиденциальности
          li.mb-2
            a(href="rules.html", style="") Правила продажи товаров
          li.mb-2
            a(href="sizes.html", style="") Выбор размера
          li.mb-2
            a(href="partnership.html", style="") Стать партнером
          li.mb-2
            a(href="contacts.html", style="") Адрес и контакты


        h2.mb-4.mt-4.pb-10.border-bottom Модальные окна
        ul.pl-0.mb-4.mt-4
          li.mb-2
            a(href="#modal-favor-del" data-toggle="modal") Поп-ап удаление избранного
          li.mb-2
            a(href="#modal-cart-del" data-toggle="modal") Поп-ап удаление корзины
          li.mb-2
            a(href="#modal-promo-rules" data-toggle="modal") Правило работы с промокодом
          li.mb-2
            a(href="#modal-promo-create" data-toggle="modal") Создание промо-кода
          li.mb-2
            a(href="#modal-reg-login" data-toggle="modal") Восстановление пароля
          li.mb-2
            a(href="#modal-no-login" data-toggle="modal") Личного кабинета не существует
          li.mb-2
            a(href="#modal-rating" data-toggle="modal") О рейтинге модели
          li.mb-2
            a(href="#modal-lk-repeat" data-toggle="modal") Личный кабинет (пользователь уже существует)
          li.mb-2
            a(href="#modal-address-del" data-toggle="modal") Удаление адреса
          li.mb-2
            a(href="#modal-order-min" data-toggle="modal") Минимальный заказ от 1001
          li.mb-2
            a(href="#modal-callback" data-toggle="modal") Форма заказа обратного звонка
          li.mb-2
            a(href="#modal-download" data-toggle="modal") Скачать прайс-лист и бланк заказа 
          li.mb-2
            a(href="#modal-feedback" data-toggle="modal") Оставить отзыв о работе компании
          li.mb-2
            a(href="#modal-feedback-product" data-toggle="modal") Оставить отзыв о товаре
          li.mb-2
            a(href="#modal-lk-done" data-toggle="modal") Личный кабинет зарегистрирован
          li.mb-2
            a(href="#modal-email" data-toggle="modal") Подтверждение вашего email
          li.mb-2
            a(href="#modal-order-done" data-toggle="modal") Заказ оформлен
          li.mb-2
            a(href="#modal-lk-login" data-toggle="modal") Личный кабинет (вход)
          li.mb-2
            a(href="#modal-activation" data-toggle="modal") Активация регистрации
          
          
          li.mb-2
            a(href="#modal-add-1" data-toggle="modal") Добавление в корзину (вариант 1)
          li.mb-2
            a(href="#modal-add-2" data-toggle="modal") Добавление в корзину (вариант 2)
          li.mb-2
            a(href="#modal-add-3" data-toggle="modal") Добавление в корзину (вариант 3)
          li.mb-2
            a(href="#modal-add-4" data-toggle="modal") Добавление в корзину (вариант 4)
          

