extends ../templates/template.pug
block content
  +breadcrumb('информация')

  .page.page-info
    .container
      .row
        .col-lg-3
          .menu-left__wrap
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link О компании
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Новости
            .menu-left__item.active
              a(href="javascript:void(0);").menu-left__link Информация
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Обзоры
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Производители и бренды
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Прайс лист и бланк заказа
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Система скидок
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Отзывы о компании
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Политика конфиденциальности
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Публичная оферта


        .col-lg-9
          .content-right__wrap
            h1.h1 Информация
            .news-list__wrap
              -for(var i=0; i<10; i++)
                +news-list-item({
                  title: 'Как выбрать корректирующие колготки?',
                  text: 'В этой статье мы попробуем помочь выбрать Вам колготки с корректирующим эффектом и будем это делать только опираясь на реальную статистику наших продаж за 2019...',
                  button: 'читать статью полностью'
                })
  
            .news-list-bottom__wrap
              a(href="javascript:void(0);").button-text показать ещё...  
              +paginator
