extends ../templates/template.pug
block content
  +breadcrumb('система скидок и программа лояльности')

  .page.page-discount
    .container
      .row
        .col-lg-3
          .menu-left__wrap
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Профиль покупателя
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link История заказов
            .menu-left__item.active
              a(href="javascript:void(0);").menu-left__link Система скидок и программа лояльности


        .col-lg-9
          .content-right__wrap
            h1.h1 Система скидок и программа лояльности
            .desc
              p.p 
                | Наша компания предлагает очень простую и понятную систему скидок. Её главный принцип, чем больше заказ,
                | тем больше скидка (меньше цена). Все цены соответствуют действующему прайсу, скачав который можно 
                | понять, как будет меняться цена в зависимости от суммы покупки, при этом сама покупка может состоять из 
                | любого количества, абсолютно любых товаров. На сайте скидка считается автоматически. Уровень 
                | предоставляемых скидок дает возможность ощутимой экономии (от 7,5% до 30%), что делает наши цены 
                | очень привлекательными в сравнении с другими интернет-магазинами.
              p.p
                | Также мы разработали свою уникальную программу лояльности. Став нашим постоянным клиентом можно 
                | получать скидки от накопленного объема покупок в течении календарного года. Скидка по программе 
                | лояльности начинает действовать при достижении определенной суммы всех покупок в течении календарного 
                | года (начиная со следующей покупки и будет действовать до конца календарного года). Достигнутая скидка по программе лояльности может быть сохранена (пролонгирована) на следующий календарный год, при условии достижения определенной суммы всех покупок в течении года.
              p.p
                | Если скидка от объёма разовой покупки превосходит скидку по программе лояльности, то заказ рассчитается 
                | по большей скидке.
              p.p
                | С действующим статусом программы лояльности можно ознакомиться в своем личном кабинете.
  
            .discount__wrap
              .discount-level__head
                .discount-level__left
                  .discount-level__title Система скидок в зависимости от суммы разовой покупки
                .discount-level__right
                  .discount-level__title Программа лояльности для постоянных покупателей с начальной скидкой
              .discount-level
                .discount-level__left
                  .discount-level__info
                    .discount-value 0%
                    | при разовой покупке на сумму
                    | от 1000 руб. до 5 000 руб.
                    | <span class="span-br-mob">(1-я колонка действ. прайс-листа)</span>
                  
              .discount-level
                .discount-level__left
                  .discount-level__info
                    .discount-value -7,5%
                    | при разовой покупке на сумму
                    | от 5 000 руб. до 10 000 руб.
                    | (2-я колонка действ. прайс-листа)
                .discount-level__right
                  .discount-level__info <span class='span-red'>1-й уровень.</span> Минимальная скидка от <span class='discount-value'>7,5%</span>
                    .span-br
                      | для постоянных покупателей, чей объём 
                      | покупок с начала календарного года более,
                      | чем: 10 000 руб., с пролонгацией на следующий
                      | год, при условии общей суммы покупок за год
                      | на сумму более: 20 000 руб. 
              .discount-level
                .discount-level__left
                  .discount-level__info
                    .discount-value -15%
                    | при разовой покупке на сумму
                    | от 10 000 руб. до 20 000 руб.
                    | (3-я колонка действ. прайс-листа)
                .discount-level__right
                  .discount-level__info <span class='span-red'>2-й уровень.</span> Минимальная скидка от <span class='discount-value'>15%</span>
                    .span-br
                      | для постоянных покупателей, чей объём 
                      | покупок с начала календарного года более,
                      | чем: 20 000 руб., с пролонгацией на следующий
                      | год, при условии общей суммы покупок за год
                      | на сумму более: 50 000 руб. 
              .discount-level
                .discount-level__left
                  .discount-level__info
                    .discount-value -20%
                    | при разовой покупке на сумму
                    | от 20 000 руб. до 50 000 руб.
                    | (4-я колонка действ. прайс-листа)
                .discount-level__right
                  .discount-level__info <span class='span-red'>3-й уровень.</span> Минимальная скидка от <span class='discount-value'>20%</span>
                    .span-br
                      | для постоянных покупателей, чей объём 
                      | покупок с начала календарного года более,
                      | чем: 50 000 руб., с пролонгацией на следующий
                      | год, при условии общей суммы покупок за год
                      | на сумму более: 100 000 руб. 
              .discount-level
                .discount-level__left
                  .discount-level__info
                    .discount-value -25%
                    | при разовой покупке на сумму
                    | от 50 000 руб. до 100 000 руб.
                    | (5-я колонка действ. прайс-листа)
              .discount-level
                .discount-level__left
                  .discount-level__info
                    .discount-value -30%
                    | при разовой покупке на сумму
                    | более 100 000 руб.
                    | (6-я колонка действ. прайс-листа)
