extends ../templates/template.pug
block content
  +breadcrumb('история заказов')

  .page.page-orders
    .container
      .row
        .col-lg-3
          .menu-left__wrap
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Профиль покупателя
            .menu-left__item.active
              a(href="javascript:void(0);").menu-left__link История заказов
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Система скидок и программа лояльности


        .col-lg-9
          .content-right__wrap
            h1.h1 История заказов
            .table__wrap.overflow-block.custom-scrollbar
              table.table-orders
                tbody.tbody
                  tr.tr-head
                    th.th
                    th.th дата заказа
                    th.th номер заказа
                    th.th кол-во ед. в заказе
                    th.th сумма заказа
                    th.th уровень скидки
                  tr.tr.tr-line
                    td.td 2021 год
                    td.td 05.02.2021
                    td.td
                      a(href="javascript:void(0);").button-text.button-black 11470-000006
                    td.td 8
                    td.td 4 568,40 руб.
                    td.td 0%
                  tr.tr
                    td.td 
                    td.td 11.09.2021
                    td.td
                      a(href="javascript:void(0);").button-text.button-black 11470-000005
                    td.td 12
                    td.td 8 320,70 руб.
                    td.td -7,5%
                  tr.tr
                    td.td 
                    td.td 15.11.2021
                    td.td
                      a(href="javascript:void(0);").button-text.button-black 11470-000004
                    td.td 21
                    td.td 15 455,25 руб.
                    td.td -15%
                  tr.tr.tr-total
                    td.td Итого в 2021 году
                    td.td 
                    td.td 
                    td.td 41
                    td.td 28 344.35 руб.
                    td.td 
                  tr.tr.tr-line
                    td.td 2020 год
                    td.td 05.02.2021
                    td.td
                      a(href="javascript:void(0);").button-text.button-black 11470-000006
                    td.td 8
                    td.td 4 568,40 руб.
                    td.td 0%
                  tr.tr
                    td.td 
                    td.td 11.09.2021
                    td.td
                      a(href="javascript:void(0);").button-text.button-black 11470-000005
                    td.td 12
                    td.td 8 320,70 руб.
                    td.td -7,5%
                  tr.tr.tr-total
                    td.td Итого в 2020 году
                    td.td 
                    td.td 
                    td.td 20
                    td.td 12 288.10 руб.
                    td.td 
                  tr.tr.tr-line
                    td.td 2019 год
                    td.td 05.02.2021
                    td.td
                      a(href="javascript:void(0);").button-text.button-black 11470-000006
                    td.td 8
                    td.td 4 568,40 руб.
                    td.td 0%
                  tr.tr.tr-total
                    td.td Итого в 2019 году
                    td.td 
                    td.td 
                    td.td 8
                    td.td 4 568,40 руб.
                    td.td 
  
            p.p Чтобы подробно ознакомиться с содержимым определенного заказа, кликнете на его номер.
            .buttons-line__wrap
              +button-green('скачать историю заказов') 
          
