extends ../templates/template.pug
block content
  +breadcrumb('история заказов')

  .page.page-order-detail
    .container
      .row
        .col-lg-3
          .menu-left__wrap
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Профиль покупателя
            .menu-left__item.active
              a(href="javascript:void(0);").menu-left__link История заказов
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Система скидок и программа лояльности


        .col-lg-9
          .content-right__wrap
            h1.h1 Спецификация к заказу <span class='span-br-mob'>№ 11470-000005</span>
            .order-info__wrap
              +order-info-item('получен:', '11.09.2021 в 10:51')
              +order-info-item('заказчик:', 'Констатинопольский Константин')
              +order-info-item('способ доставки:', 'адресная доставка по Москве')
              +order-info-item('адрес доставки:', 'Москва, Коломенский пр., 13А')
              +order-info-item('форма оплаты:', 'банковской картой у курьера')
  
            .table__wrap
              table.table-ext
                tbody.tbody
                  tr.tr-head.head-ext
                    th.th п/п
                    th.th бренд/название модели
                    th.th.td-br кол-во
                    th.th.td-br цена, в руб.
                    th.th сумма, в руб.
                  tr.tr
                    td.td 1
                    td.td.text-left
                      a(href="javascript:void(0);").td-title INNAMORE BELLA 20
                      .overflow-block
                        table.table-in
                          tbody.tbody
                            tr.tr-head
                              th.th
                              th.th 2-S
                              th.th 3-M
                              th.th 4-L
                              th.th 5-XL
                              th.th
                              th.th
                              th.th
                            tr.tr
                              td.td CARAMELLO
                              td.td
                              td.td
                              td.td 2
                              td.td
                              td.td
                              td.td
                              td.td
                            tr.tr
                              td.td DAINO
                              td.td
                              td.td
                              td.td 2
                              td.td
                              td.td
                              td.td
                              td.td
                    td.td.td-add.td-br 4
                    td.td.td-add.td-br.price 99 999.99
                    td.td.td-add.price 999 999.99
                  tr.tr
                    td.td 2
                    td.td.text-left
                      a(href="javascript:void(0);").td-title GUILIA EMOTION RETE VISIONE autoreggente
                      .overflow-block
                        table.table-in
                          tbody.tbody
                            tr.tr-head
                              th.th
                              th.th 2-S
                              th.th 3-M
                              th.th 4-L
                              th.th 5-XL
                              th.th
                              th.th
                              th.th
                            tr.tr
                              td.td CARAMELLO
                              td.td
                              td.td
                              td.td 3
                              td.td
                              td.td
                              td.td
                              td.td
                            tr.tr
                              td.td DAINO
                              td.td
                              td.td
                              td.td 1
                              td.td
                              td.td
                              td.td
                              td.td
                    td.td.td-add.td-br 4
                    td.td.td-add.td-br.price 99 999.99
                    td.td.td-add.price 999 999.99
                  tr.tr
                    td.td 3
                    td.td.text-left
                      a(href="javascript:void(0);").td-title PHILIPPE MATIGNON PREMIERE 20 mi-bas
                      .overflow-block
                        table.table-in
                          tbody.tbody
                            tr.tr-head
                              th.th
                              th.th UNICA
                              th.th 3-M
                              th.th 4-L
                              th.th 5-XL
                              th.th
                              th.th
                              th.th
                            tr.tr
                              td.td CARAMELLO
                              td.td 2
                              td.td
                              td.td
                              td.td
                              td.td
                              td.td
                              td.td
                            tr.tr
                              td.td DAINO
                              td.td 6
                              td.td
                              td.td
                              td.td
                              td.td
                              td.td
                              td.td
                    td.td.td-add.td-br 8
                    td.td.td-add.td-br.price 99 999.99
                    td.td.td-add.price 999 999.99
                  tr.tr
                    td.td 4
                    td.td.text-left
                      a(href="javascript:void(0);").td-title ALLA BUONE 5019 MAXI SLIP
                      .overflow-block
                        table.table-in
                          tbody.tbody
                            tr.tr-head
                              th.th
                              th.th S(44)
                              th.th M(46)
                              th.th L(48)
                              th.th XL(50)
                              th.th 2XL(52)
                              th.th 3XL(54)
                              th.th 4XL(56)
                            tr.tr
                              td.td CARAMELLO
                              td.td
                              td.td
                              td.td
                              td.td 6
                              td.td
                              td.td
                              td.td
                            tr.tr
                              td.td DAINO
                              td.td
                              td.td
                              td.td 2
                              td.td
                              td.td
                              td.td
                              td.td
                    td.td.td-add.td-br 8
                    td.td.td-add.td-br.price 99 999.99
                    td.td.td-add.price 999 999.99
                  tr.tr
                    td.td
                    td.td.text-left
                      .sum-count__wrap сумма по заказу:
                        .sum-count.d-block.d-lg-none 24
                      .sum-discount УРОВЕНЬ СКИДКИ ПРИМЕНЕННЫЙ К ЗАКАЗУ - 15%,
                        .span-br ЭКОНОМИЯ ОТ НАЧАЛЬНЫХ ЦЕН СОСТАВИЛА: 2 020.40РУБ.
                    td.td.td-add.td-br 24
                    td.td.td-add.td-br
                    td.td.td-add.price 999 999.99
                  tr.tr
                    td.td 5
                    td.td.text-left.d-none.d-lg-table-cell услуга адресная доставка по Москве:
                    td.td.text-left.d-table-cell.d-lg-none
                      .sum-count__wrap услуга адресная доставка по Москве:
                        .sum-count 1
                    td.td.td-add.td-br 1
                    td.td.td-add.td-br.price 240.00
                    td.td.td-add.price 240.00
                  tr.tr
                    td.td.text-left(colspan=2) 
                      .sum-count__wrap итого всего к оплате:
                        .sum-count.price.d-block.d-lg-none 999 999.99
                    td.td.td-add.td-br
                    td.td.td-add.td-br.price
                    td.td.td-add.price 999 999.99
  
            .buttons-line__wrap.justify-content-lg-end
              .buttons__wrap
                +button-green('скачать спецификацию к заказу')
                a(href="javascript:void(0);").button-text вернуться в историю заказов
