extends ../templates/template.pug
block content
  +breadcrumb('Персональные данные')

  .page.page-profile
    .container
      .row
        .col-lg-3
          .menu-left__wrap
            .menu-left__item.active
              a(href="javascript:void(0);").menu-left__link Профиль покупателя
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link История заказов
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Система скидок и программа лояльности


        .col-lg-9
          .content-right__wrap
            .row
              .col-lg-7
                .lk-info__block
                  h2.h2 Персональные данные
                  +input-block('Фамилия', '', 'text', 'Введите фамилию', true)
                  +input-block('Имя', '', 'text', 'Введите имя', true)
                .lk-info__block
                  h2.h2 Контактные данные
                  +input-block('Телефон', 'phone', 'tel', 'Введите телефон', true)
                  +input-block('Е-mail', '', 'email', 'text_me@mail.ru', true)
            .row
              .col-lg-12
                .lk-info__block
                  h2.h2 Адрес доставки
                  .lk-address__wrap
                    +lk-address('Вариант 1 (основной):', 'г. Москва, Вавилова ул., д. 55, стр. 1, кв. 101')
                    +lk-address('Вариант 2:', 'г. Санкт-Петербург, Невский пр., д. 8, лит. А, кв. 55', true)
                    a(href="javascript:void(0);").button-text добавить еще вариант
  
            .row
              .col-lg-7
                +password-block('Изменить пароль')
            .row
              .col-lg-12
                +agreement-block
                .buttons-line__wrap
                  +button-green('сохранить изменения')
  
            .row
              .col-lg-12
                .lk-status__wrap
                  h2.h2 Действующий статус постоянного покупателя (система лояльности)
                  .desc
                    p.p
                      | ваш активный статус сейчас  <span class='span-status span-br-mob'>- уровень 3 из 3 (скидка от 20%)</span>
                    p.p
                      | последнее обновление (покупка): нет данных
                    p.p
                      | ваши покупки с начала календарного года на сумму: <span class='price'>62 340 руб.</span>
                    p.p
                      | ваш статус - уровень 3 из 3 (скидка от 20%) - максимальный
                      | для пролонгации действующего статуса уровень 3 из 3 (скидка 20%) на следующий год, совершите покупки до конца 
                    p.p
                      | текущего календарного года еще на сумму: <span class='price'>37 660 руб.</span>
                  a(href="javascript:void(0);").button-text.button-black ознакомиться с системой скидок и лояльности для постоянных покупателей
