extends ../templates/template.pug
block content
  .container
    .page-main
      section.section.section-banner-slider
        .banner-top.banner-first
          .slider__wrap.banner-slider__wrap.banner-big.slider-single
            .banner-slider-big
              - for(var i=0; i<3; i++)
                a(href="javascript:void(0);").banner-slider__item
                  .banner(style="background-image:url('img/banner-main.jpg');")
                    .banner-slider__info
                      .banner-slider__title Колготки женские классические
                      .banner-slider__text Большой выбор цветных и однотонных колготок
                        .span-br разной плотности и размера
    
      section.section.section-product
        h2.main-title Новинки
        .slider__wrap.slider-products__wrap
          .product-items__wrap.slider-products
            - for(var i=0; i<4; i++)
              +product-item(true)
        .buttons__wrap.d-none.d-lg-flex
          a(href="javascript:void(0);").button-text.button-gray показать все новинки      
          
       
      section.section.section-sliders.d-none.d-lg-block
        .row
          .col-lg-9
            .slider__wrap.banner-slider__wrap.banner-big.slider-single
              .banner-slider-big
                - for(var i=0; i<3; i++)
                  a(href="javascript:void(0);").banner-slider__item
                    .banner(style="background-image:url('img/banner-big-1.jpg');")
                      .banner-slider__info
                        .banner-slider__title Колготки женские классические
                        .banner-slider__text Большой выбор цветных и однотонных колготок
                          .span-br разной плотности и размера
          .col-lg-3
            .slider__wrap.banner-slider__wrap.banner-little.slider-single
              .banner-slider-big
                - for(var i=0; i<3; i++)
                  a(href="javascript:void(0);").banner-slider__item
                    .banner(style="background-image:url('img/banner-little.jpg');")
                      .banner-slider__info
                        .banner-slider__title Носки для девочек 
                          .span-br из хлопка
    
      section.section.section-sliders.d-block.d-lg-none
        .banner-top
          .slider__wrap.banner-slider__wrap.banner-big
            .banner-slider-big
              - for(var i=0; i<3; i++)
                a(href="javascript:void(0);").banner-slider__item
                  .banner(style="background-image:url('img/banner-main.jpg');")
                    .banner-slider__info
                      .banner-slider__title Колготки женские классические
                      .banner-slider__text Большой выбор цветных и однотонных колготок
                        .span-br разной плотности и размера
                a(href="javascript:void(0);").banner-slider__item
                  .banner(style="background-image:url('img/banner-little.jpg');")
                    .banner-slider__info
                      .banner-slider__title Носки для девочек из хлопка
      
      section.section.section-news
        h2.main-title Новости
        .slider__wrap.slider-news-main__wrap
          .news-main-items__wrap.slider-news-main
            - for(var i=0; i<4; i++)
              +news-main-item
        .buttons__wrap.d-none.d-lg-flex
          a(href="javascript:void(0);").button-text.button-gray показать все новости
  
          
      section.section.section-sliders.d-none.d-lg-block
        .row
          .col-lg-3
            .slider__wrap.banner-slider__wrap.banner-little.slider-single
              .banner-slider-big
                - for(var i=0; i<3; i++)
                  a(href="javascript:void(0);").banner-slider__item
                    .banner(style="background-image:url('img/banner-little.jpg');")
                      .banner-slider__info
                        .banner-slider__title Носки для девочек 
                          .span-br из хлопка
          .col-lg-9
            .slider__wrap.banner-slider__wrap.banner-big.slider-single
              .banner-slider-big
                - for(var i=0; i<3; i++)
                  a(href="javascript:void(0);").banner-slider__item
                    .banner(style="background-image:url('img/banner-big-2.jpg');")
                      .banner-slider__info
                        .banner-slider__title Колготки женские классические
                        .banner-slider__text Большой выбор цветных и однотонных колготок
                          .span-br разной плотности и размера
          
      section.section.section-sliders.d-block.d-lg-none
        .banner-top
          .slider__wrap.banner-slider__wrap.banner-big
            .banner-slider-big
              - for(var i=0; i<3; i++)
                a(href="javascript:void(0);").banner-slider__item
                  .banner(style="background-image:url('img/banner-little.jpg');")
                    .banner-slider__info
                      .banner-slider__title Носки для девочек из хлопка
                a(href="javascript:void(0);").banner-slider__item
                  .banner(style="background-image:url('img/banner-main.jpg');")
                    .banner-slider__info
                      .banner-slider__title Колготки женские классические
                      .banner-slider__text Большой выбор цветных и однотонных колготок
                        .span-br разной плотности и размера


      section.section.section-product
        h2.main-title Хиты продаж
        .slider__wrap.slider-products__wrap
          .product-items__wrap.slider-products
            - for(var i=0; i<4; i++)
              +product-item
        .buttons__wrap.d-none.d-lg-flex
          a(href="javascript:void(0);").button-text.button-gray показать все хиты продаж
  
          
      section.section.section-banners
        .slider__wrap.slider-banner-main__wrap
          .banner-main__wrap.slider-banner-main
            +banner-main({
              img: 'banner-img-1.jpg',
              title: 'Носки женские классические',
              text: 'Большой выбор цветных и однотонных колготок'
            })
            +banner-main({
              img: 'banner-img-2.jpg',
              title: 'Носки мужские классические',
              text: 'Большой выбор цветных и однотонных колготок'
            })
          
      section.section.section-feedback
        h2.main-title Отзывы о работе компании
        .slider__wrap.slider-feedback__wrap
          .feedback-items__wrap.slider-feedback
            - for(var i=0; i<4; i++)
                +feedback-item
        .buttons__wrap
          a(href="javascript:void(0);").button-text.button-gray показать все отзывы о работе компании
          +button-green('оставить свой отзыв о работе компании') 
  
          
      section.section.section-banner-slider
        .slider__wrap.banner-slider__wrap.banner-big.slider-single
          .banner-slider-big
            - for(var i=0; i<3; i++)
              a(href="javascript:void(0);").banner-slider__item
                .banner(style="background-image:url('img/banner-main-2.jpg');")
                  .banner-slider__info
                    .banner-slider__title Леггинсы женские классические
                    .banner-slider__text Большой выбор цветных и однотонных колготок
                      .span-br разной плотности и размера
  
                
      section.section.section-brands
        h2.main-title Бренды
        .slider__wrap.slider-brands__wrap
          .brands__wrap.slider-brands
            - for(var i=1; i<22; i++)
              a(href="javascript:void(0);").brand-item
                img(src=`img/brand-img-${i}.png` alt='', title='', loading="lazy").brand-img
            - for(var i=23; i<38; i++)
              a(href="javascript:void(0);").brand-item
                img(src=`img/brand-img-${i}.png` alt='', title='', loading="lazy").brand-img
            
          
      section.section.section-slider-popular
        h2.main-title Популярные категории товаров
        .slider__wrap.slider-popular__wrap
          .container-arrows
          .slider-popular
            - for(var i=0; i<2; i++)
              each val, index in ['колготки', 'чулки', 'леггинсы', 'гольфы']
                a(href="javascript:void(0);").slider-popular__item
                  .slider-popular-img__wrap
                    img(src=`img/popular-img-${index + 1}.png` alt='', title='').slider-popular-img
                  .slider-popular-title !{val}
