extends ../templates/template.pug
block content
  +breadcrumb('новости')

  .page.page-news
      .container
        .row
          .col-lg-3
            .menu-left__wrap
              .menu-left__item
                a(href="javascript:void(0);").menu-left__link О компании
              .menu-left__item.active
                a(href="javascript:void(0);").menu-left__link Новости
              .menu-left__item
                a(href="javascript:void(0);").menu-left__link Информация
              .menu-left__item
                a(href="javascript:void(0);").menu-left__link Обзоры
              .menu-left__item
                a(href="javascript:void(0);").menu-left__link Производители и бренды
              .menu-left__item
                a(href="javascript:void(0);").menu-left__link Прайс лист и бланк заказа
              .menu-left__item
                a(href="javascript:void(0);").menu-left__link Система скидок
              .menu-left__item
                a(href="javascript:void(0);").menu-left__link Отзывы о компании
              .menu-left__item
                a(href="javascript:void(0);").menu-left__link Политика конфиденциальности
              .menu-left__item
                a(href="javascript:void(0);").menu-left__link Публичная оферта


          .col-lg-9
            .content-right__wrap
              h1.h1 Новости
              .news-item__wrap
                .news-item__date 29 апреля 2021
                .news-item__title Новинки в тм GIULIA - колготки серии FASHION LINE (сезона весна 2021 г.)
                .decs.mb-4.mb-lg-4
                  p.p
                    | 29 апреля 2021 в торговой марке GIULIA в нашем ассортименте появились новинки - колготки серии 
                    | FASHION LINE (сезона весна - лето 2021 г.):
                -for(var i=0; i<3; i++)
                  .news-img__block
                    .news-img__text 
                      | GIULIA CROSSWALK 20 model 3 - тонкие прозрачные элегантные эластичные колготки серии 
                      | FASHION LINE, с рисунком в виде полосок, сосредоточенных ниже колена. С классической 
                      | посадкой - на талии. Колготки однородные по всей длине (без шортиков), с гигиенической 
                      | ластовицей из хлопка, формованные с хорошо выраженной пяткой, с плоским комфортным 
                      | соединительным швом, ширина пояса-резинки - 3,0 см., с прозрачным мыском.
                      .span-br <span class="span-br">Ссылка на товар в каталоге:</span> <a href="#" class="button-text button-black">GIULIA CROSSWALK 20 model 3 </a>
                    .news-img__wrap.mt-3.mt-lg-0 
                      img(src='../img/news-img.png' alt='', title='', loading="lazy").news-img
                  
  
              a(href="javascript:void(0);").button-text.button-red Вернуться к списку новостей...
