extends ../templates/template.pug
block content
  +breadcrumb('новости')

  .page.page-news
      .container
        .row
          .col-lg-3
            .menu-left__wrap
              .menu-left__item
                a(href="javascript:void(0);").menu-left__link О компании
              .menu-left__item.active
                a(href="javascript:void(0);").menu-left__link Новости
              .menu-left__item
                a(href="javascript:void(0);").menu-left__link Информация
              .menu-left__item
                a(href="javascript:void(0);").menu-left__link Обзоры
              .menu-left__item
                a(href="javascript:void(0);").menu-left__link Производители и бренды
              .menu-left__item
                a(href="javascript:void(0);").menu-left__link Прайс лист и бланк заказа
              .menu-left__item
                a(href="javascript:void(0);").menu-left__link Система скидок
              .menu-left__item
                a(href="javascript:void(0);").menu-left__link Отзывы о компании
              .menu-left__item
                a(href="javascript:void(0);").menu-left__link Политика конфиденциальности
              .menu-left__item
                a(href="javascript:void(0);").menu-left__link Публичная оферта


          .col-lg-9
            .content-right__wrap
              h1.h1 Новости
              .news-item__wrap
                .news-item__date 29 апреля 2021
                .news-item__title Внимание! Коррекция цены тм GOLDEN LADY
                p.p 
                  | С 29 апреля 2021 компания ООО "Единая Европа Элит" - официальный импортёр продукции GOLDEN LADY GROUP 
                  | тм GOLDEN LADY и OMSA, дистрибутором которой компания ПроКолготки является с 2004 года, повысил цены в 
                  | рублях почти на весь ассортимент, за исключением зимених моделей. Цена стала дороже (обозначено красным):
                table.table-news
                  tbody.tbody
                    tr.tr
                      td.td.td-col(colspan='4') GOLDEN LADY  колготки из полиамида "на каждый день"
                    -for(var i=0; i<3; i++)
                      tr.tr  
                        td.td.td-name MARA 20 XL
                        td.td 99.00  
                        td.td 106.00     
                        td.td + 7.07%
                    tr.tr
                      td.td.td-col.pt-4.pt-lg-0(colspan='4') GOLDEN LADY  колготки "на каждый день" с акционной ценой (с шортиками, без ластовицы) 
                    -for(var i=0; i<10; i++)
                      tr.tr
                        td.td.td-name MARA 20 XL
                        td.td 99.00  
                        td.td 106.00     
                        td.td + 7.07%                
                  
                a(href="javascript:void(0);").button-text.button-red Вернуться к списку новостей...
