extends ../templates/template.pug
block content
  +breadcrumb('оформление заказа')
  
  .page 
    section.section
      .container
        h1.h1 Оформление заказа
        
        .step__wrap.step-1
          .step-title <span class='span-br-mob'>Шаг 1 из 3. </span>Личные и контактные данные заказчика.
          .row
            .col-lg-5
              +input-block('Фамилия', '', 'text', 'Введите фамилию', true)
              +input-block('Имя', '', 'text', 'Введите имя', true)
              +input-block('Е-mail', '', 'email', 'text_me@mail.ru', true)
              +input-block('Телефон', 'phone', 'tel', 'Введите телефон', true)
              +textarea-block('Комментарий к заказу', '')
            .col-lg-7
              .input-comment * - данные обязательные к заполнению
          .row
            .col-lg-5
              +input-block('Промо-код (коллективный заказ)', 'promo', 'text', '', false)
            .col-lg-7
              .promo-info
                a(href="javascript:void(0);").button-text создать промо-код для коллективного заказа
                a(href="javascript:void(0);").button-text правила работы промо-кодов
          .buttons-line__wrap
            +button-green('далее', 'button-next') 
          
        .step__wrap.step-2
          .step-title <span class='span-br-mob'>Шаг 2 из 3. </span>Выбор варианта получения заказа.
          .row
            .col-lg-5
              +select-block-search('Город получения (выберите из списка)', 'select-city', true)
          .tabs-delivery__block
            .tabs.tabs-delivery
              .tabs__wrap
                .radio-block__wrap
                  .input-block__title Возможные варианты получения
                    span.star *
                  .radio-block__list
                    a(href="javascript:void(0);" data-thumb='step-2-1').tabs__item.tabs-item--js.active
                      +radio-block-tabs('delivery-img-1.png', 'delivery')
                    a(href="javascript:void(0);" data-thumb='step-2-2').tabs__item.tabs-item--js
                      +radio-block-tabs('delivery-img-2.png', 'delivery')
                    a(href="javascript:void(0);" data-thumb='step-2-3').tabs__item.tabs-item--js
                      +radio-block-tabs('delivery-img-3.png', 'delivery')
                    a(href="javascript:void(0);" data-thumb='step-2-4').tabs__item.tabs-item--js
                      +radio-block-tabs('delivery-img-4.png', 'delivery')
                    a(href="javascript:void(0);" data-thumb='step-2-5').tabs__item.tabs-item--js
                      +radio-block-tabs('delivery-img-5.png', 'delivery')
                    a(href="javascript:void(0);" data-thumb='step-2-6').tabs__item.tabs-item--js
                      +radio-block-tabs('delivery-img-6.png', 'delivery')
                    a(href="javascript:void(0);" data-thumb='step-2-7').tabs__item.tabs-item--js
                      +radio-block-tabs('delivery-img-7.png', 'delivery')
                    
  
            .tabs__block--js.tabs-block_delivery(data-thumb='step-2-1').active
              .desc.mb-3.mb-lg-5
                p.p
                  | Доставка до выбранного вами отделения ПОЧТА РОССИИ - услуга платная. Цена услуги зависит: от города получения, веса заказа (посылки) или его габаритного размера, выбранного тарифа ПОЧТА РОССИИ, суммы по заказу и формы оплаты. Время доставки заказа до отделения ПОЧТА РОССИИ зависит от работы компании ПОЧТА РОССИИ. Заказы, принятые до 15:00 (по раб. дням), стараемся передавать оператору услуг в тот же или на следующий рабочий день.
                  | С информацией об отслеживании заказа по трек-номеру и о времени работы отделения ПОЧТА РОССИИ можно ознакомится на сайте: https://www.pochta.ru/
                a(href="javascript:void(0);").button-text Подробно ознакомиться об услуге доставка.
                p.p.mt-4
                  | Выберите на карте отделение ПОЧТЫ РОССИИ
              .row
                .col-lg-5
                  +input-block-search('Индекс или ваш адрес', '', 'search', '', true)
              .maps__wrap
                #map.map
  
              .post-address__wrap
                .input-block__title Выбранный адрес отделения ПОЧТЫ РОССИИ
                .post-address 690012, край Приморский, г Владивосток, ул Кизлярская, дом 7    
                  
            .tabs__block--js.tabs-block_delivery(data-thumb='step-2-2')  
              | Lorem ipsum orci malesuada cursus quisque ligula maecenas vivamus sodales. Vitae lorem ligula sagittis, integer eget tellus bibendum porttitor massa odio nam sed: nibh elementum. Proin, maecenas sed magna vivamus adipiscing sem: sagittis fusce maecenas ligula, leo sit ultricies gravida proin adipiscing ultricies elementum et integer quisque, sem porta.
              | Lorem lectus orci gravida molestie proin metus porta mattis maecenas — proin arcu leo orci proin sit. Congue molestie et nec arcu — nibh eu mauris justo auctor molestie integer arcu congue ultricies sodales in vivamus cursus sodales sem. Mauris — diam nam nec morbi: elementum nam pharetra lorem vulputate sodales quam: amet nam bibendum ut duis proin morbi. Non arcu tellus integer, amet fusce quam mattis ultricies pharetra. Nulla sem quisque mauris fusce tempus arcu orci quisque pellentesque sem mauris diam, non cursus risus porta vulputate malesuada. Donec nec vitae: porttitor bibendum, mauris, leo sem rutrum integer, pellentesque donec cursus urna congue sed enim arcu et leo — vitae odio.
              | Justo gravida tempus: commodo cursus sapien eget, nulla vitae eu lectus odio porta leo massa risus duis tellus, malesuada proin. Integer morbi adipiscing, risus justo lectus mattis vitae cursus sapien sagittis sem risus eget tellus at tellus — arcu lorem rutrum proin amet mattis cursus enim. Tempus curabitur pharetra adipiscing, proin vulputate bibendum elementum duis arcu pharetra, at vitae mauris nibh ipsum eget sit eget auctor congue, in sagittis congue. Sodales adipiscing, congue: amet gravida eros ligula mauris rutrum, sit congue eget risus donec orci duis nec in: adipiscing.
            
            .tabs__block--js.tabs-block_delivery(data-thumb='step-2-3')
              | Lorem ipsum orci malesuada cursus quisque ligula maecenas vivamus sodales. Vitae lorem ligula sagittis, integer eget tellus bibendum porttitor massa odio nam sed: nibh elementum. Proin, maecenas sed magna vivamus adipiscing sem: sagittis fusce maecenas ligula, leo sit ultricies gravida proin adipiscing ultricies elementum et integer quisque, sem porta.
              | Lorem lectus orci gravida molestie proin metus porta mattis maecenas — proin arcu leo orci proin sit. Congue molestie et nec arcu — nibh eu mauris justo auctor molestie integer arcu congue ultricies sodales in vivamus cursus sodales sem. Mauris — diam nam nec morbi: elementum nam pharetra lorem vulputate sodales quam: amet nam bibendum ut duis proin morbi. Non arcu tellus integer, amet fusce quam mattis ultricies pharetra. Nulla sem quisque mauris fusce tempus arcu orci quisque pellentesque sem mauris diam, non cursus risus porta vulputate malesuada. Donec nec vitae: porttitor bibendum, mauris, leo sem rutrum integer, pellentesque donec cursus urna congue sed enim arcu et leo — vitae odio.
              | Lorem ipsum orci malesuada cursus quisque ligula maecenas vivamus sodales. Vitae lorem ligula sagittis, integer eget tellus bibendum porttitor massa odio nam sed: nibh elementum. Proin, maecenas sed magna vivamus adipiscing sem: sagittis fusce maecenas ligula, leo sit ultricies gravida proin adipiscing ultricies elementum et integer quisque, sem porta.
              | Lorem lectus orci gravida molestie proin metus porta mattis maecenas — proin arcu leo orci proin sit. Congue molestie et nec arcu — nibh eu mauris justo auctor molestie integer arcu congue ultricies sodales in vivamus cursus sodales sem. Mauris — diam nam nec morbi: elementum nam pharetra lorem vulputate sodales quam: amet nam bibendum ut duis proin morbi. Non arcu tellus integer, amet fusce quam mattis ultricies pharetra. Nulla sem quisque mauris fusce tempus arcu orci quisque pellentesque sem mauris diam, non cursus risus porta vulputate malesuada. Donec nec vitae: porttitor bibendum, mauris, leo sem rutrum integer, pellentesque donec cursus urna congue sed enim arcu et leo — vitae odio.
              | Justo gravida tempus: commodo cursus sapien eget, nulla vitae eu lectus odio porta leo massa risus duis tellus, malesuada proin. Integer morbi adipiscing, risus justo lectus mattis vitae cursus sapien sagittis sem risus eget tellus at tellus — arcu lorem rutrum proin amet mattis cursus enim. Tempus curabitur pharetra adipiscing, proin vulputate bibendum elementum duis arcu pharetra, at vitae mauris nibh ipsum eget sit eget auctor congue, in sagittis congue. Sodales adipiscing, congue: amet gravida eros ligula mauris rutrum, sit congue eget risus donec orci duis nec in: adipiscing.
  
            .tabs__block--js.tabs-block_delivery(data-thumb='step-2-4')
              .desc.mb-3.mb-lg-5
                p.p
                  | Доставка (экспедирование) груза по Москве до терминала ТК (транспортной компании) для отправки в города России - услуга платная. Преимущественно ТК «Деловые линии», «ПЭК» (возможность отправлять другими ТК требуют согласования). Цена услуги зависит: от тарифов нашей компании принятых на основании средних цен на услуги экспедирования груза по Москве. *Бесплатно – при заказе на сумму от 100 000 руб. Время доставки заказа до терминала ТК в день поступления оплаты заказа или на следующий рабочий день. Услуги по перевозке, посредством ТК из Москвы до города назначения, оплачивается получателем по тарифам ТК по факту получения груза. Доставка осуществляется с ПН по ПТ. Доставка не осуществляется по СБ и ВС, а также в праздничные выходные дни.
                a(href="javascript:void(0);").button-text Подробно ознакомиться об услуге доставка.
              .row
                .col-lg-5
                  +select-block('Выберите транспортную компанию', 'ТК «Деловые линии»', true)  
            
          
          
            
            .tabs__block--js.tabs-block_delivery(data-thumb='step-2-5')
              | Lorem ipsum orci malesuada cursus quisque ligula maecenas vivamus sodales. Vitae lorem ligula sagittis, integer eget tellus bibendum porttitor massa odio nam sed: nibh elementum. Proin, maecenas sed magna vivamus adipiscing sem: sagittis fusce maecenas ligula, leo sit ultricies gravida proin adipiscing ultricies elementum et integer quisque, sem porta.
              | Lorem lectus orci gravida molestie proin metus porta mattis maecenas — proin arcu leo orci proin sit. Congue molestie et nec arcu — nibh eu mauris justo auctor molestie integer arcu congue ultricies sodales in vivamus cursus sodales sem. Mauris — diam nam nec morbi: elementum nam pharetra lorem vulputate sodales quam: amet nam bibendum ut duis proin morbi. Non arcu tellus integer, amet fusce quam mattis ultricies pharetra. Nulla sem quisque mauris fusce tempus arcu orci quisque pellentesque sem mauris diam, non cursus risus porta vulputate malesuada. Donec nec vitae: porttitor bibendum, mauris, leo sem rutrum integer, pellentesque donec cursus urna congue sed enim arcu et leo — vitae odio.
              | Lorem ipsum orci malesuada cursus quisque ligula maecenas vivamus sodales. Vitae lorem ligula sagittis, integer eget tellus bibendum porttitor massa odio nam sed: nibh elementum. Proin, maecenas sed magna vivamus adipiscing sem: sagittis fusce maecenas ligula, leo sit ultricies gravida proin adipiscing ultricies elementum et integer quisque, sem porta.
              | Lorem lectus orci gravida molestie proin metus porta mattis maecenas — proin arcu leo orci proin sit. Congue molestie et nec arcu — nibh eu mauris justo auctor molestie integer arcu congue ultricies sodales in vivamus cursus sodales sem. Mauris — diam nam nec morbi: elementum nam pharetra lorem vulputate sodales quam: amet nam bibendum ut duis proin morbi. Non arcu tellus integer, amet fusce quam mattis ultricies pharetra. Nulla sem quisque mauris fusce tempus arcu orci quisque pellentesque sem mauris diam, non cursus risus porta vulputate malesuada. Donec nec vitae: porttitor bibendum, mauris, leo sem rutrum integer, pellentesque donec cursus urna congue sed enim arcu et leo — vitae odio.
  
            .tabs__block--js.tabs-block_delivery(data-thumb='step-2-6')
              .desc.mb-3.mb-lg-5
                p.p
                  | Адресная доставка по МО (Московской области) и по Москве за МКАД - услуга платная. Цена услуги зависит: от веса заказа (посылки) или его габаритного 
                  | размера, суммы по заказу и формы оплаты и от удаленности (расстояния в км.) от МКАД. Стоимость услуги рассчитывается по тарифам курьерской службы (нашего партнера). *Бесплатно - при заказе на сумму от 100 000 руб. + стоимость услуги по доставке за МКАД. Доставка осуществляется с ПН по ПТ с выбором даты и возможным интервалом времени доставки. Доставка не осуществляется по СБ, ВС и выходным праздничным дням. Заказы, принятые до 15:00 стараемся доставлять на следующий день!
                a(href="javascript:void(0);").button-text Подробно ознакомиться об услуге доставка.
              .row
                .col-lg-6
                  +input-block('Адрес доставки', '', 'text', 'Зеленоград, Фруктовая, 24, корп. 1, кв. 48 ', true)
                .col-lg-6
                  .edit-block.mt-3.mt-lg-5.text-right
                    .button-address__wrap.mb-3.mb-lg-0
                      a(href="javascript:void(0);").button-text выбрать другой адрес
                      .address-list
                        .address-item
                          a(href="javascript:void(0);").button-text.button-black.address-link г. Москва, ул. Вавилова, 19, кв. 123 
                        .address-item
                          a(href="javascript:void(0);").button-text.button-black.address-link г. Москва, ул. Промышленная, 456, кв. 3 
                    a(href="javascript:void(0);").button-text создать новый адрес доставки
              .row
                .col-lg-3
                  +input-block('Выберите дату доставки', 'datepicker-input', 'text', 'Выберите дату', true, '')
                .col-lg-3
                  +select-block('Выберите интервал времени', 'с 10:00 до 18:00', true)
  
  
  
  
            
            .tabs__block--js.tabs-block_delivery(data-thumb='step-2-7')
              .desc.mb-3.mb-lg-5
                p.p
                  | Самовывоз заказа из шоурума/офиса/склада торговой компании ПроКолготки в Москве - услуга бесплатная. Самовывоз возможен, только в рабочее время компании: с ПН - ПТ с 8:00 до 17:00, в СБ с 8:00 до 16:00. Самовывоз в другое время (например, позднее 17:00), требует согласования у менеджеров компании. В ВС и праздничные-выходные дни самовывоз невозможен.
                p.p
                  | Самовывоз по адресу: Москва, Коломенский проезд, д. 13А. <a href="#" class="button-text button-black">(как добраться?)</a>
              .maps__wrap.mb-3.mb-lg-4
                #map.map
  
              .row
                .col-lg-3
                  +input-block('Выберите дату самовывоза', 'datepicker-input', 'text', 'Выберите дату', true, '')
                .col-lg-3
                  +select-block('Выберите время готовности', 'к 18:00', false)
  
          
          
        +step-3
        +result-block    
