extends ../templates/template.pug
block content
  +breadcrumb('стать партнёром')

  .page.page-text.page-partnership
    .container
      .row
        .col-lg-3
          .menu-left__wrap
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Покупателям и партнёрам
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Личный кабинет
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Консультирование
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Работа с заказами
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Оплата
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Доставка
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Гарантии
            .menu-left__item.active
              a(href="javascript:void(0);").menu-left__link Стать партнёром
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Разрешение проблем
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Правила продажи


        .col-lg-9
          .content-right__wrap
            h1.h1 Стать партнером
            .desc
              p.p
                | Торговая компания «<span class="span-red">Про</span>Колготки» предлагает сотрудничество с теми, кто занимается или хочет начать 
                | заниматься продажей колготок и чулок, женского или мужского нижнего белья. Нашими партнерами являются предприниматели, у которых есть торговое место (магазин, павильон, отдел и.т.д) или те, кто занимается 
                | онлайн продажами по средством интернета (интернет-магазины, организаторы коллективных закупок, 
                | распространители в социальных сетях и.т.д.).
              p.p
                | Компания «<span class="span-red">Про</span>Колготки» не является импортером, мы представляем интересы компаний импортеров (являемся дистрибуторами). Мы является действующими дистрибуторами таких ведущих компаний импортеров в России как: «Единая Европа Элит» (портфель брендов: MINIMI, GOLDEN LADY, OMSA, SISI, FILODORO, PHILIPPE MATIGNON), «Альфа Текстайлз» (портфель брендов: INNAMORE, INCANTO, GLAMOUR), «Арст» (портфель брендов: CONTE, LEVANTE). Ценовая политика этих компаний регламентирована и стандартизирована самыми этими компаниями и наша компания предлагает товар от этих компаний по таким же оптовым ценам, что и у них. Наша компания также является партнером многих других импортеров-поставщиков на российский рынок, и по товарам от них, мы также предлагаем реальные конкурентные оптовые цены. 
              p.p
                | Нашим главным преимуществом является, то что мы собрали большой ассортимент товаров (более 40 брендов) в реальном наличии (на своей полке), от многих разных импортеров-поставщиков. В следствии этого, наша 
                | готовность быстро выполнять заказы. Возможность выполнять заказы в день их поступления, является для нас 
                | стандартом работы. Мы накопили огромный опыт (более 25 лет) и понимание, о самом товаре (возможный спрос, сезонный фактор продаж), а также об особенностях работы каждого импортера-поставщика (частота поставок, 
                | потенциал наличия) и создаём свой необходимый товарный запас, поэтому наше наличие в определенном 
                | моменте, часто бывает лучше, чем у самого импортера-поставщика. Что дает нашим партнерам, большой 
                | (лучший) процент выполнения заказов. 
              p.p
                | Большой выбор - это хорошо, большой процент выполнения заказа тоже хорошо, но фактор цены - всегда будет оставаться самым главным фактором для начала возможного сотрудничества. Получить представление о цене, 
                | можно скачав действующий прайс-лист (публикуется на сайте). В прайс-листе в колонке №7 (цена для 
                | профессиональных партнеров) заявлена базовая оптовая цена (БОЦ). Данная цена соответствует базовой 
                | оптовой цене импортеров, с которыми мы сотрудничаем. Всем партнерам мы одинаково предлагаем базовую 
                | оптовую цену (БОЦ), если вы занимаетесь продажей данной продукции. Формат ваших продаж (ритейл или 
                | е-коммерция) не имеет никакого значения. В некоторых случаях, например, по согласованию с импортером, при 
                | большом объёме закупок или иных случаях (для каждого бренда решается в отдельности), мы можем 
                | предоставлять цену дешевле, чем базовая оптовая цена (БОЦ). Данный вопрос решается индивидуально в 
                | диалоге с управляющим менеджером (см. контакты). 
              p.p
                | Для наших партнеров мы не делаем ни каких ограничений. Нам не важно какой бренд партнер закупает больше, а какой меньше, базовая оптовая цена (БОЦ) для него гарантирована. Комплектность заказа, также не имеет ни каких ограничений, мы работаем с штучным набором (от 1 шт. любой модели любого бренда/размера/цвета).
              p.p
                | Если у вас, нет опыта работы с данной продукцией, мы можем консультировать по любым вопросам. Например, оценка рабочего ассортимента, составление начального (стартового) ассортимента, давать различные советы и оказывать помощь по выбору торгового оборудования и.т.д.
              p.p
                | Стать нашим партнером может любой предприниматель (ИП, ООО, ОАО, ЗАО и другие юридические формы), после заключения договора поставки. Список документов, необходимых для заключения договора: 
                | для ИП - свидетельство ИНН и ОГРН, копия паспорта, карточка клиента (желательно);
                | для ООО, ЗАО, ОАО - копии свидетельства ИНН, ОГРН, копии устава (первые три страницы и последние 
                | две), карточка клиента (желательно).
              p.p
                | Если у вас появились любые вопросы (о товарах, о цене, о стандартах нашей работы), мы готовы на них отвечать. Свяжитесь с ответственными лицами компании «<span class="span-red">Про</span>Колготки» (<a href="#" class="button-text">см. наши контакты</a>), и мы будем рады вам помочь.
