extends ../templates/template.pug
block content
  +breadcrumb('оплата')

  .page.page-pay
    .container
      .row
        .col-lg-3
          .menu-left__wrap
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Покупателям и партнёрам
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Личный кабинет
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Консультирование
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Работа с заказами
            .menu-left__item.active
              a(href="javascript:void(0);").menu-left__link Оплата
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Доставка
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Гарантии
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Стать партнёром
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Разрешение проблем
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Правила продажи


        .col-lg-9
          .content-right__wrap
            h1.h1 Оплата
            .desc
              p.p На данный момент доступны следущие варианты оплаты Ваших заказов (покупок):
            .pay-list__wrap
              .pay-list__item
                .pay-list__title Наличными в кассе компании
                .pay-list__text 
                  | при условии самовывоза из нашего шоурум/офис/склада по адресу: 
                  | г. Москва, Коломенский проезд, д. 13А.
              .pay-list__item
                .pay-list__title Эквайринг в кассе компании
                .pay-list__text
                  |оплата картами VISA, МИР или MasterCard в кассе нашей компании при условии самовывоза из нашего шоурум/офис/склада по адресу: г. Москва, Коломенский проезд, д. 13А.
                .pay-list__img-block
                  img(src='../img/pay-card-mc.svg' alt='', title='').pay-card.pay-card-mc
                  img(src='../img/pay-card-vs.svg' alt='', title='').pay-card.pay-card-vs
                  img(src='../img/pay-card-mir.svg' alt='', title='').pay-card.pay-card-mir
              .pay-list__item
                .pay-list__title Наличными курьеру
                .pay-list__text
                  | при получении заказа от курьера при выборе услуги - адресная доставка.
              .pay-list__item
                .pay-list__title Эквайринг у курьера
                .pay-list__text
                  | оплата картами VISA, МИР или MasterCard при получении заказа от курьера при помощи мобильного терминала при выборе услуги - адресная доставка. Актуально только для Москвы и Санкт-Петербурга, при обязательном согласовании у менеджера-продаж.
                .pay-list__img-block
                  img(src='../img/pay-card-mc.svg' alt='', title='').pay-card.pay-card-mc
                  img(src='../img/pay-card-vs.svg' alt='', title='').pay-card.pay-card-vs
                  img(src='../img/pay-card-mir.svg' alt='', title='').pay-card.pay-card-mir
              .pay-list__item
                .pay-list__title Интернет Эквайринг (онлайн оплата)
                .pay-list__text
                  |онлайн оплата непосредственно на сайте www.prokolgotki.ru при выборе способа - "Онлайн оплата банковской картой". Безопасность платежа обеспечивает процессинговый центр ПАО АКБ "Авангард". Ввод реквизитов карты происходит в системе электронных платежей который прошел сертификацию в платежных системах Visa Inc. и MasterCard Worldwide на совершение операций с аутентификацией 3-D Secure. Передача и обработка, полученных в зашифрованном виде конфиденциальных данных клиента (реквизиты карты, регистрационные данные и т. д.) осуществляется по закрытым банковским сетям высшей степени защиты в процессинговом центре ПАО АКБ «Авангард». Предоставленные данные полностью защищены в рамках стандарта безопасности данных индустрии платежных карт (Payment Card Industry Data Security Standard).
                .pay-list__img-block
                  img(src='../img/pay-bank.svg' alt='', title='').pay-card.pay-bank
              .pay-list__item
                .pay-list__title Наложенным платежом
                .pay-list__text
                  | оплата наличными при получении заказа (покупки) отправленного посредством "Почты России", "Boxberry" или другим оператором услуг. Обращаем Ваше внимание, что оператор услуг может дополнительно взимать % от суммы платежа (кассовое обслуживание)!
              .pay-list__item
                .pay-list__title Оплата на расчётный счёт в банке
                .pay-list__text
                  | ИП Гарцуева О.А. (торговая компания "ПроКолготки"):<br>
                  | Расчетный счет (Р/С): 40802 81010 00300 01126 в ПАО АКБ "Авангард"<br>
                  | БИК: 044525201<br>
                  | Корреспондентский счет банка (К/С): 30101810000000000201<br>
                  | При оплате на наш расчётный счёт, доставка товаров происходит, только после поступления денежных средств на счёт компании.
                .info-accord__wrap
                  .info-accord__item.accord-wrap--js.active
                    .info-accord__title.accord-title--js Реквизиты
                    .info-accord__block.accord-block--js
                      p.p.mb-0
                        .span-br Полное наименование организации в соответствии с учредительными документами:
                        | ИП Гарцуева Ольга Анатольевна
                      p.p
                        .span-br Юридический адрес:
                        | 115408, г. Москва, Борисовские пруды ул., д. 48, корп. 2, кв. 33
                      p.p
                        .span-br Фактический адрес:
                        | 115446, г. Москва, Коломенский проезд, д. 13А
                      p.p
                        .span-br Идентификационный номер (ИНН):
                        | 772457693908
                      p.p
                        .span-br Регистрационный номер ОГРН:
                        | 306770000498088
                      p.p
                        .span-br Расчетный счет (Р/С):
                        | 40802810100030001126  в  ПАО АКБ "Авангард"
                      p.p  
                        .span-br БИК:
                        | 044525201
                      p.p
                        .span-br Корреспондентский счет банка (К/С):
                        | 30101810000000000201
        
