extends ../templates/template.pug
block content
  +breadcrumb('политика конфиденциальности')

  .page.page-pk
    .container
      .row
        .col-lg-3
          .menu-left__wrap
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link О компании
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Новости
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Информация
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Обзоры
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Производители и бренды
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Прайс лист и бланк заказа
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Система скидок
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Отзывы о компании
            .menu-left__item.active
              a(href="javascript:void(0);").menu-left__link Политика конфиденциальности
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Публичная оферта


        .col-lg-9
          .content-right__wrap
            h1.h1 Политика конфиденциальности и защита информации
            .desc
              p.p
                | 1.1 Персональные данные пользователя (покупателя) обрабатывается в соответствии с ФЗ «О персональных данных» № 152-ФЗ.
              p.p  
                | 1.2. При регистрации на сайте пользователь предоставляет следующую информацию: фамилия, имя, контактный номер телефона, адрес электронной почты, адрес доставки товара.
              p.p  
                | 1.3. Предоставляя свои персональные данные продавцу, посетитель сайта (покупатель) соглашается на их 
                | обработку продавцом, в том числе в целях выполнения продавцом обязательств перед посетителем сайта 
                | (покупателем) в рамках настоящей публичной оферты, продвижения продавцом товаров и услуг, клиентской 
                | поддержки, организации доставки товара покупателям, контроля удовлетворенности посетителя сайта 
                | покупателя), а также качества услуг, оказываемых продавцом.
              p.p
                | 1.4. Под обработкой персональных данных, понимается любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с 
                | персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение) извлечение, использование, передачу (в том числе передачу третьим лицам), обезличивание, 
                | блокирование, удаление, уничтожение персональных данных. Подробнее о порядке осуществления прав 
                | предусмотренных ФЗ № 152 «О персональных данных» здесь.
              p.p
                | 1.4.1. Продавец имеет право отправлять информационные, в том числе рекламные сообщения, на электронную 
                | почту и мобильный телефон пользователя (покупателя) с его согласия, выраженного посредством совершения им действий, однозначно идентифицирующих этого абонента и позволяющих достоверно установить его 
                | волеизъявление на получение сообщения. Пользователь (покупатель) вправе отказаться от получения рекламной и другой информации без объяснения причин отказа путем информирования продавца о своем отказе по 
                | телефону 8 (495) 139-80-79 либо посредством направления соответствующего заявления на электронный адрес продавца: <span class="span-red">pro</span>kolgotki@mail.ru Сервисные сообщения, информирующие gользователя (покупателя) о заказе и 
                | этапах его обработки, отправляются автоматически и не могут быть отклонены пользователем (покупателем).
              p.p
                | 1.4.2 Отзыв согласия на обработку персональных данных осуществляется путем отзыва акцепта настоящей 
                | публичной оферты.
              p.p
                |1.5. Продавец не несет ответственности за сведения, предоставленные пользователем (покупателем) на сайте в общедоступной форме.
              p.p
                | 1.6. Продавец вправе осуществлять записи телефонных разговоров с пользователем (покупателем). При этом 
                | продавец обязуется: предотвращать попытки несанкционированного доступа к информации, полученной в ходе телефонных переговоров, (передачу ее третьим лицам), не имеющим непосредственного отношения к 
                | исполнению заказов, в соответствии с п. 4 ст. 16 Федерального закона «Об информации, информационных 
                | технологиях и о защите информации».
