extends ../templates/template.pug
block content
  +breadcrumb('о компании')

  .page.page-text
    .container
      .row
        .col-lg-3
          .menu-left__wrap
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link О компании
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Производители и бренды
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Консультирование
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Доставка
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Оплата
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Работа с заказами
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Гарантии
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Правила продажи
            .menu-left__item.active
              a(href="javascript:void(0);").menu-left__link Разрешение проблем


        .col-lg-9
          .content-right__wrap
            h1.h1 Разрешение проблем
            .decs
              p.p
                | В случаях, если вы столкнулись с какими-нибудь проблемами, связанными с работой нашей компании, качеством 
                | обслуживания или товаром (приобретенным у нас), компания «<span class="span-red">Про</span>Колготки» может предложить возможное их 
                | решение. При разрешении проблем мы руководствуемся Российским законодательством и здравым смыслом. 
              p.p  
                | Для начала, сообщите нам о своей проблеме в рабочее время нашей компании с ПН по ПТ с 8:00 до 17:00, 
                | в СБ с 8:00 до 16:00 по тел. +7 (495) 139-80-79 (многоканальный раб. телефон) или по тел. +7 (495) 790-60-52 
                | (управляющий менеджер). Или напишите нам на: prokolgotki@mail.ru и оставьте там свой контактный телефон и 
                | мы сами вам перезвоним. Компания «<span class="span-red">Про</span>Колготки» постарается вам помочь, в следующих случаях:
              ul.ul-text  
                li.li
                  p.p если у вас возникли вопросы по выбору товара;
                li.li
                  p.p если у вас возникли проблемы при работе с нашим web-сайтом;
                li.li
                  p.p если у вас возникли вопросы или проблемы при оплате товара;
                li.li
                  p.p
                    | если у вас возникло желание обмена товара (ранее приобретенного у нас) или его возврата. Например: вы 
                    | ошиблись с размером, вам не понравился цвет, вы усомнились в нужности товара или его качестве, или по 
                    | любым другим причинам.
              p.p  
                | Обращаем внимание всех покупателей, что компания «<span class="span-red">Про</span>Колготки» не является производителем товаров, 
                | которые мы предлагаем. Как продавцы, мы несем ответственность за качество продукции и готовы принять 
                | возврат или произвести обмен в случаях, если вы приобрели товар не надлежащего качества. Но мы, не можем 
                | регулировать само качество продукции (это ответственность производителя товара). Мы всего лишь, стараемся 
                | выбирать товары и производителей, которые обеспечивают его качество. Выявление возможно брака товара, 
                | для возможного возврата или обмена, необходимо сделать до момента начала ношения. Мы рекомендуем перед 
                | первым одеванием, внимательно осмотреть товар. Если, вы выявили возможный брак, сообщите нам об этом. Мы 
                | примем ваши претензии и при их состоятельности, обменяем товар или вернем денежные средства. Если 
                | возможный брак обнаружен после начала ношения, то с большей вероятностью мы уже не сможем вам помочь. 
                | Руководствуясь, постановлением Правительства РФ от 19 января 1998 г. N 55, данные товары входят в перечень 
                | товаров, не подлежащих обмену или возврату. Подробно мы описываем возврат или обмен и нашу 
                | ответственность в публичной оферте (положение 7).
              p.p  
                | Обращаем внимание всех покупателей, что компания «<span class="span-red">Про</span>Колготки», осуществляет доставку заказов при 
                | привлечении других компаний - служб доставки и транспортных компаний (курьерская служба «Алгоритм» для города Москва и её партнера в Санкт-Петербурге, «Почта России», «Boxberry», «СДЭК», «Деловые линии», 
                | «ПЭК»). Любые жалобы на работу, связанную с доставкой ваших заказов (например: грубость или 
                | неуважительность курьера, неудобство возможных интервалов времени доставки и.т.д.), мы переадресуем этим компаниям. Просим вашего понимания, для не отождествления качества работы компании «<span class="span-red">Про</span>Колготки» с 
                | качеством работы служб доставки.
              p.p  
                | Если у вас появились замечания или предложения, как сделать работу нашей компании лучше или жалобы на работу сотрудников компании, обратитесь к управляющему менеджеру по тел. +7 (495) 790-60-52 или пишите на: sergey-prok@mail.ru.
              p.p  
                .span-br Спасибо за понимание.
                | Торговая компания «<span class="span-red">Про</span>Колготки»
