extends ../templates/template.pug
block content
  +breadcrumb('ALLA BUONE 1000 STRING')

  .page-product
    section.section
      .container
        .product-list__item
          .row
            .col-lg-8
              .product-info__wrap
                .product-info__block.product-brand
                  .product-info__title тип товара | бренд | модель:
                  .product-info__subtitle женское белье <span class='product-info__desc'>ALLA BUONE 1000 STRING</span>
                .product-view__wrap.d-block.d-lg-none
                  .product-slider__block
                    .slider__wrap
                      .product-item__slider
                        - for(var i=0; i<6; i++)
                          .product-item__slider-wrap
                            a.product-item__slider-item(href='https://prokolgotki.ru/upload/img/products/innamore_bella_8_1.jpg')
                              img(src='img/product-img-big.png' alt='', title='').product-item__slider-img
                      .slider__wrap-item-nav
                        .container-arrows
                        .product-item__slider-nav
                          - for(var j=0; j<6; j++)
                            .product-item__slider-nav--item-wrap
                              .product-item__slider-nav--item
                                img(src='img/product-img-big.png' alt='', title='').product-item__slider-img
  

                .product-info__block
                  .product-info__title описание:
                  .product-info__desc
                    | 1000 STRING - женские трусики стринг серии “PIZZO”, с низкой посадкой. Выполненные из кружева в верхней части.
                    | Изделия из кружевного полиамида (нейлона) отличает высокая практичность и отличная сохранность внешнего вида.
                    | Отлично сохраняют форму и повышают комфортность ношения благодаря добавлению эластана. Изделия серии
                    | “PIZZO” отличают отделка кружевами или вставками из них.
                .product-info__block
                  .product-info__title состав:
                  .product-info__desc
                    | 65% полиамид, 30% хлопок, 5% эластан
                .product-info__block
                  .product-info__title технологии и особенности:
                  .product-info__desc ALLA BUONE® Luce del Sole S.r.L. - Италия. Произведено в Китае.
                .product-info__block
                  .product-info__title размерный ряд:
                  .product-info__desc 2(S), 3(M), 4(L), 5(XL) 
                .product-info__block.product-color
                  .product-info__title цветовая гамма:
                  .product-colors__wrap
                    +product-color('#FFFFFF', 'BIANCO')
                    +product-color('#181818', 'NERO')
                    +product-color('#DDB383', 'NUDO')
                .product-info__block.product-link
                  .product-info__title гид по выбору размера:
                  .product-info__desc
                    a(href="javascript:void(0);").button-text Как правильно выбрать размер нижнего белья ALLA BUONE (данные производителя). 
                .product-info__block
                  .product-info__title фабричная упаковка:
                  .product-info__desc 1 шт., блок: 0 шт.
                .product-info__block
                  .product-info__title бренд | компания | страна производитель:
                  .product-info__desc Luce del Sole S.r.i.  - Италия. Произведено в Китае.  
                .product-info__block
                  .product-info__title наш комментарий о INNAMORE EMOTION RETE VISION 40 autoreggente :
                  .product-info__desc самая популярная модель бренда с хорошим балансом стоимости и потребительских качеств
  
            .col-lg-3.offset-lg-1
              .product-view__wrap
                .product-slider__block.d-none.d-lg-block
                  .slider__wrap
                    .product-item__slider
                      - for(var i=0; i<6; i++)
                        .product-item__slider-wrap
                          a.product-item__slider-item(href='https://prokolgotki.ru/upload/img/products/innamore_bella_8_1.jpg')
                            img(src='img/product-img-big.png' alt='', title='').product-item__slider-img
                    .slider__wrap-item-nav
                      .container-arrows
                      .product-item__slider-nav
                        - for(var i=0; i<6; i++)
                          .product-item__slider-nav--item-wrap
                            .product-item__slider-nav--item
                              img(src='img/product-img-big.png' alt='', title='').product-item__slider-img
                  
                
                +product-price
  
                .product-info__block.product-rating
                  .product-info__title наш рейтинг модели
                  .product-rating__wrap
                    .product-rating__value 3.33
                    .product-rating__stars-wrap
                      +feedback-rating('внешний вид')
                      +feedback-rating('конструкция')
                      +feedback-rating('конструкция')
  
                  a(href="javascript:void(0);").button-text.d-none.d-lg-inline о рейтинге модели ...
                            

          
    section.section.section-feedback-detail
      .container
        .feedback-head__wrap
          .feedback-head__title отзывы покупателей о INNNAMORE EMOTION RETE VISION 40 autoreggente 
          .feedback-rating__block
            .feedback-rating__text средняя оценка (по пятибальной системе):
            .feedback-rating__wrap
              .feedback-rating__empty
              .feedback-rating__full(style='width: 80%;')
            .product-rating__value 3.00
          .feedback-rating__text на данный момент оценок и отзывов (1)  
          +button-green('оставить свой отзыв') 
        .feedback-detail__wrap
          .feedback-detail__item
            .row
              .col-lg-9
                .feedback-detail__title Ломакина Светлана
                +feedback-rating('средняя модель')
                +text-block({
                  title: 'Достоинства:',
                  desc: 'На “каждый день” - нормальная цена в пересчете на качество. Не сильно дорого (цена приемлемая) и носимость \n' +
                  '(практичность) меня устраивает. Колготки - нормальные, но не более, того..., при условии, что от этой цены, \n' +
                  'конечно-же ничего особенного - не ждёшь'
                })
                +text-block({
                  title: 'Недостатки:',
                  desc: 'Иногда (не всегда) отдельные пары могут иметь небольшие затяжки, не смотря, на то, что всё упаковано по \n' +
                  'заводскому, не открытое... На носимость, это не влияет, но не много не приятно..., еще не одел, а какие-то мелкие \n' +
                  'изъяны уже есть...'
                })
                +text-block({
                  title: 'Комментарий:',
                  desc: 'Беру модель Innamore Bella 40 давно и сразу на 2-3 месяца вперед. Во-первых, чтоб голова не болела (где искать если \n' +
                  'что..., дома всегда запас). И во-вторых, так дешевле. Качество устраивает, размеры соответствуют, выбор по цвету - \n' +
                  'много... На мой 52-54 и рост 165, идет размер: 5-XL. И что меня устраивает, что никаких "двух швов" сзади - нет \n' +
                  '(как у некоторых). В итоге: нормальные колготки - повседневки!'
                })
                .feedback-detail__date 30.07.2018
          .feedback-reply__wrap 
            .row
              .col-lg-9
                .feedback-reply__item
                  +text-block({
                    title: 'Ответ от компании ПроКолготки:',
                    desc: 'Светлана, спасибо за отзыв! Все правильно Вы сформулировали PHILIPPE MATIGNON - доступные колготки более \n' +
                    'высокого класса! Что касается носочка (мыска), модель ORO 20 - это элегантные колготки, конструкция которых \n' +
                    'обязательно предполагает прозрачный (не укрепленный мысок). По своей сути марка PHILIPPE MATIGNON - класс \n' +
                    'премиум, и колготки в этом классе предлагаются только элегантные (всегда однородные-без шортиков, всегда с \n' +
                    'плоским швами, всегда с гигиенической ластовицей, всегда с широким поясом-резинкой, и всегда с прозрачным \n' +
                    'мыском).'
                  })
            +feedback-reply-arrow
            

    
    section.section
      .container
        h2.main-title Аналогичные товары
        .slider__wrap.slider-products__wrap
          .product-items__wrap.slider-products
            - for(var i=0; i<4; i++)
                +product-item-analog
        .buttons__wrap
          a(href="javascript:void(0);").button-text.d-none.d-lg-block показать все аналогичные товары
        
