extends ../templates/template.pug
block content
  +breadcrumb('публичная оферта')

  .page.page-public
    .container
      .row
        .col-lg-3
          .menu-left__wrap
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link О компании
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Новости
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Информация
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Обзоры
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Производители и бренды
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Прайс лист и бланк заказа
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Система скидок
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Отзывы о компании
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Политика конфиденциальности
            .menu-left__item.active
              a(href="javascript:void(0);").menu-left__link Публичная оферта


        .col-lg-9
          .content-right__wrap
            h1.h1 Публичная оферта
            h3.h3 Основные понятия:
            .desc
              p.p 
                | Посетитель сайта - лицо, пришедшее на сайт <a href="#">http://www.<span class="span-red">pro</span>kolgotki.ru</a> без цели размещения заказа.
              p.p  
                | Пользователь - физическое лицо, посетитель сайта, принимающий условия настоящего соглашения и желающий разместить заказы в интернет-магазине: <a href="#">www.<span class="span-red">pro</span>kolgotki.ru</a>
              p.p  
                | Покупатель - пользователь, разместивший заказ в интернет-магазине <a href="#">www.<span class="span-red">pro</span>kolgotki.ru</a>
              p.p  
                | Продавец - ИП Гарцуева О.А.
              p.p  
                | ОГРН 306770000498088,
              p.p  
                | ИНН 772457693908,
              p.p  
                | место нахождения: 115446, г. Москва, Коломенский проезд, д. 13А.
              p.p  
                | Интернет-магазин - интернет-сайт, принадлежащий продавцу, расположенный в сети интернет по адресу 
                | <a href="#">http://www.<span class="span-red">pro</span>kolgotki.ru</a>, где представлены товары, предлагаемые продавцом для приобретения, а также условия оплаты и доставки товаров покупателям.
              p.p  
                | Сайт - <a href="#">http://www.<span class="span-red">pro</span>kolgotki.ru</a>.
              p.p  
                | Товар - чулочно-носочные продукты, нижние бельё, элементы одежды, аксессуары и иные товары, 
                | представленные к продаже на сайте продавца.
              p.p  
                | Заказ - должным образом оформленный запрос покупателя на приобретение и доставку по указанному 
                | покупателем адресу или посредством самовывоза товаров, выбранных на сайте.
            
            h3.h3 Общие положения.
            .desc
              p.p
                | 1.1. Продавец осуществляет продажу товаров через интернет-магазин по адресу <a href="#">http://www.<span class="span-red">pro</span>kolgotki.ru</a>.
              p.p  
                | 1.2. Заказывая товары через интернет-магазин, пользователь соглашается с условиями продажи товаров, 
                | изложенными ниже (далее - условия продажи товаров). В случае несогласия с настоящим пользовательским 
                | соглашением (далее - соглашение или публичная оферта) пользователь может покинуть сайт 
                | <a href="#">http://www.<span class="span-red">pro</span>kolgotki.ru</a>.
              p.p  
                | 1.3. Настоящие условия продажи товаров, а также информация о товаре, представленная на сайте, являются 
                | публичной офертой в соответствии со ст. 435 и п. 2 ст. 437 Гражданского кодекса Российской Федерации.
              p.p  
                | 1.4. Соглашение может быть изменено продавцом в одностороннем порядке без уведомления пользователя 
                | (покупателя). Новая редакция соглашения вступает в силу по истечении 10 (десяти) календарных дней с момента 
                | ее опубликования на сайте, если иное не предусмотрено условиями настоящего соглашения.
              p.p  
                | 1.5. Публичная оферта признается акцептованной посетителем сайта или покупателем с момента регистрации 
                | посетителя на сайте, оформления покупателем заказа без авторизации на сайте, а также с момента принятия от 
                | покупателя заказа по телефону <a href="tel:+74951398079"> +7 (495) 139-80-79</a>. Договор розничной купли-продажи считается заключенным с 
                | момента выдачи продавцом покупателю кассового или товарного чека либо иного документа, подтверждающего 
                | оплату товара. Сообщая продавцу свой e-mail или номер телефона, посетитель сайта (пользователь или 
                | покупатель) дает согласие на использование указанных контактных данных продавцом, а также третьими лицами, 
                | привлекаемыми продавцом для целей выполнения обязательств перед посетителями сайта (пользователями или 
                | покупателями). Также в целях осуществления рассылок рекламного и информационного характера, содержащих 
                | информацию о скидках, предстоящих и действующих акциях и других мероприятиях продавца, о передаче заказа 
                | в доставку, а также иную информацию, непосредственно связанную с выполнением обязательств покупателем в 
                | рамках настоящей публичной оферты.
              p.p  
                | 1.6. Вы подтверждаете своё согласие с положениями настоящего соглашения нажатием кнопки «принять 
                | пользовательское соглашение» при нажатии кнопки оформления заказа на сайте.
            
            h3.h3 2. Предмет соглашения.
            .desc
              p.p
                | 2.1. Предметом настоящего соглашения является предоставление возможности пользователю приобретать 
                | товары, представленные в каталоге интернет-магазина по адресу <a href="#">http://www.<span class="span-red">pro</span>kolgotki.ru</a>.
              p.p  
                | 2.2. Данное соглашение распространяется на все виды товаров и услуг, представленных на сайте, пока такие 
                | предложения с описанием присутствуют в каталоге интернет-магазина.
            
            h3.h3 3. Регистрация на сайте.
            .desc
              p.p
                | 3.1. Регистрация на сайте осуществляется с помощью всплывающего окна «регистрация».
              p.p
                | 3.2. Регистрация на сайте не является обязательной для оформления заказа.
              p.p  
                | 3.3. Продавец не несет ответственности за точность и правильность информации, предоставляемой 
                | пользователем при регистрации.
              p.p  
                | 3.4. Пользователь обязуется не сообщать третьим лицам логин и пароль, указанные пользователем при 
                | регистрации. В случае возникновения у пользователя подозрений относительно безопасности его логина и 
                | пароля или возможности их несанкционированного использования третьими лицами, пользователь обязуется 
                | незамедлительно уведомить об этом продавца, направив соответствующее электронное письмо по адресу: 
                | <a href="mailto:prokolgotki@mail.ru">prokolgotki@mail.ru</a>.
              p.p  
                | 3.5. Общение Пользователя (покупателя) с менеджерами и иными представителями продавца должно строиться 
                | на принципах общепринятой морали и коммуникационного этикета. Запрещено использование нецензурных слов, 
                | брани, оскорбительных выражений, а также угроз и шантажа, в независимости от того, в каком виде и кому они 
                | были адресованы.
              p.p  
                | 3.6. При регистрации пользователя на сайте ему в обязательном порядке открывается личный кабинет, в 
                | котором отображаются все заказы с указанием их состояния (оплата / отмена / исполнение / и т.д.). 
                | Подтверждение факта размещения заказа на указанный пользователем номер мобильного телефона и адрес 
                | электронной почты является дополнительным.
              p.p  
                | 3.7. В случае возникновения технической ошибки на сайте в момент совершения операции, неотражения в 
                | личном кабинете пользователя факта успешного завершения и оплаты заказа, неполучения пользователем 
                | SMS-уведомления и/или письма, отправленного на адрес электронной почты, пользователь должен связаться с 
                | продавцом для получения подтверждения об оплате услуги в течение 1 (одних) суток с момента оплаты.
              p.p  
                | 3.8. В случае подтверждения факта технического сбоя, а также неполучения продавцом подтверждения о 
                | доставке пользователью SMS-уведомления и/или письма, отправленного на адрес электронной почты, услуги 
                | будут считаться неподтвержденными и денежные средства будут возвращены на карту, с которой производилась 
                | оплата.
            
            h3.h3 4. Товар и порядок совершения покупки.
            .desc
              p.p
                | 4.1. Продавец старается обеспечивает наличие на своем складе товаров, представленных на сайте. 
                | Сопровождающие товар фотографии являются простыми иллюстрациями к нему и могут отличаться от 
                | фактического внешнего вида товара. Сопровождающие товар описания или характеристики не претендуют на 
                | исчерпывающую информативность и могут содержать опечатки. Для уточнения информации по товару 
                | покупатель должен обратиться в службу поддержки клиентов.
              p.p  
                | 4.2. В случае отсутствия заказанных покупателем товаров на складе продавца, последний вправе исключить 
                | указанный товар из заказа (аннулировать) заказ покупателя, уведомив об этом покупателя путем направления 
                | соответствующего электронного сообщения по адресу, указанному покупателем при регистрации (либо звонком 
                | менеджера продаж).
              p.p  
                | 4.3. В случае аннуляции полностью либо частично предоплаченного Заказа стоимость аннулированного товара 
                | возвращается продавцом покупателю способом, которым товар был оплачен.
              p.p  
                | 4.4. Заказ покупателя оформляется в соответствии с процедурами, указанными на сайте в разделе 
                | «оформление заказа» по адресу <a href="#">http://<span class="span-red">pro</span>kolgotki.ru/about/services#t_offer</a>.
              p.p  
                | 4.5. Покупатель несет полную ответственность за предоставление неверных сведений, повлекшее за собой 
                | невозможность надлежащего исполнения продавцом своих обязательств перед покупателем.
              p.p  
                | 4.6. После оформления заказа на сайте, покупателю предоставляется информация о предполагаемой дате 
                | доставки путем направления электронного сообщения по адресу, указанному покупателем при регистрации, или 
                | по телефону. Менеджер, обслуживающий данный заказ, может уточнять детали заказа, согласовывать дату 
                | доставки, которая зависит от наличия заказанных товаров на складе продавца и времени, необходимого для 
                | обработки и доставки заказа.
              p.p  
                | 4.7. В случае, если срок исполнения заказа не указан при оформлении заказа, по умолчанию принимается срок 
                | 30 (тридцать) календарных дней.
              p.p  
                | 4.8. Ожидаемая дата передачи заказа в службу доставки сообщается покупателю менеджером, обслуживающим 
                | заказ, по электронной почте или звонком покупателю.
              p.p  
                | 4.9. Пользователь имеет право изменить состав заказа до передачи его в службу доставки путём уведомления об 
                | этом продавца по телефону.
              p.p  
                | 4.10. Покупатель вправе в любой момент времени отказаться от заказа до момента его передачи в службу 
                | доставки.
  
            h3.h3 5. Доставка заказа.
            .desc
              p.p
                | 5.1. Способы, а также примерные сроки доставки товаров указаны на сайте в разделе «доставка». 
                | Конкретные сроки доставки могут быть согласованы покупателем с менеджером при подтверждении заказа.
              p.p
                | 5.2. Срок доставки зависит от местонахождения покупателя и составляет от 1 до 30 дней.
              p.p
                | 5.3. Территория доставки товаров, представленных на сайте, ограничена пределами Российской Федерации.
              p.p
                | 5.4. Задержки в доставке возможны ввиду непредвиденных обстоятельств, произошедших не по вине продавца.
              p.p
                | 5.5. При доставке заказ вручается покупателю либо третьему лицу, указанному в заказе качестве получателя 
                | (далее покупатель и третье лицо именуются «получатель»). При невозможности получения заказа, оплаченного 
                | посредством наличного расчета, указанными выше лицами, заказ может быть вручен лицу, который может 
                | предоставить сведения о заказе (номер отправления или ФИО получателя), а также оплатить стоимость заказа в 
                | полном объеме лицу, осуществляющему доставку заказа.
              p.p
                | 5.6. Во избежание случаев мошенничества, а также для выполнения взятых на себя обязательств, указанных в 
                | пункте 5 настоящего соглашения, при вручении предоплаченного заказа лицо, осуществляющее доставку заказа, 
                | вправе затребовать документ, удостоверяющий личность получателя, а также указать тип и номер 
                | предоставленного получателем документа на квитанции к заказу. Продавец гарантирует конфиденциальность и 
                | защиту персональных данных получателя (п.9.3.).
              p.p
                | 5.7. Риск случайной гибели или случайного повреждения товара переходит к покупателю с момента передачи ему 
                | заказа и проставления получателем заказа подписи в документах, подтверждающих доставку заказа. В случае 
                | недоставки заказа продавец возмещает покупателю стоимость предоплаченного покупателем заказа и доставки 
                | в полном объеме после получения от службы доставки подтверждения утраты заказа.
              p.p
                | 5.8. Стоимость доставки каждого заказа рассчитывается согласно принятому тарифу, опубликованному на 
                | странице: <a href="#">http://<span class="span-red">pro</span>kolgotki.ru/about/services#t_delivery</a>, а также указывается при оформлении заказа.
              p.p
                | 5.9. Обязанность продавца передать товар покупателю считается исполненной в момент вручения курьером 
                | товара получателю. При получении заказа в отделении почтовой связи получатель после оплаты доставленного 
                | товара обязан осмотреть доставленный товар и произвести его вскрытие в присутствии работников почты России 
                | для проверки товара на соответствие заявленному количеству, ассортименту и комплектности товара. В случае 
                | наличия претензий к доставленному товару (недовложение, вложение товара отличного от указанного в описи 
                | отправления, производственный брак, иные претензии) по указанию получателя работниками почты России 
                | составляется акт о выявленных несоответствиях. Если получателем не были заявлены претензии в 
                | вышеуказанном порядке, то продавец считается полностью и надлежащим образом исполнившим свою 
                | обязанность по передаче товара.
              p.p
                | 5.10. При принятии заказа от курьера, получатель обязан осмотреть доставленный товар и проверить его на 
                | соответствие заявленному количеству, ассортименту и комплектности товара и целостность упаковки. В случае 
                | отсутствия претензий к доставленному товару получатель расписывается в «бланке доставки заказов» и 
                | оплачивает заказ (в отсутствие 100%-ной предоплаты). Подпись в доставочных документах свидетельствует о 
                | том, что претензий к товару получателем не заявлено и продавец полностью и надлежащим образом выполнил 
                | свою обязанность по передаче товара.
              p.p
                | 5.11. Время нахождения курьера по адресу получателя ограничено 15 минутами.
              p.p
                | 5.12. Уточнить дату, время и при необходимости маршрут доставки, можно у менеджера, который связывается 
                | с покупателем для подтверждения заказа.
              p.p
                | 5.13. Пользователь понимает и соглашается с тем, что: осуществление доставки - отдельная услуга, не 
                | являющаяся неотъемлемой частью приобретаемого покупателем товара, выполнение которой заканчивается в 
                | момент получения получателем товара и осуществления платежа за него. Претензии к качеству приобретенного 
                | товара, возникшие после получения и оплаты товара, рассматриваются в соответствии с законом РФ «О защите 
                | прав потребителей» и гарантийными обязательствами продавца. В связи с этим, приобретение товара с 
                | доставкой не дает покупателю право требования доставки приобретенного товара в целях гарантийного 
                | обслуживания или замены, не дает возможности осуществлять гарантийное обслуживание или замену товара 
                | посредством выезда к покупателю и не подразумевает возможность возврата стоимости доставки товара в 
                | случаях, когда покупатель имеет право на возврат денег за товар как таковой, в соответствии с законом РФ «О 
                | защите прав потребителей».
  
            h3.h3 6. Оплата товара.
            .desc
              p.p
                | 6.1. Цена товара указывается в рублях Российской Федерации и включает в себя налог на добавленную 
                | стоимость.
              p.p 
                | 6.2. Цена товара указывается на сайте. В случае неверного указания цены заказанного покупателем товара, 
                | продавец обязан информировать об этом покупателя для подтверждения заказа по исправленной цене либо 
                | аннулирование заказа. При невозможности связаться с покупателем данный заказ считается аннулированным. 
                | Если заказ был оплачен, продавец возвращает покупателю оплаченную за заказ сумму тем же способом, 
                | которым она была уплачена.
              p.p 
                | 6.3. Цена товара на сайте может быть изменена продавцом в одностороннем порядке. При этом цена на 
                | заказанный покупателем товар изменению не подлежит, если не будет признана продавцом неверной.
              p.p 
                | 6.4. Особенности оплаты товара с использованием платежных карт:
              p.p 
                | 6.4.1. В соответствии, с положением ЦБ РФ «Об эмиссии платежных карт и об операциях, совершаемых с их 
                | использованием» от 24.12.2004 № 266-П операции по платежным картам совершаются держателем карты либо 
                | уполномоченным им лицом.
              p.p 
                | 6.4.2. Авторизация операций по платежным картам осуществляется банком. Если у банка есть основания 
                | полагать, что операция носит мошеннический характер, то банк вправе отказать в осуществлении операции. 
                | Мошеннические операции с использованием платежных карт попадают под действие статьи 159 УК РФ.
              p.p 
                | 6.4.3. Во избежание случаев различного рода неправомерного использования платежных карт при оплате все 
                | заказы, оформленные на сайте и предоплаченные с использованием платежной карты, проверяются продавцом. 
                | В случае возникновения сомнений в правомерности использования платежной карты для оплаты заказа с 
                | верификацией Держателя карты по подписи, продавец вправе потребовать от покупателя предъявить документ, 
                | удостоверяющий личность.
              p.p 
                | 6.5. При оплате заказа платежной картой ввод реквизитов карты происходит в системе электронных платежей 
                | ПАО АКБ  «Авангард» (далее – Банк), который прошел сертификацию в платежных системах Visa Inc. и 
                | MasterCard Worldwide на совершение операций с аутентификацией 3-D Secure. Представленные данные 
                | полностью защищены в рамках стандарта безопасности данных индустрии платежных карт (Payment Card 
                | Industry Data Security Standard) и никто, включая продавца (торговую компанию "Про-Колготки") не может их 
                | получить.
              p.p 
                | 6.6. Товар считается оплаченным с момента успешного завершения операции по платежной карте или 
                | поступления денежных средств на счет продавца при безналичном способе оплаты.
              p.p 
                | 6.7. Факт оплаты товара подтверждается направлением пользователю электронного письма или 
                | соответствующей информацией в личном кабинете. В случае неполучения пользователем письма, отправленного 
                | на адрес электронной почты/отсутствия информации в личном кабинете пользоватеель должен связаться с 
                | продавцом для получения подтверждения об оплате товара в течение 1 (одних) суток с момента оплаты.
              p.p 
                | 6.8. При получении продавцом подтверждения о недоставке пользователю письма, отправленного на адрес 
                | электронной почты, или при отсутствии информации об оплаченном товаре в личном кабинете, товары будут 
                | считаться неподтвержденными и денежные средства будут возвращены на карту, с которой производилась 
                | оплата.
              p.p 
                | 6.9. В случае отсутствия на складе продавца заказанного пользователем товара, оплаченного по платежной 
                | карте либо безналичным расчетом, а также при соответствующем изменении заказа пользователем до передачи 
                | его в службу доставки, возврат денежных средств осуществляется на карту или счет, с которых проводилась 
                | оплата.
  
            h3.h3 7. Возврат и обмен товара.
            .desc
              p.p
                | 7.1. Возврат и обмен товара осуществляется в соответствии с законодательством РФ.
              p.p 
                | 7.2. В течение 14 (четырнадцати) календарных дней с момента получения товара покупатель вправе обменять 
                | товар надлежащего качества на аналогичный товар, если указанный товар не подошел по форме, габаритам, 
                | фасону, расцветке, размеру или комплектации, только при условии сохраненного товарного вида и 
                | неповрежденной упаковки.
              p.p 
                | 7.3. Покупатель компенсирует продавцу необходимые транспортные расходы, понесенные в связи с организацией 
                | обмена или возврата товара.
              p.p 
                | 7.4. В соответствии с п. 4. ст. 26.1. Закона РФ № 2300-I «О Защите прав потребителей» покупатель вправе 
                | отказаться от заказанного товара в любое время до момента исполнения заказа.
              p.p 
                | 7.5. Возврат товара осуществляется в соответствии с «условиями возврата», указанными на сайте по адресу 
                | <a href="#">http://<span class="span-red">pro</span>kolgotki.ru/about/services#t_back</a>.
              p.p 
                | 7.6. Возврат товара надлежащего качества.
              p.p 
                | 7.6.1. Покупатель вправе отказаться от заказанного товара в любое время до его получения, а после получения 
                | товара -  в течение 365 дней, не считая дня покупки, за исключением товаров, указанных в п. 7.2.4. настоящего 
                | соглашения. Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, 
                | потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара.
              p.p 
                | 7.6.2. При отказе покупателя от товара согласно п.7.2.1. продавец возвращает ему стоимость возвращенного 
                | товара, за исключением расходов продавца, связанных с доставкой возвращенного покупателем товара, в 
                | течение 10 дней с даты поступления возвращенного товара на склад продавца вместе с заполненным 
                | покупателем заявлением на возврат.
              p.p 
                | 7.6.3. Если на момент обращения покупателя аналогичный товар отсутствует в продаже у продавца, покупатель 
                | вправе отказаться от исполнения настоящего соглашения и потребовать возврата уплаченной за указанный 
                | товар денежной суммы. Продавец обязан вернуть уплаченную за возвращенный товар денежную сумму в 
                | течение 3 дней со дня возврата товара.
              p.p 
                | 7.6.4. Не подлежат возврату: текстильные товары и трикотажные изделия. Нормальное использование которых, 
                | не предусматривает наличие другой одежды между ними и телом. Включая купальники, белье, 
                | чулочно-носочные изделия (в соответствии с перечнем непродовольственных товаров надлежащего качества, 
                | не подлежащих возврату или обмену на аналогичный товар других размера, формы, габарита, фасона, расцветки 
                | или комплектации, утвержденного постановлением Правительства РФ от 19 января 1998 г. N 55).
              p.p 
                | 7.7. Возврат товара ненадлежащего качества:
              p.p 
                | 7.3.1. Под товаром ненадлежащего качества подразумевается товар, который неисправен и не может обеспечить 
                | исполнение своих функциональных качеств. Полученный товар должен соответствовать описанию на сайте. 
                | Отличие элементов дизайна или оформления от заявленного на сайте описания не является признаком 
                | ненадлежащего качества.
              p.p 
                | 7.3.2. Внешний вид и комплектность товара, а также комплектность всего заказа должны быть проверены 
                | получателем в момент доставки товара.
              p.p 
                | 7.3.3. При доставке товара покупатель ставит свою подпись в квитанции о доставке в графе: «заказ принял, 
                | комплектность полная, претензий к количеству и внешнему виду товара не имею». После получения заказа 
                | претензии к внешним дефектам товара, его количеству, комплектности и товарному виду не принимаются.
              p.p 
                | 7.3.4. Если покупателю был передан товар, ненадлежащего качества и это не было заранее оговорено 
                | продавцом, покупатель вправе воспользоваться положениями ст. 18 «Права потребителя при обнаружении в 
                | товаре недостатков» Закона о защите прав потребителей.
              p.p 
                | 7.3.5. Требования о возврате уплаченной за товар денежной суммы подлежат удовлетворению в течение 10 дней 
                | со дня предъявления соответствующего требования (ст. 22 Закона РФ «О защите прав потребителей»).
              p.p 
                | 7.4. Возврат денежных средств осуществляется посредством возврата стоимости оплаченного товара наличными, 
                | на платежную карту или почтовым переводом. Способ должен быть указан в соответствующем поле заявления 
                | на возврат товара, которое можно найти здесь.
  
            h3.h3 8. Ответственность сторон.
            .desc
              p.p
                | 8.1. Продавец не несет ответственности за ущерб, причиненный покупателю вследствие ненадлежащего 
                | использования товаров, приобретенных в интернет-магазине.
              p.p  
                | 8.2. Продавец не несет ответственности за содержание и функционирование внешних сайтов.
  
            h3.h3 9. Конфиденциальность и защита информации.
            .desc
              p.p
                | 9.1. Персональные данные пользователя (покупателя) обрабатывается в соответствии с ФЗ «О персональных 
                | данных» № 152-ФЗ.
              p.p
                | 9.2. При регистрации на сайте пользователь предоставляет следующую информацию: фамилия, имя, контактный 
                | номер телефона, адрес электронной почты, адрес доставки товара.
              p.p
                | 9.3. Предоставляя свои персональные данные продавцу, посетитель сайта (покупатель) соглашается на их 
                | обработку продавцом, в том числе в целях выполнения продавцом обязательств перед посетителем сайта 
                | (покупателем) в рамках настоящей публичной оферты, продвижения продавцом товаров и услуг, клиентской 
                | поддержки, организации доставки товара покупателям, контроля удовлетворенности посетителя сайта 
                | покупателя), а также качества услуг, оказываемых продавцом.
              p.p
                | 9.4. Под обработкой персональных данных, понимается любое действие (операция) или совокупность действий 
                | (операций), совершаемых с использованием средств автоматизации или без использования таких средств с 
                | персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, 
                | изменение) извлечение, использование, передачу (в том числе передачу третьим лицам), обезличивание, 
                | блокирование, удаление, уничтожение персональных данных. Подробнее о порядке осуществления прав 
                | предусмотренных ФЗ № 152 «О персональных данных» здесь.
              p.p
                | 9.4.1. Продавец имеет право отправлять информационные, в том числе рекламные сообщения, на электронную 
                | почту и мобильный телефон пользователя (покупателя) с его согласия, выраженного посредством совершения им 
                | действий, однозначно идентифицирующих этого абонента и позволяющих достоверно установить его 
                | волеизъявление на получение сообщения. Пользователь (покупатель) вправе отказаться от получения рекламной 
                | и другой информации без объяснения причин отказа путем информирования продавца о своем отказе по 
                | телефону 8 (495) 139-80-79 либо посредством направления соответствующего заявления на электронный адрес 
                | продавца: <a href="mailto:prokolgotki@mail.ru">prokolgotki@mail.ru</a> Сервисные сообщения, информирующие gользователя (покупателя) о заказе и 
                | этапах его обработки, отправляются автоматически и не могут быть отклонены пользователем (покупателем).
              p.p
                | 9.4.2 Отзыв согласия на обработку персональных данных осуществляется путем отзыва акцепта настоящей 
                | публичной оферты.
              p.p
                | 9.5. Продавец не несет ответственности за сведения, предоставленные пользователем (покупателем) на сайте в 
                | общедоступной форме.
              p.p
                | 9.6. Продавец вправе осуществлять записи телефонных разговоров с пользователем (покупателем). При этом 
                | продавец обязуется: предотвращать попытки несанкционированного доступа к информации, полученной в ходе 
                | телефонных переговоров, (передачу ее третьим лицам), не имеющим непосредственного отношения к 
                | исполнению заказов, в соответствии с п. 4 ст. 16 Федерального закона «Об информации, информационных 
                | технологиях и о защите информации».
  
            h3.h3 10. Срок действия публичной оферты.
            .desc
              p.p
                | 10.1 Настоящая публичная оферта вступает в силу с момента ее акцепта посетителем сайта (покупателем), и 
                | действует до момента отзыва акцепта публичной оферты.
  
            h3.h3 11. Дополнительные условия
            .desc
              p.p
                | 11.1. Продавец вправе переуступать либо каким-либо иным способом передавать свои права и обязанности, 
                | вытекающие из его отношений с покупателем, третьим лицам.
              p.p
                | 11.2. Интернет-магазин и предоставляемые сервисы могут временно частично или полностью недоступны по 
                | причине проведения профилактических или иных работ или по любым другим причинам технического характера. 
                | Техническая служба продавца имеет право периодически проводить необходимые профилактические или иные 
                | работы с предварительным уведомлением покупателей или без такового.
              p.p
                | 11.3. К отношениям между пользователем (покупателем) и продавцом применяются положения Российского 
                | законодательства.
              p.p
                | 11.4. В случае возникновения вопросов и претензий со стороны пользователя (покупателя) он должен обратиться 
                | к продавцу по телефону или иным доступным способом. Все возникающее споры стороны будут стараться решить 
                | путем переговоров, при невозможности соглашения спор будет передан на рассмотрение в судебный орган в 
                | соответствии с действующим законодательством РФ.
              p.p
                | 11.5. Признание судом недействительности какого-либо положения настоящего соглашения не влечет за собой 
                | недействительность остальных положений. 
              p.p
                | 11.6. Пользователь может обратиться по вопросам оплаты, качества, своевременности получения услуг и другим 
                | вопросам в отношении операции по карте по телефону: <a href="tel:+74951398079"> +7 (495) 139-80-79</a>, по электронной почте: 
                | <a href="mailto:prokolgotki@mail.ru">prokolgotki@mail.ru</a> или по фактическому адресу продавца.
  
            h3.h3 12. Реквизиты продавца.
            .desc
              p.p
                | Полное наименование организации в соответствии с учредительными документами: ИП Гарцуева О.А.
              p.p
                | Юридический адрес: 115408, г. Москва, Борисовские пруды ул., д. 48, корп. 2, кв. 335
              p.p
                | Фактический адрес: 115446, г. Москва, Коломенский проезд, д. 13А
              p.p
                | Идентификационный номер (ИНН): 772457693908
              p.p
                | Регистрационный номер ОГРН: 306770000498088
              p.p
                | Расчетный счет (Р/С): 40802810100030001126  в  ПАО АКБ "Авангард"
              p.p
                | БИК:  044525201
              p.p
                | Корреспондентский счет банка (К/С): 30101810000000000201
            
