extends ../templates/template.pug
block content
  +breadcrumb('регистрация ИП (индивидуальный предприниматель)')

  .page.page-registration
    .container
      .row
        .col-lg-3
          .menu-left__wrap
            .menu-left__title Выберите регистрационную форму
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Регистация покупателя 
                .span-br (физ. лицо)
            .menu-left__item.active
              a(href="javascript:void(0);").menu-left__link Регистрация ИП 
                .span-br (индивидуальный предприниматель)
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Регистация ЮР. ЛИЦА 
                .span-br (ООО, ЗАО, ОАО)


        .col-lg-9
          .content-right__wrap
            .lk-info__block
              h2.h2 Персональные и паспортные данные
              +input-block('Полное название организации ИП Фамилия Имя Отчество:', '', 'text', 'Введите ИП Фамилия Имя Отчество', true, 'input-big')
              +input-block('Адресные данные (регистрация по паспорту):', '', 'text', 'Введите адресные данные', true, 'input-big')
            .lk-info__block
              h2.h2 Контактные данные
              +input-block('Телефон', 'phone', 'tel', 'Введите телефон', true, 'input-little')
              +input-block('Е-mail: *, чтобы подтвердить ваш e-mail, перейдите по ссылке из письма', '', 'email', 'text_me@mail.ru', false, 'input-little')
            .lk-info__block.accord-wrap--js.active
              h2.h2.accord-title--js Ответственный менеджер (если есть)
              .accord-block--js
                +input-block('Фамилия Имя:', '', 'text', 'Введите фамилию и имя:', false, 'input-little')
                +input-block('Телефон менеджера:', 'phone', 'tel', 'Введите телефон', false, 'input-little')
                +input-block('Е-mail менеджера:', '', 'email', 'text_me@mail.ru', false, 'input-little')
            .lk-info__block
              h2.h2 Адрес доставки
              .lk-address__wrap
                +lk-address('Вариант 1 (основной):', 'г. Москва, Вавилова ул., д. 55, стр. 1, кв. 101')
                a(href="javascript:void(0);").button-text добавить еще вариант
            .lk-info__block
              h2.h2 Реквизиты ИП (индивидуального предпринимателя)
              +input-block('Идентификационный номер (ИНН):', '', 'text', 'Введите номер ИНН', true, 'input-little')
              +input-block('Регистрационный номер ОГРНИП:', '', 'text', 'Введите номер ОГРНИП', true, 'input-little')
              +input-block('Дата выдачи ОГРНИП:', 'datepicker-input', 'text', '', true, 'input-little')
            .lk-info__block.accord-wrap--js.active
              h2.h2.accord-title--js Банковские реквизиты (если есть)
              .accord-block--js
                +input-block('Расчетный счет (Р/С):', '', 'text', 'Введите номер р/с', true, 'input-little')
                +input-block('Наименование банка:', '', 'text', 'Введите наименование банка', true, 'input-little')
                +input-block('БИК:', '', 'text', 'Введите БИК', true, 'input-little')
                +input-block('Корреспондентский счет банка (К/С):', '', 'text', 'Введите корреспондентский счет банка', true, 'input-little')
            +password-block('Пароль', 'input-little')
            +agreement-block
            .buttons-line__wrap
              +button-green('зарегистрироваться')
