extends ../templates/template.pug
block content
  +breadcrumb('регистрация покупателя (физ. лицо)')

  .page.page-registration
    .container
      .row
        .col-lg-3
          .menu-left__wrap
            .menu-left__title Выберите регистрационную форму
            .menu-left__item.active
              a(href="javascript:void(0);").menu-left__link Регистация покупателя 
                .span-br (физ. лицо)
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Регистрация ИП 
                .span-br (индивидуальный предприниматель)
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Регистация ЮР. ЛИЦА 
                .span-br (ООО, ЗАО, ОАО)


        .col-lg-9
          .content-right__wrap
            .lk-info__block
              h2.h2 Персональные данные
              +input-block('Фамилия', '', 'text', 'Введите фамилию', true, 'input-little')
              +input-block('Имя', '', 'text', 'Введите имя', true, 'input-little')
            .lk-info__block
              h2.h2 Контактные данные
              +input-block('Телефон', 'phone', 'tel', 'Введите телефон', true, 'input-little')
              +input-block('Е-mail: *, чтобы подтвердить ваш e-mail, перейдите по ссылке из письма', '', 'email', 'text_me@mail.ru', false, 'input-little')
            .lk-info__block
              h2.h2 Адрес доставки
              .lk-address__wrap
                +lk-address('Вариант 1 (основной):', 'г. Москва, Вавилова ул., д. 55, стр. 1, кв. 101')
                a(href="javascript:void(0);").button-text добавить еще вариант
            +password-block('Пароль', 'input-little')
            +agreement-block
            .buttons-line__wrap
              +button-green('зарегистрироваться')
