extends ../templates/template.pug
block content
  +breadcrumb('правила продажи')

  .page.page-text.page-rules
    .container
      .row
        .col-lg-3
          .menu-left__wrap
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Покупателям и партнёрам
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Личный кабинет
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Консультирование
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Работа с заказами
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Оплата
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Доставка
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Гарантии
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Стать партнёром
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Разрешение проблем
            .menu-left__item.active
              a(href="javascript:void(0);").menu-left__link Правила продажи


        .col-lg-9
          .content-right__wrap
            h1.h1 Правила продажи товаров
            .desc
              p.p 
                | 1. Продавцом является ИП Гарцуева О.А.
                | <span class="span-br">Юридический адрес: 115408, г. Москва, Борисовские пруды ул., д. 48, корп. 2, кв. 335</span>
                | <span class="span-br">Фактический адрес: 115446, г. Москва, Коломенский проезд, д. 13А</span>
                | <span class="span-br">Идентификационный номер (ИНН): 772457693908</span>
                | Регистрационный номер ОГРН: 306770000498088
              p.p
                | 2. Товары, размещенные на сайте, предназначены для личного потребления, а также для формата B2B (закупка товаров с целью дальнейшей перепродажи).
              p.p 
                | 3. Продажа товаров осуществляется в соответствии:
                | <span class="span-br">- с Законом «О защите прав потребителей»;</span>
                | <span class="span-br">- с Гражданским кодексом Российской Федерации (часть вторая) подробная информация указана в статье 497 Гражданского кодекса Российской Федерации;</span>
                | - с Постановлением Правительства Российской Федерации от 27.09.2007 № 612 «Об утверждении правил продажи товаров дистанционным способом».
              p.p 
                | 4. Возможность возврата или обмена товаров может происходить в соответствии с «перечнем непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену на аналогичный товар других размеров, формы, габарита, фасона, расцветки или комплектации», утверждённый постановлением Правительства РФ от 19.01.1998 №55.
              p.p 
                | 5. Заказ может формироваться через интернет-сайт: <a href="#">http://prokolgotki.ru/</a>, по телефону или иным способом.
              p.p 
                | 6. Потребитель может самостоятельно забрать товар (покупки) из нашего офис-склада по адресу: 115446, г. Москва, Коломенский проезд, д. 13А (в рабочее время компании) или воспользоваться услугой доставка. Подробней об услуге доставка можно ознакомиться на странице: <a href="#">http://prokolgotki.ru/about/delivery</a>
              p.p 
                | 7. Обмен или возврат товаров может происходить в нашем офисе-складе по адресу: 115446, г. Москва, Коломенский проезд, д. 13А (в рабочее время компании), при обмене и возврате посредством вызова курьерской службы, выезд курьера оплачивается Потребителем в размере 200 (двести) рублей - актуально только для Москвы в пределах МКАД, в иных случаях требуется отдельное согласование между Покупателем и Продавцом.
              p.p 
                | 8. Потребитель вправе оплатить Товар наличными деньгами или путем безналичного расчета.
              p.p 
                | 8.1. Оплата наличными осуществляется в кассу компании (при условии самовывоза) или курьеру при получении товара в момент доставки.
              p.p 
                | 8.2. Безналичная оплата может быть осуществлена путем банковского перевода на расчётный счет продавца или с использованием банковской карты (VISA или MasterCard), в соответствии с порядком, указанным на странице – способы оплаты: <a href="#">http://prokolgotki.ru/about/payment</a>
                | Расходы за перечисление денежных средств (при оплате на расчётный счёт) на счет Продавца несет Покупатель.
              p.p 
                | 9. Правила и условия эффективного и безопасного использования Товаров указаны на ярлыках, упаковках или в инструкции по эксплуатации Товара.
              p.p 
                | 10. Потребитель вправе отказаться от Товара в любое время до его передачи, а после передачи товара — в течение 14 дней. Возврат Товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного Товара. Отсутствие у Потребителя указанного документа не лишает его возможности ссылаться на другие доказательства приобретения Товара у данного продавца. Потребитель не вправе отказаться от Товара надлежащего качества, имеющего индивидуально-определенные свойства, если указанный Товар может быть использован исключительно приобретающим его Потребителем.
              p.p 
                | 10.1. При отказе Потребителя от Товара продавец должен возвратить ему сумму, уплаченную Потребителем за исключением расходов на доставку от покупателя и/или к покупателю возвращенного товара, не позднее чем через 10 дней с даты предъявления Потребителем соответствующего требования.
              p.p 
                | 10.2 Возврат Товара надлежащего качества, осуществляются на выбор Покупателя с помощью вызова курьерской службы (услуга платная) или по адресу: 115446, г. Москва, Коломенский проезд, д. 13А (в рабочее время компании), при этом транспортные расходы Покупатель несёт за свой счет.
              p.p 
                | 11. Отличие дизайна упаковки товара от опубликованных изображений на сайте не является нарушением со стороны Продавца. Продавец не несёт ответственности в случаях если производитель товара меняет дизайн упаковки (в случаях переходного периода), состав товара, место происхождения товара или иные свойства товара. Продавец обязан по требованию Покупателя предоставить сертификаты на товар.
