extends ../templates/template.pug
block content
  +breadcrumb('Выбор размера')

  .page.page-text.page-sizes
    .container
      .row
        .col-lg-3
          .menu-left__wrap
            .menu-left__title Бренды (ЧНИ):
            .menu-left__item.active
              a(href="javascript:void(0);").menu-left__link INNAMORE
            each val in ['INCANTO', 'GLAMOUR', 'GIULIA', 'MINIMI', 'CONTE', 'LEVANTE', 'SANPELLEGRINO', 'ELLEDUE', 'GOLDEN LADY', 'OMSA', 'SISI', 'FILODORO', 'PHILIPPE MATIGNON', 'ORI', 'OMERO', 'TRASPARENZE', 'VOGUE', 'OROBLU', 'FALKE', 'RELAXSAN', 'ALLA BUONE', 'GRINSTON', 'SERGIO di CALZE', 'dr. FEET']
              .menu-left__item
                a(href="javascript:void(0);").menu-left__link !{val}


        .col-lg-9
          .content-right__wrap
            h1.h1 Выбор размера в тм INNAMORE (чулочно-носочные изделия)
            .desc.mb-lg-5
              p.p
                | Современные чулочно-носочные изделия имеют эластичность (допустимую нормальную растяжимость). Размер 
                | изделий выбирается из определённых интервалов (по росту и по объёму/весу), если один из параметров больше,  то правильней выбирать размер, соответствующий большему параметру. 
              p.p
                | По мнению компании «<span class="span-red">Про</span>Колготки», производитель даёт всего лишь определённый ориентир. Таблицы выбора размера (внутри бренда) стандартны, но сами изделия всегда могут иметь разную эластичность (растяжимость). Чаще всего, изделия тонкие и изделия, содержащие большую процентную долю эластана - тянутся лучше. 
                | Изделия плотные и изделия содержащие натуральные волокна (хлопок, шерсть) - тянутся хуже. Бывает так, что 
                | один человек при выборе одной модели выбирает один размер, а при выборе другой модели этого же бренда 
                | осознано берет другой размер. В любом случае правильный выбор размера, часто становиться делом личной 
                | практики.
              p.p
                | Согласно данных производителя Incanto fashion group S.r.l. тм INNAMORE чулочно-носочные изделия имеют 
                | следующие варианты маркировок размеров:
            h4.h4 в колготках, в леггинсах, в чулках:
            .desc
              p.p
                | 1-XS размер - RUS 40-42, обхват по бедрам: 92-96 см., вес: 45-55 кг., рост: 152-158 см.;
              p.p
                | 2-S размер - RUS 44-46, обхват по бедрам: 96-100 см., вес: 55-65 кг., рост: 158-164 см.;
              p.p
                | 3-M размер - RUS 48-50, обхват по бедрам: 104-108 см., вес: 65-75 кг., рост: 164-174 см.; 
              p.p
                | 4-L размер - RUS 50-52, обхват по бедрам: 108-112 см., вес: 75-85 кг., рост: 170-180 см.; 
              p.p
                | 5-XL размер - RUS 52-54, обхват по бедрам: 112-116 см., вес: 80-90 кг., рост: 170-185 см.;
              p.p
                | 6-XXL размер - RUS 54-56, обхват по бедрам: 116-120 см., вес: 90-100 кг., рост: 170-185 см.;
            h4.h4 в колготках в сетку, в чулках:
            .desc
              p.p
                | 1/2 = S/M размер - RUS 42-46 , обхват по бедрам: 92-100 см., вес: 45-65 кг., рост: 152-164 см.;
              p.p
                | 3/4 = M/L размер - RUS 48-50, обхват по бедрам: 104-112 см., вес: 65-85 кг., рост: 164-180 см.;
            h4.h4 в гольфах, в носочках, в следках:
            .desc
              p.p
                | UNICA - свободный универсальный размер;
            a(href="javascript:void(0);").button-text Вернуться в каталог предложений торговой марки INNAMORE        
            .desc.mt-4.mt-lg-5
              p.p
                | Если у вас остались вопросы по выбору размера, мы можем проконсультировать по телефону <a href="tel:+74951398079">+7 (495) 139-80-79</a> (возможно, только в рабочее время компании «<span class="span-red">Про</span>Колготки» <span class="span-br">С ПН по ПТ с 8:00 до 17:00, в СБ с 8:00 до 16:00).</span> 
