extends ../templates/template.pug
block content
  +breadcrumb('работа с заказами')

  .page.page-text.page-working
    .container
      .row
        .col-lg-3
          .menu-left__wrap
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link О компании
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Производители и бренды
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Консультирование
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Доставка
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Оплата
            .menu-left__item.active
              a(href="javascript:void(0);").menu-left__link Работа с заказами
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Гарантии
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Правила продажи
            .menu-left__item
              a(href="javascript:void(0);").menu-left__link Разрешение проблем


        .col-lg-9
          .content-right__wrap
            h1.h1 Работа с заказами
            .desc
              p.p торговая компания "Про-Колготки" готова принимать Ваши заказы:
            .working-type__wrap
              +working-type-item({
                title: 'С оформлением на сайте www.prokolgotki.ru ',
                text: 'Такой вариант позволяет осуществлять быстрый поиск по названию модели или поиски товаров при помощи фильтров, уменьшая выбор моделей по специально разработанным критериям и ранжирам. Сервис доступен 24 часа в сутки без выходных.'
              })
              +working-type-item({
                title: 'По телефону:  +7 (495) 139-80-79',
                text: 'Заказывая товары по телефону, Вы получаете самую быструю информацию: Ваш № заказа, объём выполнения, цена, итоговая сумма и количество товаров. Заказывая по телефону, мы можем давать рекомендации по выбору. Также мы можем предложить альтернативную замену, при условии отсутствия выбранной Вами модели. Сервис доступен только в рабочее время компании. С понедельника по пятницу с 8-00 до 17-00, в субботу с 8-00 до 16-00.'
              })
              +working-type-item({
                title: 'По e-mail: prokolgotki@mail.ru или prokolgotki@gmail.com',
                text: 'Заказ в электронном виде может быть оформлен в свободной форме (обязательно правильное написание: название бренда, модели, размера, цвета и количества. Убедительная просьба при заказе в свободной форме оставлять контактную информацию заказчика и желаемое время готовности) или в нашем EXCEL бланке заказа. Лучшим вариантом будет, если Вы воспользуетесь нашим готовым бланком заказа в формате EXCEL. Так как наш "бланк заказа" даёт реальное представление о наличие товара, с цветовой гаммой и размерным рядом из нашего ассортимента, а также его цену. Вам нужно просто заполнить его, подставив нужные для Вас количества нужной модели. Чтобы скачать файл перейдите по ссылке: "бланк заказа" в верхней части любой страницы над полем "поиск по сайту". Сервис доступен 24 часа в сутки без выходных.'
              })
                
