footer.footer.d-none.d-lg-block
  .footer__bg
    .footer__wrap
      .container
        .row
          .col-lg-3
            .footer-left__wrap
              .footer-left__top
                .footer-logo__wrap
                  a(href="javascript:void(0);").footer-logo
                    img(src='img/logo.svg' alt='', title='').logo-img
              
                .footer-info__block
                  .footer-info__title телефон:
                  a(href="tel:+74951398079").footer-info__text +7 (495) 139-80-79
                    
                .footer-info__block
                  .footer-info__title адрес:
                  .footer-info__text 115446, г. Москва, 
                    .span-br  Коломенский проезд, 13А
                    
                .footer-info__block
                  .footer-info__title график работы:
                  .footer-info__text ПН - ПТ с 8:00 до 17:00
                    .span-br СБ с 8:00 до 16:00
                    .span-br ВС и Праздничные дни -
                    .span-br выходной
              
              .footer-left__bottom
                a(href="javascript:void(0);").footer-menu__link полные контактные данные

          .col-lg-3
            ul.footer-menu__list
              each val in ['о компании', 'новости', 'информация', 'обзоры', 'производители и бренды', 'прайс лист и бланк заказа', 'система скидок', 'отзывы о работе компании', 'публичная оферта']
                li.footer-menu__item
                  a(href="javascript:void(0);").footer-menu__link !{val}
          .col-lg-3
            ul.footer-menu__list
              each val in ['личный кабинет', 'консультирование', 'работа с заказами', 'оплата', 'доставка', 'гарантии', 'стать партнером', 'разрешение проблем', 'политика конфиденциальности']
                li.footer-menu__item
                  a(href="javascript:void(0);").footer-menu__link !{val}
          .col-lg-3
            ul.footer-menu__list
              each val in ['все товары', 'для женщин', 'для мужчин', 'для девочек', 'для мальчиков', 'новинки', 'наш выбор', 'акционные товары', 'распродажа']
                li.footer-menu__item
                  a(href="javascript:void(0);").footer-menu__link !{val}
    
    .footer-bottom
      .container
        .footer-bottom__text 
          | © 2021 Тексты и изображения размещённые на сайте защищены авторскими правами, их использование без согласия правообладателя запрещено.
          .span-br 1996 – 2021, Профессиональная продажа оптом и в розницу - колготки и чулки, женское и мужское нижнее бельё, носки.
        .footer-bottom__text
          | создание сайта <a href="#">It-in</a> 
            
            
            
            


.footer-mob.d-block.d-lg-none
  .container
    .footer-mob__wrap
      ul.footer-menu__list
        each val in ['о компании', 'адрес и контакты', 'система скидок и программа лояльности', 'стать партнером', 'новости', 'информация', 'обзоры', 'консультирование', 'доставка', 'оплата', 'гарантии', 'разрешение проблем', 'правила продажи', 'публичная оферта', 'отзывы о работе компании', 'полная версия сайта']
          li.footer-menu__item
            a(href="javascript:void(0);").footer-menu__link !{val}
      .footer-logo__wrap
        a(href="javascript:void(0);").footer-logo
          img(src='img/logo.svg' alt='', title='').logo-img
      .footer-info__text Коломенский проезд, 13А
          
          
          
      
