header.header.d-none.d-lg-block
  .header-float
    .header-middle__block
      .header-logo__wrap
        a(href="javascript:void(0);").header-logo
          img(src='img/logo-mini.svg' alt='', title='').logo-img
    .header-bottom__block
      .container
        .header-bottom__wrap
          nav.header-bottom-menu
            ul.header-bottom-menu__list
              li.header-bottom-menu__item
                a(href="tel:+74951398079").header-bottom-menu__link +7 (495) 139-80-79
              li.header-bottom-menu__item
                a(href="javascript:void(0);").header-bottom-menu__link адрес и контакты
              li.header-bottom-menu__item
                a(href="javascript:void(0);").header-bottom-menu__link консультирование
              li.header-bottom-menu__item
                a(href="javascript:void(0);").header-bottom-menu__link доставка
              li.header-bottom-menu__item
                a(href="javascript:void(0);").header-bottom-menu__link оплата
          .header-person__block
            a(href="javascript:void(0);").header-person.icon-heart в избранном: 0 шт.
            a(href="javascript:void(0);").header-person.icon-basket в корзине: 999 шт.
              .basket-sum.price на сумму: 999 999.99 руб.          


  .header-info__block
    .container
      .header-info Сделайте заказ до 15:00 и мы доставим Вам его на 2-й раб. день *(актуально для Санкт-Петербурга)!
  
  .header-top__block
    .container
      .header-top__wrap
        nav.header-menu
          ul.header-menu__list
            li.header-menu__item
              a(href="javascript:void(0);").header-menu__link о компании
            li.header-menu__item
              a(href="javascript:void(0);").header-menu__link новости
            li.header-menu__item
              a(href="javascript:void(0);").header-menu__link информация
            li.header-menu__item
              a(href="javascript:void(0);").header-menu__link обзоры
            li.header-menu__item
              a(href="javascript:void(0);").header-menu__link прайс и бланк
            li.header-menu__item
              a(href="javascript:void(0);").header-menu__link система скидок
            li.header-menu__item
              a(href="javascript:void(0);").header-menu__link стать партнером
            li.header-menu__item
              a(href="javascript:void(0);").header-menu__link отзывы о компании
        .header-login__wrap
          a(href="javascript:void(0);").header-login войти
        .header-login__wrap.d-none
          a(href="javascript:void(0);").header-user Константинопольский К.
            .user-status профессиональный партнер
  .header-middle__block
    .header-logo__wrap
      a(href="javascript:void(0);").header-logo
        img(src='img/logo.svg' alt='', title='').logo-img
  
  .header-bottom__block
    .container
      .header-bottom__wrap
        nav.header-bottom-menu
          ul.header-bottom-menu__list
            li.header-bottom-menu__item
              a(href="tel:+74951398079").header-bottom-menu__link +7 (495) 139-80-79
            li.header-bottom-menu__item
              a(href="javascript:void(0);").header-bottom-menu__link адрес и контакты
            li.header-bottom-menu__item
              a(href="javascript:void(0);").header-bottom-menu__link консультирование
            li.header-bottom-menu__item
              a(href="javascript:void(0);").header-bottom-menu__link доставка
            li.header-bottom-menu__item
              a(href="javascript:void(0);").header-bottom-menu__link оплата
        .header-person__block
          a(href="javascript:void(0);").header-person.icon-heart в избранном: 0 шт.
          a(href="javascript:void(0);").header-person.icon-basket в корзине: 999 шт.
            .basket-sum.price на сумму: 999 999.99 руб.
        
  .header-catalog__block
    .container
      .header-catalog__wrap
        nav.header-catalog
          ul.header-catalog__list
            li.header-catalog__item.active
              a(href="javascript:void(0);").header-catalog__link все товары
            li.header-catalog__item
              a(href="javascript:void(0);").header-catalog__link для женщин
              +menu-dropdown 
            li.header-catalog__item
              a(href="javascript:void(0);").header-catalog__link для мужчин
              .menu-dropdown
                ul.menu-dropdown__list
                  li.menu-dropdown__item
                    a(href="javascript:void(0);").menu-dropdown__link Носочные изделия
                    ul.menu-dropdown__sublist
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link Носки
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link Высокие носки (гольфы)
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link Следки
                  li.menu-dropdown__item
                    a(href="javascript:void(0);").menu-dropdown__link Одежда
                    ul.menu-dropdown__sublist
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link водолазки
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link лонгсливы
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link домашние комплекты
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link домашние брюки
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link домашние шорты
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link пижамы
                  li.menu-dropdown__item
                    a(href="javascript:void(0);").menu-dropdown__link Нижнее бельё
                    ul.menu-dropdown__sublist
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link футболки
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link майки
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link трусы
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link комплекты: футболка + трусы
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link комплекты: майка + трусы
                  li.menu-dropdown__item
                    a(href="javascript:void(0);").menu-dropdown__link Термобельё
                    ul.menu-dropdown__sublist
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link комплекты термобелья
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link термо водолазка
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link термо лонгслив
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link термо футболка
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link термо кальсоны
            li.header-catalog__item
              a(href="javascript:void(0);").header-catalog__link для девочек
              .menu-dropdown
                ul.menu-dropdown__list
                  li.menu-dropdown__item
                    a(href="javascript:void(0);").menu-dropdown__link Носочные изделия
                    ul.menu-dropdown__sublist
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link Носки
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link Высокие носки (гольфы)
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link Следки
                  li.menu-dropdown__item
                    a(href="javascript:void(0);").menu-dropdown__link Нижнее бельё
                    ul.menu-dropdown__sublist
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link футболки
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link майки
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link трусы
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link комплекты: футболка + трусы
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link комплекты: майка + трусы
                  li.menu-dropdown__item
                    a(href="javascript:void(0);").menu-dropdown__link Термобельё
                    ul.menu-dropdown__sublist
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link комплекты термобелья
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link термо водолазка
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link термо лонгслив
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link термо футболка
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link термо кальсоны
                  li.menu-dropdown__item
                    a(href="javascript:void(0);").menu-dropdown__link Носочные изделия
                    ul.menu-dropdown__sublist
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link Носки
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link Высокие носки (гольфы)
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link Следки
                  li.menu-dropdown__item
                    a(href="javascript:void(0);").menu-dropdown__link Термобельё
                    ul.menu-dropdown__sublist
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link комплекты термобелья
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link термо водолазка
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link термо лонгслив
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link термо футболка
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link термо кальсоны
                  li.menu-dropdown__item
                    a(href="javascript:void(0);").menu-dropdown__link Нижнее бельё
                    ul.menu-dropdown__sublist
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link футболки
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link майки
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link трусы
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link комплекты: футболка + трусы
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link комплекты: майка + трусы
                  li.menu-dropdown__item
                    a(href="javascript:void(0);").menu-dropdown__link Одежда
                    ul.menu-dropdown__sublist
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link водолазки
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link лонгсливы
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link домашние комплекты
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link домашние брюки
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link домашние шорты
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link пижамы
                  li.menu-dropdown__item
                    a(href="javascript:void(0);").menu-dropdown__link Одежда
                    ul.menu-dropdown__sublist
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link водолазки
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link лонгсливы
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link домашние комплекты
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link домашние брюки
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link домашние шорты
                      li.menu-dropdown__sublist-item
                        a(href="javascript:void(0);").menu-dropdown__sublist-link пижамы
            li.header-catalog__item
              a(href="javascript:void(0);").header-catalog__link для мальчиков
              +menu-dropdown
        .header-search__wrap
          input(type='search' placeholder='поиск товаров:').search-input
          a(href="javascript:void(0);").search-link
            img(src='../img/icon-search.svg' alt='', title='').icon-search
          
  
.header-mob__wrap.d-block.d-lg-none
  .container
    .header-mob
      .header-mob__top
        .header-mob__left
          a(href="javascript:void(0);").humb-block
            img(src='../img/icon-humb.svg' alt='', title='').humb-img
          .header-logo__wrap
            a(href="javascript:void(0);").header-logo
              img(src='img/logo.svg' alt='', title='').logo-img
        .header-mob__right
          .header-login__wrap.d-none
            a(href="javascript:void(0);").header-login войти
          .header-login__wrap
            a(href="javascript:void(0);").header-user Константинопольский К.
              .user-status профессиональный партнер
      .header-mob__middle
        a(href="tel:+74951398079").header-bottom-menu__link +7 (495) 139-80-79
        .header-mob__info с ПН по ПТ с 8:00 до 17:00, в СБ с 8:00 до 16:00
      .header-mob__bottom  
        .header-person__block
          a(href="javascript:void(0);").header-person.icon-heart в избранном: 0 шт.
          a(href="javascript:void(0);").header-person.icon-basket в корзине: 999 шт.
            .basket-sum.price на сумму: 999 999.99 руб.      
      .header-mob__catalog
        a(href="javascript:void(0);").humb-red-block
          img(src='../img/icon-humb-red.svg' alt='', title='').humb-red-img
        .header-search__wrap
          input(type='search' placeholder='поиск товаров:').search-input
          a(href="javascript:void(0);").search-link
            img(src='../img/icon-search.svg' alt='', title='').icon-search
        
            


