.menu-mob__wrap.d-block.d-lg-none
  .menu-mob
    +menu-mob-head
    .menu-mob__catalog
      .menu-mob__block
        ul.menu-mob__list
          each val in ['о компании', 'новости', 'информация', 'обзоры', 'прайс и бланк', 'система скидок', 'стать партнером', 'отзывы о компании']
            li.menu-mob__item
              a(href="javascript:void(0);").menu-mob__link !{val}
      .menu-mob__block
        a(href="tel:+74951398079").menu-mob__tel 8 (495) 139-80-79
        ul.menu-mob__list
          each val in ['адрес и контакты', 'консультирование', 'доставка', 'оплата']
            li.menu-mob__item
              a(href="javascript:void(0);").menu-mob__link !{val}


.catalog-mob__wrap.d-block.d-lg-none
  .menu-mob
    +menu-mob-head
    .menu-mob__catalog
      .header-search__wrap
        input(type='search' placeholder='поиск товаров:').search-input
        a(href="javascript:void(0);").search-link
          img(src='../img/icon-search.svg' alt='', title='').icon-search
      .menu-mob__block
        .menu-mob__title все товары
        ul.menu-mob__list
          each val in ['для женщин', 'для мужчин', 'для девочек', 'для мальчиков']
            li.menu-mob__item
              a(href="javascript:void(0);").menu-mob__link !{val}
    
