mixin product-item(date)
  .product-item__block
    .product-item
      .product-date__wrap
        if(date === true)
          .product-date дата поступления: 21.01.2021
      .product-img__wrap
        img(src='../img/product-img.png' alt='', title='').product-img
      .product-category колготки
      .product-title INNAMORE 
        .span-br EMOTION RETE VISIONE 40
        .span-br.product-comment autoreggente
      .product-desc
        | Ультратонкие абсолютно прозрачные
        | эластичные колготки на каждый день,
        | с классической посадкой на талии...
      +product-price

mixin product-item-analog(date)
  .product-item__block
    a(href="javascript:void(0);").product-item__link
      .product-item
        .product-date__wrap
          if(date === true)
            .product-date дата поступления: 21.01.2021
        .product-img__wrap
          img(src='../img/product-img.png' alt='', title='').product-img
        .product-category колготки
        .product-title INNAMORE 
          .span-br EMOTION RETE VISIONE 40
          .span-br.product-comment autoreggente
        .product-desc
          | Ультратонкие абсолютно прозрачные
          | эластичные колготки на каждый день,
          | с классической посадкой на талии...
        +product-price

mixin product-price
  .product-price
    | цена:  
    .price-count.price 188.50 
    | руб.
  .product-add
    .product-price__add при покупке на сумму:
      .span-br от 1 000 до 5 000 руб.
      .span-br экономия: 0.00 руб. 
    .buttons-line__wrap
      +button-green('добавить в корзину') 
      a(href="javascript:void(0);").button.button-favor
        svg(width='39' height='33' viewbox='0 0 42 35' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M22.1261 33.5562L37.368 18.2079C41.113 14.4367 41.6656 8.23245 38.1214 4.26918C37.2337 3.27358 36.1538 2.47055 34.9477 1.9091C33.7416 1.34764 32.4345 1.03953 31.1062 1.00356C29.7779 0.967591 28.4563 1.20452 27.2219 1.69989C25.9876 2.19526 24.8664 2.93869 23.9268 3.88481L21.062 6.76959L18.5886 4.27887C14.8435 0.507637 8.6823 -0.0487478 4.74652 3.52011C3.75782 4.41405 2.96036 5.50147 2.40279 6.71601C1.84523 7.93056 1.53925 9.24676 1.50354 10.5843C1.46782 11.9219 1.7031 13.2527 2.19504 14.4957C2.68697 15.7387 3.42525 16.8677 4.3648 17.8138L19.998 33.5562C20.2802 33.8403 20.6629 34 21.062 34C21.4611 34 21.8439 33.8404 22.1261 33.5562Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
          



mixin news-main-item
  .news-main-item__block
    .news-main__item
      .news-main__date 21.01.2021
      .news-main__title Внимание! Импортер FILODORO снизил цены на некоторые модели.
      .news-main__desc
        | С 21 января официальный импортер
        | продукции тм FILODORO снизил цены
        | на некоторые модели...
      a(href="javascript:void(0);").button-text читать новость полностью


mixin feedback-item
  .feedback-item__block
    .feedback-item
      .feedback-date 21 января 2021
      .feedback-title Смирнова Варвара
      +feedback-rating('отличный магазин')
      .feedback-desc__block
        .feedback-subtitle способ покупки:
        .feedback-desc
          | самовывоз
      .feedback-desc__block
        .feedback-subtitle Достоинства:
        .feedback-desc
          | Большой (огромный выбор), реальное
          | наличие, профессионализм продавцов,
          | комфортная обстановка...
      a(href="javascript:void(0);").button-text читать отзыв полностью

      
mixin feedback-rating(text)
  .feedback-rating__block
    .feedback-rating__wrap
      .feedback-rating__empty 
      .feedback-rating__full(style='width: 80%;')
    .feedback-rating__text=text

mixin banner-main(data)
  a(href="javascript:void(0);").banner-main
    .banner(style=`background-image:url('img/${data.img}');`)
      .banner-slider__info
        .banner-slider__title=data.title
        .banner-slider__text=data.text

            
mixin breadcrumb(page)
  .container
    .breadcrumb-wrap.d-none.d-lg-block
      ul.breadcrumb__list
        li.breadcrumb__item
          a(href="javascript:void(0);").breadcrumb__link главная
        li.breadcrumb__item
          span.breadcrumb__span=page


mixin sort-catalog
  .container
    .catalog-head.d-none.d-lg-block
      .row
        .col-lg-3
        .col-lg-9
          .catalog-sort__wrap
            .catalog-sort
              .catalog-sort__title сортировка:
              ul.catalog-sort__list
                li.catalog-sort__item.item-active-js
                  a(href="javascript:void(0);").catalog-sort__link по названию ↓↑ Az
                li.catalog-sort__item.item-active-js
                  a(href="javascript:void(0);").catalog-sort__link по популярности ↓↑ ^
                li.catalog-sort__item.item-active-js
                  a(href="javascript:void(0);").catalog-sort__link по рейтингу ↓↑ ^ 
                li.catalog-sort__item.item-active-js
                  a(href="javascript:void(0);").catalog-sort__link по цене ↓↑ ^ 
            .catalog-view
              .catalog-sort__title вид:
              .icons-sort
                .icon-sort.icon-tiles.item-active-js
                .icon-sort.icon-list.item-active-js.active
      
mixin input-block(title, inputClass, type, placeholder, star, inputSize)
  .input-block
    label.input-block__title=title
      if(star === true)
        span.star *
    div(class='input__wrap ' + inputSize)
      input(class="input " + inputClass,  type=type, placeholder=placeholder)
      .tooltip-error Поле обязательно для заполнения

mixin button-green(text, butClass)
  button(class='button button-green ' + butClass, type="submit") !{text}

mixin input-block-search(title, inputClass, type, placeholder, star, inputSize)
  .input-block
    label.input-block__title=title
    if(star === true)
      span.star *
    div(class='input__wrap ' + inputSize)
      input(class="input " + inputClass,  type=type, placeholder=placeholder)
      .tooltip-error Поле обязательно для заполнения
      a(href="javascript:void(0);").search-link
        img(src='../img/icon-search.svg' alt='', title='').icon-search

mixin textarea-block(title, placeholder)
  .input-block
    label.input-block__title=title
    .input__wrap.input-textarea__wrap
      textarea(placeholder=placeholder).textarea
      
mixin textarea-block-red(title, placeholder)
  .input-block
    label.text-block__title=title
    .input__wrap.input-textarea__wrap
      textarea(placeholder=placeholder).textarea




mixin select-block(title, selValue, star)
  .input-block
    label.input-block__title=title
    if(star === true)
      span.star *
    .input__wrap
      select.select
        option.option=selValue
        option.option Вариант 2
        option.option Вариант 3
        option.option Вариант 4
        option.option Вариант 5

mixin select-block-search(title, selectType, star)
  .input-block
    label.input-block__title=title
    if(star === true)
      span.star *
    .input__wrap
      select(class='select-search ' + selectType)
        option.option
        - for(var i=0; i<2; i++)
          option.option Авангард
          option.option Авдеевка
          option.option Авиаторское
          option.option Агрономичное
          option.option Аджамка
          option.option Ананьев
          option.option Андреевка
          option.option Москва
          option.option Санкт-Петербург
          

          
mixin radio-block(img, name, check)
  .col-lg-2
    label.radio-block__item
      img(src=`img/${img}` alt='', title='').radio-block__img
      if(check === true)
        input(type='radio' name=name checked).input-radio
      else 
        input(type='radio' name=name).input-radio
      .radio-block__check

mixin radio-block-tabs(img, name, check)
  label.radio-block__item
    img(src=`img/${img}` alt='', title='').radio-block__img
    if(check === true)
      input(type='radio' name=name checked).input-radio
    else 
      input(type='radio' name=name).input-radio
    .radio-block__check

        
mixin filter-link(title, count)
  .filter-accord__item.accord-wrap--js
    .filter-accord__title.accord-title--js=title
    .filter-accord__block.accord-block--js
      .checkbox__block-wrap
        .checkbox__block-nano
          .checkbox__block-nano-content
            .checkbox__block
              each name in ['все товары', 'для женщин', 'для мужчин','для девочек', 'для мальчиков']
                .label-checkbox
                  a(href="javascript:void(0);").checkbox-text 
                    span !{name}
                    if(count === true)
                      .checkbox-count (2300)

mixin filter-checkbox-img(title, count)
  .filter-accord__item.accord-wrap--js
    .filter-accord__title.accord-title--js=title
    .filter-accord__block.accord-block--js
      .checkbox__block-wrap
        .checkbox__block-nano
          .checkbox__block-nano-content
            .checkbox__block
              - for(var i=1; i<40; i++)
                label.label-checkbox
                  input(type='checkbox').input-checkbox
                  .checkbox-img__wrap
                    img(src='../img/brand-filter-1.png' alt='', title='').checkbox-img
                  if(count === true)
                    span.checkbox-count (2360)
  
          
mixin filter-checkbox(title, count)
  .filter-accord__item.accord-wrap--js
    .filter-accord__title.accord-title--js=title
    .filter-accord__block.accord-block--js
      .checkbox__block-wrap
        .checkbox__block-nano
          .checkbox__block-nano-content
            .checkbox__block
              - for(var i=0; i<2; i++)
                each name in ['все плотности', 'ультратонкие, 5-10 den', 'плотные, 50-90 den','супер плотные (тёплые)', 'все плотности', 'все плотности', 'ультратонкие, 5-10 den', 'плотные, 50-90 den','супер плотные (тёплые)', 'все плотности']
                  label.label-checkbox
                    input(type='checkbox').input-checkbox
                    .checkbox-text 
                      span !{name}
                      if(count === true)
                        span.checkbox-count (360)

          
mixin paginator
  .paginator-wrap
    ul.paginator
      li
        a(href="javascript:void(0);").paginator-arrow-left
          svg(width='8' height='16' viewBox='0 0 8 16' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M7 1L1 8L7 15' stroke='#383838' stroke-linecap='round')
      li.paginator-item.item-active-js.active
        a(href="javascript:void(0);").paginator-link 1
      li.paginator-item.item-active-js
        a(href="javascript:void(0);").paginator-link 2
      li.paginator-item.item-active-js
        a(href="javascript:void(0);").paginator-link 3
      li.paginator-item.item-active-js
        a(href="javascript:void(0);").paginator-link 4
      li.item-active-js
        | ...
      li.paginator-item.last.item-active-js
        a(href="javascript:void(0);").paginator-link 8
      li
        a(href="javascript:void(0);").paginator-arrow-right
          svg(width='8' height='16' viewBox='0 0 8 16' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M1 1L7 8L1 15' stroke='#383838' stroke-linecap='round')

            
mixin product-color(color, name)
  .product-color__item
    .product-color__value(style=`background:${color};`)
    .product-color__name=name

      
mixin text-block(data)
  .text-block__wrap
    .text-block__title=data.title
    p.text-block__desc=data.desc

mixin news-list-item(data)
  .news-list__item
    .news-list__date 21 января 2021
    .news-list__title=data.title 
    .news-list__text=data.text 
    a(href="javascript:void(0);").button-text.button-black=data.button 

    
mixin factor-item(data)
  .factor-item
    .factor-img__wrap
      img(src=`img/${data.img}` alt='', title='').factor-img
    .factor-desc
      .factor-title=data.title
      .factor-text !{data.text}

mixin feedback-reply-arrow
  .feedback-reply__arrow
    img(src='img/icon-reply-arrow.jpg' alt='', title='').img-reply-arrow

mixin order-info-item(title, text)
  .order-info__item
    .order-info__title=title
    .order-info__text=text  

mixin lk-address(title, value, base)
  .lk-address__item
    .lk-address__info
      .lk-address__info-title=title
      textarea(placeholder='' disabled).input-text
        | !{value}
    .edit-block
      if(base === true)
        a(href="javascript:void(0);").button-text сделать основным
      .edit-buttons
        a(href="javascript:void(0);").button-text.edit-button
          span редактировать
        a(href="javascript:void(0);").button-text.save-button
          span сохранить
      a(href="javascript:void(0);").button-text удалить

      
mixin password-block(title, inputSize)
  .lk-info__block
    h2.h2=title
    +input-block('Новый пароль (от 6 символов):', 'pass', 'password', '******', true, inputSize)
    +input-block('Повторить новый пароль (от 6 символов):', '', 'password', '******', true, inputSize)
  
mixin agreement-block
  .agreement__block
    label.label-checkbox
      input(type='checkbox').input-checkbox
      .checkbox-text Я принимаю условия <a href="javascript:void(0);" class='button-text'>политики конфиденциальности</a> и согласен на обработку персональных данных. *
    .tooltip-error Поле обязательно для заполнения
  
mixin working-type-item(data)
  .working-type__item
    .working-type__title=data.title
    .working-type__text=data.text

  
mixin feedback-send-stars(title, name)
  .feedback-send__stars
    .text-block__title=title
    .review_stars_wrap
      #review_stars
        input#star-4(type='radio' name=`${name}`)
        label(title='Отлично' for='star-4')
          i.fas.fa-star
        input#star-3(type='radio' name=`${name}`)
        label(title='Хорошо' for='star-3')
          i.fas.fa-star
        input#star-2(type='radio' name=`${name}` checked='checked')
        label(title='Нормально' for='star-2')
          i.fas.fa-star
        input#star-1(type='radio' name=`${name}`)
        label(title='Плохо' for='star-1')
          i.fas.fa-star
        input#star-0(type='radio' name=`${name}`)
        label(title='Ужасно' for='star-0')
          i.fas.fa-star
          
mixin feedback-send-stars-company(title, name)
  .feedback-send__stars
    .text-block__title=title
    .review_stars_wrap
      #review_stars
        input#star-9(type='radio' name=`${name}`)
        label(title='Отлично' for='star-9')
          i.fas.fa-star
        input#star-8(type='radio' name=`${name}`)
        label(title='Хорошо' for='star-8')
          i.fas.fa-star
        input#star-7(type='radio' name=`${name}` checked='checked')
        label(title='Нормально' for='star-7')
          i.fas.fa-star
        input#star-6(type='radio' name=`${name}`)
        label(title='Плохо' for='star-6')
          i.fas.fa-star
        input#star-5(type='radio' name=`${name}`)
        label(title='Ужасно' for='star-5')
          i.fas.fa-star

mixin feedback-send-stars-product(title, name)
  .feedback-send__stars
    .text-block__title=title
    .review_stars_wrap
      #review_stars
        input#star-14(type='radio' name=`${name}`)
        label(title='Отлично' for='star-14')
          i.fas.fa-star
        input#star-13(type='radio' name=`${name}`)
        label(title='Хорошо' for='star-13')
          i.fas.fa-star
        input#star-12(type='radio' name=`${name}` checked='checked')
        label(title='Нормально' for='star-12')
          i.fas.fa-star
        input#star-11(type='radio' name=`${name}`)
        label(title='Плохо' for='star-11')
          i.fas.fa-star
        input#star-10(type='radio' name=`${name}`)
        label(title='Ужасно' for='star-10')
          i.fas.fa-star

          
mixin td-input(i, dont)
  if(dont === true)
    td.td
      input(type='number' disabled).input-small
  else
    td.td
      input(type='number' data-size=`size_${i+1}`).input-small

      
mixin tr-bottom
  tr.tr-bottom.d-none.d-lg-table-row
    td.td.text-right.pr-3 есть в наличии 
    td.td
      .input-small
    td.td(colspan='4').text-right.pr-3 нет в наличии 
    td.td
      input(type='number' disabled).input-small
      
  
mixin cell-bootom-mob(count, price, sum)
  .cell-bootom__mob.d-block.d-lg-none
    .cell-bootom__item
      .cell-bootom__left кол-во
      .cell-bootom__right=count
    .cell-bootom__item
      .cell-bootom__left цена ₽
      .cell-bootom__right=price
    .cell-bootom__item
      .cell-bootom__left сумма ₽
      .cell-bootom__right=sum
  

mixin tr-bottom-mob
  .tr-bottom.d-flex.align-items-center.d-lg-none
    .td.text-right.pr-1 есть в наличии 
    .td.mr-3
      .input-small
    .td.text-right.pr-1 нет в наличии 
    .td
      input(type='number' disabled).input-small
      
  
mixin result-block
  .result-block__wrap.step-4
    .row
      .col-lg-6
        .sum__wrap
          .sum-description сумма по заказу: 
          .sum-value.price 10 544.40 руб.
        .sum__wrap
          .sum-description доставка по Москве до терминала ТК, при оплате онлайн (интернет эквайринг):
          .sum-value.price 400 руб.
        .sum__wrap.sum-total
          .sum-description итого к оплате:
          .sum-value.price 10 944.40 руб.
    .row
      .col-lg-9
        .agreement-button
          p.agreement
            | Нажимая кнопку «Оформить заказ», я принимаю условия <a href="#" class="button-text">«Публичной оферты»</a> и даю своё согласие на обработку своих персональных данных в соответствии  с соглашением <a href="#" class="button-text">«Об обработке персональных данных»</a>.
          .buttons-line__wrap
            +button-green('оформить заказ')
  
mixin step-3
  .step__wrap.step-3
    .step-title <span class='span-br-mob'>Шаг 3 из 3. </span>Выбор варианта оплаты заказа.
    .tabs.tabs-pay
      .tabs__wrap
        .radio-block__wrap
          .input-block__title Возможные варианты
            span.star *
          .radio-block__list
            a(href="javascript:void(0);" data-thumb='step-3-5').tabs__item.tabs-item--js.active
              +radio-block-tabs('pay-img-5.png', 'pay')
            a(href="javascript:void(0);" data-thumb='step-3-4').tabs__item.tabs-item--js
              +radio-block-tabs('pay-img-4.png', 'pay')
            a(href="javascript:void(0);" data-thumb='step-3-3').tabs__item.tabs-item--js
              +radio-block-tabs('pay-img-3.png', 'pay')
            a(href="javascript:void(0);" data-thumb='step-3-1').tabs__item.tabs-item--js
              +radio-block-tabs('pay-img-1.png', 'pay')
            a(href="javascript:void(0);" data-thumb='step-3-2').tabs__item.tabs-item--js
              +radio-block-tabs('pay-img-2.png', 'pay')
    .tabs__block--js.tabs-block_pay(data-thumb='step-3-5').active
      .desc
        p.p
          | Оплата курьеру наличными в рублях при получении заказа.
    .tabs__block--js.tabs-block_pay(data-thumb='step-3-4')
      .desc
        p.p
          | Оплата онлайн (интернет эквайринг) банковской картой ("Mastercard", "Visa", «Мир») на сайте. Безопасность платежа обеспечивает процессинговый центр ПАО АКБ "Авангард" (банк в котором у компании «ПроКолготки» открыт счёт). Предоставленные данные полностью защищены в рамках стандарта 
          | безопасности данных платежных карт (Payment Card Industry Data Security Standart). Ввод данных происходит на сайте: <a href="#">https://www.avangard.ru/rus/</a>. Оплата может быть произведена сразу или после подтверждения выполнения заказа (для информации свяжитесь с нашими менеджерами).
    .tabs__block--js.tabs-block_pay(data-thumb='step-3-3')
      | Lorem ipsum orci malesuada cursus quisque ligula maecenas vivamus sodales. Vitae lorem ligula sagittis, integer eget tellus bibendum porttitor massa odio nam sed: nibh elementum. Proin, maecenas sed magna vivamus adipiscing sem: sagittis fusce maecenas ligula, leo sit ultricies gravida proin adipiscing ultricies elementum et integer quisque, sem porta.
    .tabs__block--js.tabs-block_pay(data-thumb='step-3-1')
      | Lorem ipsum orci malesuada cursus quisque ligula maecenas vivamus sodales. Vitae lorem ligula sagittis, integer eget tellus bibendum porttitor massa odio nam sed: nibh elementum. Proin, maecenas sed magna vivamus adipiscing sem: sagittis fusce maecenas ligula, leo sit ultricies gravida proin adipiscing ultricies elementum et integer quisque, sem porta.
    .tabs__block--js.tabs-block_pay(data-thumb='step-3-2')
      | Lorem ipsum orci malesuada cursus quisque ligula maecenas vivamus sodales. Vitae lorem ligula sagittis, integer eget tellus bibendum porttitor massa
  
  
mixin menu-mob-head
  .menu-mob__head
    .menu-mob__head-left
      .button-close
      .header-logo__wrap
        a(href="javascript:void(0);").header-logo
          img(src='img/logo-mini.svg' alt='', title='').logo-mini-img
    .menu-mob__head-right
      .menu-mob__icon-wrap
        a(href="javascript:void(0);").menu-mob__icon.icon-login-mob
      .menu-mob__icon-wrap
        a(href="javascript:void(0);").menu-mob__icon.icon-heart-mob
      .menu-mob__icon-wrap
        a(href="javascript:void(0);").menu-mob__icon.icon-basket-mob
              
mixin menu-dropdown
  .menu-dropdown
    ul.menu-dropdown__list
      li.menu-dropdown__item
        a(href="javascript:void(0);").menu-dropdown__link Чулочно-носочные изделия
        ul.menu-dropdown__sublist
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link колготки
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link леггинсы 
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link чулки
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link гольфины (ботфорты)
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link носочки
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link следки
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link носки
      li.menu-dropdown__item
        a(href="javascript:void(0);").menu-dropdown__link Одежда
        ul.menu-dropdown__sublist
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link водолазки
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link лонгсливы
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link блузы
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link брюки
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link леггинсы и капри
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link шорты
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link домашние комплекты
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link пижамы
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link сорочки
      li.menu-dropdown__item
        a(href="javascript:void(0);").menu-dropdown__link Нижнее бельё
        ul.menu-dropdown__sublist
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link боди
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link футболки
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link майки
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link топы
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link бюстгальтеры
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link трусы
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link наборы трусов
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link комплекты: майки + трусы
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link пояса для чулок
      li.menu-dropdown__item
        a(href="javascript:void(0);").menu-dropdown__link Корректирующее бельё
        ul.menu-dropdown__sublist
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link корректирующие боди
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link корректирующие топы
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link корректирующие леггинсы
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link корректирующие трусы
      li.menu-dropdown__item
        a(href="javascript:void(0);").menu-dropdown__link Термобельё
        ul.menu-dropdown__sublist
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link комплекты термобелья
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link термо водолазка
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link термо лонгслив
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link термо футболка
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link термо леггинсы
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link термо шорты
          li.menu-dropdown__sublist-item
            a(href="javascript:void(0);").menu-dropdown__sublist-link термо трусы









  
          
  
