#modal-favor-del.modal-small.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container
          .modal-title Удаление содержимого избранного
          .desc
            p.p
              | Внимание! Вы действительно хотите удалить все содержимое избранного безвозвратно?
          .buttons__wrap
            +button-green('удалить содержимое избранного') 

#modal-cart-del.modal-small.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container
          .modal-title Удаление содержимого корзины
          .desc
            p.p
              | Внимание! Вы действительно хотите удалить все содержимое корзины безвозвратно?
          .buttons__wrap
            +button-green('удалить содержимое корзины')


#modal-promo-rules.modal-middle.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container
          .modal-title Правила работы с промо-кодом
          .desc
            p.p
              | Любой покупатель (физическое лицо) может стать участником или организатором коллективного заказа.
            p.p
              | Покупатель-организатор, должен создать промо-код для коллективного заказа (создается на странице сайта, при оформление заказа). После чего, организатор должен найти других участников коллективного заказа, готовых сделать свой заказ и поделится с ними своим промо-кодом.
            p.p
              | Другие участники при оформлении своего заказа вводят данный промо-код в предназначенное поле, тем самым подтверждая участие в коллективном заказе.
            p.p
              | После того, как покупатель-организатор подтвердит окончание сбора коллективного заказа, весь заказ (заказ каждого участника в отдельности) будет перерасчитан. Уровень скидки 
              | (цена товаров) будет зависеть от суммы всего коллективного заказа.
            p.p
              | Главные принципы нашего предложения:
              | <span class='span-br'>1) вы делаете заказы, а мы предоставляем скидку от общей суммы всех заказов;</span>
              | <span class='span-br'>2) больше коллективный заказ - меньше цена для каждого участника;</span>
              | <span class='span-br'>3) цена должна соответствовать действующему прайс-листу (публикуется на сайте).</span>
            p.p
              | Каждый участник получает отдельно упакованный и отдельно посчитанный свой заказ.
            p.p
              | Если, требуется доставка, то она может быть выполнена либо целиком на выбранный адрес организатором, либо любой участник может заказать свою доставку (одного или нескольких заказов). Цена доставки рассчитывается отдельно для каждого адреса.
            p.p
              | После окончания сбора коллективного заказа, промо-код прекращает свое действие, и становится не актуальным. Срок действия промо-кода не более 7 рабочих дней.
            p.p
              | Время выполнения заказа зависит от организатора и времени сбора всего заказа, так как, расчёт скидки возможен, только после сбора всего заказа.
            p.p
              | Если у вас остались вопросы звоните нам по телефону: +7 (495) 139-80-79 в рабочее время: 
              | <span class='span-br'>с ПН - ПТ с 8:00 до 17:00, в СБ с 8:00 до 16:00 или пишите на: <a href='#'>prokolgotki@gmail.com</a></span>
          .buttons__wrap
            +button-green('понятно') 

#modal-promo-create.modal-small.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container
          .modal-title Создание промо-кода
          .desc
            p.p
              | Внимание! Промо-код для коллективного заказ могут создавать только зарегистрированные пользователи, и только после входа в свой аккаунт. Для получения промо-кода нажмите кнопку «создать». После чего в ближайшее время, на вашу почту будет отправлено письмо с созданным промо-кодом. Чтобы использовать промо-код, введите его на странице оформления заказа и распространите среди других участников коллективного заказа. 
            p.p
              | Время действие промо-кода не более 7 рабочих дней.
            p.p
              | Если у вас остались вопросы звоните нам по телефону: +7 (495) 139-80-79 в рабочее время: 
              | с ПН - ПТ с 8:00 до 17:00, в СБ с 8:00 до 16:00 или пишите на: <a href='#'>prokolgotki@gmail.com</a>
          .buttons__wrap
            +button-green('создать промо-код')  


#modal-reg-login.modal-small.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container
          .modal-title Восстановление пароля
          .desc
            p.p
              | Для восстановления пароля на ваш e-mail будет отправлено письмо с ссылкой для доступа к своему личному кабинету, где будет возможно создать новый пароль к своему аккаунту. Если письмо 
              | не приходит, значит у нас нет аккаунта с таким логином... 
              | <span class='span-br'>Тогда попробуйте другой логин и зарегистрируйте новый</span>
          .modal-inputs__wrap
            .input__wrap
              input(type='text', placeholder='Логин (e-mail)').input
          .buttons__wrap
            +button-green('отправить письмо')   


#modal-no-login.modal-small.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container
          .modal-title Внимание!
          .desc
            p.p
              | Пользователя с указанным вами логином (e-mail) не существует. 
              | <span class='span-br'>Попробуйте другой логин или зарегистрируйтесь с новым логином.</span>
          .buttons-line__wrap
            a(href="javascript:void(0);").button-text Войти с другим логином или новая регистрация.

#modal-rating.modal-small.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container
          .modal-title О рейтинге модели
          .desc
            p.p
              | Рейтинг - это наша субъективная оценка, основанная из 3-х составляющих: 
            p.p
              | Внешний вид - общее впечатление о модели, где мы пытаемся оценить: ровность и плотность вязки, качество окраса, аккуратность и качество сборки (пошива) изделия, вид и качество упаковки.
            p.p
              | Конструкция - оценка особенностей модели таких как: наличие  
              | ластовицы, наличие и качество формовки изделия, вид и качество швов, ширина пояса-резинки, сложность конструкции. 
            p.p
              | Комфортность - оценка наших впечатлений, таких как: тактильная приятность (мягкость, гладкость), гигиеничность ношения, достаточность эластичности, удобство ношения (данные из реальных отзывов потребителей о ношении данных изделий). 
            p.p
              | Наш рейтинг модели - это оценка по 5-ти бальной системе, где минимальная оценка (1.00), а максимальная (5.00).
            p.p
              | Данный рейтинг - это в большей степени оценка наших впечатлений и нашего понимания, основанного на различных особенностях моделей. Обращаем ваше внимание, что более высокая оценка рейтинга не может быть гарантом большей практичности.
          .buttons__wrap
            +button-green('понятно')


#modal-lk-repeat.modal-small.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container
          .modal-title Внимание!
          .desc
            p.p
              | Пользователь с данным логином уже существует. Если это ваш логин (e-mail) попробуйте авторизоваться. Если вы забыли свой пароль, то восстановите его
          .modal-inputs__wrap
            .input__wrap
              input(type='text', placeholder='Логин (e-mail)').input
            .input__wrap
              input(type='password', placeholder='Пароль').input
            .modal-check__wrap
              label.label-checkbox
                input(type='checkbox').input-checkbox
                .checkbox-text запомнить меня
              a(href="javascript:void(0);").button-text забыли пароль?
          .buttons__wrap
            +button-green('войти', 'mb-3 mb-lg-4') 
            a(href="javascript:void(0);").button-text регистрация

            
#modal-address-del.modal-small.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container
          .modal-title Удаление адреса доставки
          .desc
            p.p
              | Вы действительно хотите удалить адрес доставки:
              | <span class='span-br'>г. Москва, Красная площадь, д. 1, корп. 1, кв. 1</span>
          .buttons__wrap
            +button-green('удалить адрес') 

#modal-order-min.modal-small.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container
          .modal-title Внимание!
          .desc
            p.p.text-center
              | Минимальная сумма заказа от 1000 руб.
          .buttons__wrap
            +button-green('понятно')

#modal-callback.modal-small.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container
          .modal-title Форма заказа обратного звонка
          .modal-inputs__wrap.mb-3.mb-lg-5
            .input__wrap
              input(type='text', placeholder='Как к вам обращаться').input
            .input__wrap
              input(type='tel', placeholder='Тел. +7 (***) ***-**-**').input.phone
            .input__wrap
              input(type='text', placeholder='Удобное время звонка').input
          .desc
            p.p
              | Внимание! Сервис доступен только в рабочее время компании
              | <span class='span-br'>с ПН по ПТ с 8:00 до 17:00, в сб с 8:00 до 16:00</span>
              | <span class='span-br'>(кроме праздничных выходных дней).</span>

          .buttons__wrap
            +button-green('заказать звонок') 


#modal-download.modal-small.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container
          .modal-title Скачать прайс-лист и бланк заказа 
          .desc
            p.p
              | Чтобы скачать прайс-лист и бланк заказа в формате excel перейдите по соответствующим ссылкам: 
          .text-table
            .text-table__row
              .text-table__cell
                a(href="../img/brand-filter-1.png" download).button-text прайс лист
              .text-table__cell
                p.p - актуальные предложения по цене с понятной зависимостью цены от суммы заказа.
            .text-table__row
              .text-table__cell
                a(href="../img/brand-filter-1.png" download).button-text бланк заказа
              .text-table__cell
                p.p - форма заказа для тех, кто по каким-то приничинам не хочет или не может пользоваться оформлением заказа на сайте (по нашему мнению, делать заказ на сайте намного удобней).


#modal-feedback.modal-small.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container
          .modal-title Оставить отзыв о работе компании
          .desc
            p.p
              | Внимание! Оставлять отзыв могут только зарегистрированные пользователи. <a href="javascript:void(0);" class='button-text'>Войти в свой аккаунт</a>
          .feedback-send__wrap
            +feedback-send-stars-company('Общая оценка', 'stars2')
          .modal-inputs__wrap
            +textarea-block('Достоинства', 'Что понравилось?')
            +textarea-block('Недостатки', 'Что не понравилось?')
            +textarea-block('Комментарий', '')
          .buttons__wrap
            +button-green('оставить отзыв')

#modal-feedback-product.modal-small.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container
          .modal-title Оставить отзыв о товаре
          .desc
            p.p
              | Внимание! Оставлять отзыв могут только зарегистрированные пользователи. <a href="javascript:void(0);" class='button-text'>Войти в свой аккаунт</a>
          .feedback-send__wrap
            +feedback-send-stars-product('Общая оценка', 'stars3')
          .modal-inputs__wrap
            +textarea-block('Достоинства', 'Что понравилось?')
            +textarea-block('Недостатки', 'Что не понравилось?')
            +textarea-block('Комментарий', '')
          .buttons__wrap
            +button-green('оставить отзыв')

            
#modal-lk-done.modal-small.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container
          .modal-title Личный кабинет зарегистрирован
          .desc
            p.p
              | Теперь вы можете начать свою историю заказов и стать участником программы лояльности для постоянных покупателей. 
            p.p
              | При необходимости в личном кабинете все данные можно редактировать (например: контактный телефон, адрес доставки и.т.д), кроме логина (e-mail).
            p.p
              | <a href="javascript:void(0);") class='button-text'>Система скидок и программа лояльности.</a>
          .buttons__wrap
            +button-green('понятно')


#modal-email.modal-small.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container
          .modal-title Подтверждение вашего e-mail
          .desc
            p.p
              | Для корректного взаимодействия необходимо подтвердить ваш почтовый адрес (e-mail), который в дальнейшем будет являться логином к вашему аккаунту. На указанный вами e-mail, будет отправлено письмо. Для подтверждения вашего почтового адреса, перейдите по ссылки из этого письма.
            p.p
              | Спасибо за понимание.   
          .buttons__wrap
            +button-green('отправить письмо') 

#modal-order-done.modal-small.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container
          .modal-title Заказ оформлен
          .desc.mb-0
            p.p
              | Вы оформили заказ № 11470-000001. 
            p.p
              | В ближайшее время наши менеджеры свяжутся с вами для уточнения и подтверждения деталей заказа. 
              | <span class='span-br'>Внимание! Сервис доступен только в рабочее время компании</span> 
              | <span class='span-br'>с ПН по ПТ с 8:00 до 17:00, в СБ с 8:00 до 16:00</span>  
              | (кроме праздничных выходных дней). 
            p.p
              | С содержимым вашего заказа можно ознакомиться в личном кабинете. 
            p.p
              | <a href="javascript:void(0);") class='button-text'>перейти в личный кабинет</a>

            
#modal-lk-login.modal-small.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container
          .modal-title Личный кабинет
          .modal-inputs__wrap
            .input__wrap
              input(type='text', placeholder='Логин (e-mail)').input
            .input__wrap
              input(type='password', placeholder='Пароль').input
            .modal-check__wrap
              label.label-checkbox
                input(type='checkbox').input-checkbox
                .checkbox-text запомнить меня
              a(href="javascript:void(0);").button-text забыли пароль?
          .buttons__wrap
            +button-green('войти', 'mb-3 mb-lg-4')
            a(href="javascript:void(0);").button-text регистрация

            
#modal-activation.modal-small.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container
          .modal-title Внимание!
          .desc
            p.p
              | Для активации регистрации, на вашу почту (e-mail), отправлено письмо. Перейдите по ссылке из этого письма.
          .buttons__wrap
            +button-green('понятно')

   
#modal-add-1.modal-big.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container
          .modal-big__title GOLDEN LADY MY SECRET 8 summer
          .modal-big__subtitle колготки бесшовные (цельновязанные)
          .desc
            p.p
              | Для наполнения корзины или избранного необходимо указать нужное количество (цифрой), учитывая цвет и размер данной модели. После этого данные из таблицы сразу попадают в корзину. Редактируя значения в таблице, содержимое корзины будет меняться.
          .modal-orders__block
            .modal-orders__wrap.custom-scrollbar
              table.modal-orders
                thead.thead
                  tr.tr
                    th.th
                    th.th(data-size='size_1') UNICA
                    -for(var j=0; j<6; j++)
                      th.th
                tbody.tbody
                  -for(var n=0; n<2; n++)
                    tr.tr
                      td.td-first
                        +product-color('#181818', 'NERO')
                      -for(var i=0; i<1; i++)
                        +td-input(i)
                      -for(var j=0; j<6; j++)
                        td.td
                    tr.tr
                      td.td-first
                        +product-color('#CDAE81', 'sahara')
                      -for(var i=0; i<1; i++)
                        +td-input(i)
                      -for(var j=0; j<6; j++)
                        td.td
                    tr.tr
                      td.td-first
                        +product-color('#9E783F', 'CAPUCCINO')
                      -for(var i=0; i<1; i++)
                        +td-input(i)
                      -for(var j=0; j<6; j++)
                        td.td
                  tr.tr
                    td.td-first
                      +product-color('#9E783F', 'the')
                    +td-input(i, true)
                    -for(var j=0; j<6; j++)
                      td.td
                  +tr-bottom
          +tr-bottom-mob
          
            
#modal-add-2.modal-big.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container
          .modal-big__title GOLDEN LADY MY SECRET 8 summer
          .modal-big__subtitle колготки бесшовные (цельновязанные)
          .desc
            p.p
              | Для наполнения корзины или избранного необходимо указать нужное количество (цифрой), учитывая цвет и размер данной модели. После этого данные из таблицы сразу попадают в корзину. Редактируя значения в таблице, содержимое корзины будет меняться.
          .modal-orders__block
            .modal-orders__wrap.custom-scrollbar
              table.modal-orders
                thead.thead
                  tr.tr
                    th.th
                    th.th(data-size='size_1') s(44)
                    th.th(data-size='size_2') m(46)
                    th.th(data-size='size_3') l(48)
                    th.th(data-size='size_4') xl(50)
                    th.th(data-size='size_5') 2xl(52)
                    th.th(data-size='size_6') 3xl(54)
                    th.th(data-size='size_7') 4xl(56)
                tbody.tbody
                  -for(var n=0; n<2; n++)
                    tr.tr
                      td.td-first
                        +product-color('#181818', 'NERO')
                      -for(var i=0; i<7; i++)
                        +td-input(i)
                    tr.tr
                      td.td-first
                        +product-color('#CDAE81', 'sahara')
                      -for(var i=0; i<7; i++)
                        +td-input(i)
                    tr.tr
                      td.td-first
                        +product-color('#9E783F', 'CAPUCCINO')
                      -for(var i=0; i<7; i++)
                        +td-input(i)
                  tr.tr
                    td.td-first
                      +product-color('#9E783F', 'the')
                    +td-input(i, true)
                    -for(var i=0; i<6; i++)
                      +td-input
                  +tr-bottom
          +tr-bottom-mob
          

#modal-add-3.modal-big.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container
          .modal-big__title GOLDEN LADY MY SECRET 8 summer
          .modal-big__subtitle колготки бесшовные (цельновязанные)
          .desc
            p.p
              | Для наполнения корзины или избранного необходимо указать нужное количество (цифрой), учитывая цвет и размер данной модели. После этого данные из таблицы сразу попадают в корзину. Редактируя значения в таблице, содержимое корзины будет меняться.
          .modal-orders__block
            .modal-orders__wrap.custom-scrollbar
              table.modal-orders 
                thead.thead 
                  tr.tr 
                    th.th 
                    th.th(data-size='size_1') 2-s
                    th.th(data-size='size_2') 3-m
                    th.th(data-size='size_3') 4-L
                    th.th(data-size='size_4') 5-xl
                    -for(var j=0; j<3; j++)
                      th.th
                tbody.tbody 
                  -for(var n=0; n<2; n++)
                    tr.tr 
                      td.td-first
                        +product-color('#181818', 'NERO')
                      -for(var i=0; i<4; i++)
                        +td-input(i)
                      -for(var j=0; j<3; j++)
                        td.td
                    tr.tr 
                      td.td-first
                        +product-color('#CDAE81', 'sahara')
                      -for(var i=0; i<4; i++)
                        +td-input(i)
                      -for(var j=0; j<3; j++)
                        td.td
                    tr.tr 
                      td.td-first
                        +product-color('#9E783F', 'CAPUCCINO')
                      -for(var i=0; i<4; i++)
                        +td-input(i)
                      -for(var j=0; j<3; j++)
                        td.td
                  tr.tr
                    td.td-first
                      +product-color('#9E783F', 'the')
                    +td-input(i, true)
                    -for(var i=0; i<3; i++)
                      +td-input
                    -for(var j=0; j<3; j++)
                      td.td 
                  +tr-bottom
          +tr-bottom-mob
          

#modal-add-4.modal-big.modal.fade(tabindex='-1', role='dialog' )
  .modal-dialog(role='document')
    .modal-content
      button.close-modal(type='button', data-dismiss='modal', aria-label='Закрыть')
      .modal-body
        .modal-container
          .modal-big__title GOLDEN LADY MY SECRET 8 summer
          .modal-big__subtitle колготки бесшовные (цельновязанные)
          .desc
            p.p
              | Для наполнения корзины или избранного необходимо указать нужное количество (цифрой), учитывая цвет и размер данной модели. После этого данные из таблицы сразу попадают в корзину. Редактируя значения в таблице, содержимое корзины будет меняться.
          .modal-orders__block
            .modal-orders__wrap.custom-scrollbar
              table.modal-orders 
                thead.thead 
                  tr.tr 
                    th.th 
                    th.th(data-size='size_1') s(44)
                    th.th(data-size='size_2') m(46)
                    th.th(data-size='size_3') l(48)
                    th.th(data-size='size_4') xl(50)
                    th.th(data-size='size_5') 2xl(52)
                    th.th(data-size='size_6') 3xl(54)
                    th.th(data-size='size_7') 4xl(56)
                tbody.tbody 
                  -for(var n=0; n<5; n++)
                    tr.tr 
                      td.td-first
                        +product-color('#181818', 'NERO')
                      -for(var i=0; i<7; i++)
                        +td-input(i)
                    tr.tr 
                      td.td-first
                        +product-color('#CDAE81', 'sahara')
                      -for(var i=0; i<7; i++)
                        +td-input(i)
                    tr.tr 
                      td.td-first
                        +product-color('#9E783F', 'CAPUCCINO')
                      -for(var i=0; i<7; i++)
                        +td-input(i)
                  tr.tr
                    td.td-first
                      +product-color('#9E783F', 'the')
                    -for(var i=0; i<6; i++)
                      +td-input
                    +td-input(i, true)  
                  +tr-bottom
          +tr-bottom-mob
